/*
   COLUMN SPAN
*/

.cs-non {   column-span: none; }
.cs-all {   column-span: all; }
.cs-span {  column-span: inherit; }

@include break(not-small) {
  .cs-non-ns  { column-span: none; }
  .cs-all-ns  { column-span: all; }
  .cs-span-ns { column-span: inherit; }
}

@include break(medium) {
  .cs-non-m  { column-span: none; }
  .cs-all-m  { column-span: all; }
  .cs-span-m { column-span: inherit; }
}

@include break(large) {
  .cs-non-l  { column-span: none; }
  .cs-all-l  { column-span: all; }
  .cs-span-l { column-span: inherit; }
}

@include break(extra-large) {
  .cs-non-xl  { column-span: none; }
  .cs-all-xl  { column-span: all; }
  .cs-span-xl { column-span: inherit; }
}
