/*
   FILTER CONTRAST
*/

.contrast0 { filter: contrast(0); }
.contrast1 { filter: contrast(50%); }
.contrast2 { filter: contrast(75%); }
.contrast3 { filter: contrast(100%); }
.contrast4 { filter: contrast(150%); }
.contrast5 { filter: contrast(200%); }

@include break(not-small) {
  .contrast0-ns { filter: contrast(0); }
  .contrast1-ns { filter: contrast(50%); }
  .contrast2-ns { filter: contrast(75%); }
  .contrast3-ns { filter: contrast(100%); }
  .contrast4-ns { filter: contrast(150%); }
  .contrast5-ns { filter: contrast(200%); }

}

@include break(medium) {
  .contrast0-m { filter: contrast(0); }
  .contrast1-m { filter: contrast(50%); }
  .contrast2-m { filter: contrast(75%); }
  .contrast3-m { filter: contrast(100%); }
  .contrast4-m { filter: contrast(150%); }
  .contrast5-m { filter: contrast(200%); }

}

@include break(large) {
  .contrast0-l { filter: contrast(0); }
  .contrast1-l { filter: contrast(50%); }
  .contrast2-l { filter: contrast(75%); }
  .contrast3-l { filter: contrast(100%); }
  .contrast4-l { filter: contrast(150%); }
  .contrast5-l { filter: contrast(200%); }
}

@include break(extra-large) {
  .contrast0-xl { filter: contrast(0); }
  .contrast1-xl { filter: contrast(50%); }
  .contrast2-xl { filter: contrast(75%); }
  .contrast3-xl { filter: contrast(100%); }
  .contrast4-xl { filter: contrast(150%); }
  .contrast5-xl { filter: contrast(200%); }
}
