/* ==========================================================================
   FILTERS - HUE ROTATE
   ========================================================================== */

.hue-rotate1 { filter: hue-rotate(45deg); }
.hue-rotate2 { filter: hue-rotate(90deg); }
.hue-rotate3 { filter: hue-rotate(135deg); }
.hue-rotate4 { filter: hue-rotate(180deg); }
.hue-rotate5 { filter: hue-rotate(225deg); }
.hue-rotate6 { filter: hue-rotate(270deg); }
.hue-rotate7 { filter: hue-rotate(315deg); }
.hue-rotate8 { filter: hue-rotate(360deg); }

@include break(not-small) {
  .hue-rotate1-ns { filter: hue-rotate(45deg); }
  .hue-rotate2-ns { filter: hue-rotate(90deg); }
  .hue-rotate3-ns { filter: hue-rotate(135deg); }
  .hue-rotate4-ns { filter: hue-rotate(180deg); }
  .hue-rotate5-ns { filter: hue-rotate(225deg); }
  .hue-rotate6-ns { filter: hue-rotate(270deg); }
  .hue-rotate7-ns { filter: hue-rotate(315deg); }
  .hue-rotate8-ns { filter: hue-rotate(360deg); }
}

@include break(medium) {
  .hue-rotate1-m { filter: hue-rotate(45deg); }
  .hue-rotate2-m { filter: hue-rotate(90deg); }
  .hue-rotate3-m { filter: hue-rotate(135deg); }
  .hue-rotate4-m { filter: hue-rotate(180deg); }
  .hue-rotate5-m { filter: hue-rotate(225deg); }
  .hue-rotate6-m { filter: hue-rotate(270deg); }
  .hue-rotate7-m { filter: hue-rotate(315deg); }
  .hue-rotate8-m { filter: hue-rotate(360deg); }
}

@include break(large) {
  .hue-rotate1-l { filter: hue-rotate(45deg); }
  .hue-rotate2-l { filter: hue-rotate(90deg); }
  .hue-rotate3-l { filter: hue-rotate(135deg); }
  .hue-rotate4-l { filter: hue-rotate(180deg); }
  .hue-rotate5-l { filter: hue-rotate(225deg); }
  .hue-rotate6-l { filter: hue-rotate(270deg); }
  .hue-rotate7-l { filter: hue-rotate(315deg); }
  .hue-rotate8-l { filter: hue-rotate(360deg); }
}

