/*
   FILTER BLUR
*/

.blur1 { filter: blur(1px); }
.blur2 { filter: blur(.125rem); }
.blur3 { filter: blur(.25rem); }
.blur4 { filter: blur(.5rem); }
.blur5 { filter: blur(1rem); }

@include break(not-small) {
  .blur1-ns { filter: blur(1px); }
  .blur2-ns { filter: blur(.125rem); }
  .blur3-ns { filter: blur(.25rem); }
  .blur4-ns { filter: blur(.5rem); }
  .blur5-ns { filter: blur(1rem); }
}

@include break(medium) {
  .blur1-m { filter: blur(1px); }
  .blur2-m { filter: blur(.125rem); }
  .blur3-m { filter: blur(.25rem); }
  .blur4-m { filter: blur(.5rem); }
  .blur5-m { filter: blur(1rem); }
}

@include break(large) {
  .blur1-l { filter: blur(1px); }
  .blur2-l { filter: blur(.125rem); }
  .blur3-l { filter: blur(.25rem); }
  .blur4-l { filter: blur(.5rem); }
  .blur5-l { filter: blur(1rem); }
}

