/* ==========================================================================
   FILTERS - INVERT
   ========================================================================== */

.invert-1 {  filter: invert(1%); }
.invert-2 {  filter: invert(2%); }
.invert-3 {  filter: invert(3%); }
.invert-4 {  filter: invert(4%); }
.invert-5 {  filter: invert(5%); }
.invert-6 {  filter: invert(6%); }
.invert-7 {  filter: invert(7%); }
.invert-8 {  filter: invert(8%); }
.invert-9 {  filter: invert(9%); }
.invert-10 { filter: invert(10%); }
.invert-11 { filter: invert(11%); }
.invert-12 { filter: invert(12%); }
.invert-13 { filter: invert(13%); }
.invert-14 { filter: invert(14%); }
.invert-15 { filter: invert(15%); }
.invert-16 { filter: invert(16%); }
.invert-17 { filter: invert(17%); }
.invert-18 { filter: invert(18%); }
.invert-19 { filter: invert(19%); }
.invert-20 { filter: invert(20%); }
.invert-21 { filter: invert(21%); }
.invert-22 { filter: invert(22%); }
.invert-23 { filter: invert(23%); }
.invert-24 { filter: invert(24%); }
.invert-25 { filter: invert(25%); }
.invert-26 { filter: invert(26%); }
.invert-27 { filter: invert(27%); }
.invert-28 { filter: invert(28%); }
.invert-29 { filter: invert(29%); }
.invert-30 { filter: invert(30%); }
.invert-31 { filter: invert(31%); }
.invert-32 { filter: invert(32%); }
.invert-33 { filter: invert(33%); }
.invert-34 { filter: invert(34%); }
.invert-35 { filter: invert(35%); }
.invert-36 { filter: invert(36%); }
.invert-37 { filter: invert(37%); }
.invert-38 { filter: invert(38%); }
.invert-39 { filter: invert(39%); }
.invert-40 { filter: invert(40%); }
.invert-41 { filter: invert(41%); }
.invert-42 { filter: invert(42%); }
.invert-43 { filter: invert(43%); }
.invert-44 { filter: invert(44%); }
.invert-45 { filter: invert(45%); }
.invert-46 { filter: invert(46%); }
.invert-47 { filter: invert(47%); }
.invert-48 { filter: invert(48%); }
.invert-49 { filter: invert(49%); }
.invert-50 { filter: invert(50%); }
.invert-51 { filter: invert(51%); }
.invert-52 { filter: invert(52%); }
.invert-53 { filter: invert(53%); }
.invert-54 { filter: invert(54%); }
.invert-55 { filter: invert(55%); }
.invert-56 { filter: invert(56%); }
.invert-57 { filter: invert(57%); }
.invert-58 { filter: invert(58%); }
.invert-59 { filter: invert(59%); }
.invert-60 { filter: invert(60%); }
.invert-61 { filter: invert(61%); }
.invert-62 { filter: invert(62%); }
.invert-63 { filter: invert(63%); }
.invert-64 { filter: invert(64%); }
.invert-65 { filter: invert(65%); }
.invert-66 { filter: invert(66%); }
.invert-67 { filter: invert(67%); }
.invert-68 { filter: invert(68%); }
.invert-69 { filter: invert(69%); }
.invert-70 { filter: invert(70%); }
.invert-71 { filter: invert(71%); }
.invert-72 { filter: invert(72%); }
.invert-73 { filter: invert(73%); }
.invert-74 { filter: invert(74%); }
.invert-75 { filter: invert(75%); }
.invert-76 { filter: invert(76%); }
.invert-77 { filter: invert(77%); }
.invert-78 { filter: invert(78%); }
.invert-79 { filter: invert(79%); }
.invert-80 { filter: invert(80%); }
.invert-81 { filter: invert(81%); }
.invert-82 { filter: invert(82%); }
.invert-83 { filter: invert(83%); }
.invert-84 { filter: invert(84%); }
.invert-85 { filter: invert(85%); }
.invert-86 { filter: invert(86%); }
.invert-87 { filter: invert(87%); }
.invert-88 { filter: invert(88%); }
.invert-89 { filter: invert(89%); }
.invert-90 { filter: invert(90%); }
.invert-91 { filter: invert(91%); }
.invert-92 { filter: invert(92%); }
.invert-93 { filter: invert(93%); }
.invert-94 { filter: invert(94%); }
.invert-95 { filter: invert(95%); }
.invert-96 { filter: invert(96%); }
.invert-97 { filter: invert(97%); }
.invert-98 { filter: invert(98%); }
.invert-99 { filter: invert(99%); }
.invert-100 { filter: invert(100%); }

@include break(not-small) {
  .invert-1-ns { filter: invert(1%); }
  .invert-2-ns { filter: invert(2%); }
  .invert-3-ns { filter: invert(3%); }
  .invert-4-ns { filter: invert(4%); }
  .invert-5-ns { filter: invert(5%); }
  .invert-6-ns { filter: invert(6%); }
  .invert-7-ns { filter: invert(7%); }
  .invert-8-ns { filter: invert(8%); }
  .invert-9-ns { filter: invert(9%); }
  .invert-10-ns { filter: invert(10%); }
  .invert-11-ns { filter: invert(11%); }
  .invert-12-ns { filter: invert(12%); }
  .invert-13-ns { filter: invert(13%); }
  .invert-14-ns { filter: invert(14%); }
  .invert-15-ns { filter: invert(15%); }
  .invert-16-ns { filter: invert(16%); }
  .invert-17-ns { filter: invert(17%); }
  .invert-18-ns { filter: invert(18%); }
  .invert-19-ns { filter: invert(19%); }
  .invert-20-ns { filter: invert(20%); }
  .invert-21-ns { filter: invert(21%); }
  .invert-22-ns { filter: invert(22%); }
  .invert-23-ns { filter: invert(23%); }
  .invert-24-ns { filter: invert(24%); }
  .invert-25-ns { filter: invert(25%); }
  .invert-26-ns { filter: invert(26%); }
  .invert-27-ns { filter: invert(27%); }
  .invert-28-ns { filter: invert(28%); }
  .invert-29-ns { filter: invert(29%); }
  .invert-30-ns { filter: invert(30%); }
  .invert-31-ns { filter: invert(31%); }
  .invert-32-ns { filter: invert(32%); }
  .invert-33-ns { filter: invert(33%); }
  .invert-34-ns { filter: invert(34%); }
  .invert-35-ns { filter: invert(35%); }
  .invert-36-ns { filter: invert(36%); }
  .invert-37-ns { filter: invert(37%); }
  .invert-38-ns { filter: invert(38%); }
  .invert-39-ns { filter: invert(39%); }
  .invert-40-ns { filter: invert(40%); }
  .invert-41-ns { filter: invert(41%); }
  .invert-42-ns { filter: invert(42%); }
  .invert-43-ns { filter: invert(43%); }
  .invert-44-ns { filter: invert(44%); }
  .invert-45-ns { filter: invert(45%); }
  .invert-46-ns { filter: invert(46%); }
  .invert-47-ns { filter: invert(47%); }
  .invert-48-ns { filter: invert(48%); }
  .invert-49-ns { filter: invert(49%); }
  .invert-50-ns { filter: invert(50%); }
  .invert-51-ns { filter: invert(51%); }
  .invert-52-ns { filter: invert(52%); }
  .invert-53-ns { filter: invert(53%); }
  .invert-54-ns { filter: invert(54%); }
  .invert-55-ns { filter: invert(55%); }
  .invert-56-ns { filter: invert(56%); }
  .invert-57-ns { filter: invert(57%); }
  .invert-58-ns { filter: invert(58%); }
  .invert-59-ns { filter: invert(59%); }
  .invert-60-ns { filter: invert(60%); }
  .invert-61-ns { filter: invert(61%); }
  .invert-62-ns { filter: invert(62%); }
  .invert-63-ns { filter: invert(63%); }
  .invert-64-ns { filter: invert(64%); }
  .invert-65-ns { filter: invert(65%); }
  .invert-66-ns { filter: invert(66%); }
  .invert-67-ns { filter: invert(67%); }
  .invert-68-ns { filter: invert(68%); }
  .invert-69-ns { filter: invert(69%); }
  .invert-70-ns { filter: invert(70%); }
  .invert-71-ns { filter: invert(71%); }
  .invert-72-ns { filter: invert(72%); }
  .invert-73-ns { filter: invert(73%); }
  .invert-74-ns { filter: invert(74%); }
  .invert-75-ns { filter: invert(75%); }
  .invert-76-ns { filter: invert(76%); }
  .invert-77-ns { filter: invert(77%); }
  .invert-78-ns { filter: invert(78%); }
  .invert-79-ns { filter: invert(79%); }
  .invert-80-ns { filter: invert(80%); }
  .invert-81-ns { filter: invert(81%); }
  .invert-82-ns { filter: invert(82%); }
  .invert-83-ns { filter: invert(83%); }
  .invert-84-ns { filter: invert(84%); }
  .invert-85-ns { filter: invert(85%); }
  .invert-86-ns { filter: invert(86%); }
  .invert-87-ns { filter: invert(87%); }
  .invert-88-ns { filter: invert(88%); }
  .invert-89-ns { filter: invert(89%); }
  .invert-90-ns { filter: invert(90%); }
  .invert-91-ns { filter: invert(91%); }
  .invert-92-ns { filter: invert(92%); }
  .invert-93-ns { filter: invert(93%); }
  .invert-94-ns { filter: invert(94%); }
  .invert-95-ns { filter: invert(95%); }
  .invert-96-ns { filter: invert(96%); }
  .invert-97-ns { filter: invert(97%); }
  .invert-98-ns { filter: invert(98%); }
  .invert-99-ns { filter: invert(99%); }
  .invert-100-ns { filter: invert(100%); }
}

@include break(medium) {
  .invert-1-m { filter: invert(1%); }
  .invert-2-m { filter: invert(2%); }
  .invert-3-m { filter: invert(3%); }
  .invert-4-m { filter: invert(4%); }
  .invert-5-m { filter: invert(5%); }
  .invert-6-m { filter: invert(6%); }
  .invert-7-m { filter: invert(7%); }
  .invert-8-m { filter: invert(8%); }
  .invert-9-m { filter: invert(9%); }
  .invert-10-m { filter: invert(10%); }
  .invert-11-m { filter: invert(11%); }
  .invert-12-m { filter: invert(12%); }
  .invert-13-m { filter: invert(13%); }
  .invert-14-m { filter: invert(14%); }
  .invert-15-m { filter: invert(15%); }
  .invert-16-m { filter: invert(16%); }
  .invert-17-m { filter: invert(17%); }
  .invert-18-m { filter: invert(18%); }
  .invert-19-m { filter: invert(19%); }
  .invert-20-m { filter: invert(20%); }
  .invert-21-m { filter: invert(21%); }
  .invert-22-m { filter: invert(22%); }
  .invert-23-m { filter: invert(23%); }
  .invert-24-m { filter: invert(24%); }
  .invert-25-m { filter: invert(25%); }
  .invert-26-m { filter: invert(26%); }
  .invert-27-m { filter: invert(27%); }
  .invert-28-m { filter: invert(28%); }
  .invert-29-m { filter: invert(29%); }
  .invert-30-m { filter: invert(30%); }
  .invert-31-m { filter: invert(31%); }
  .invert-32-m { filter: invert(32%); }
  .invert-33-m { filter: invert(33%); }
  .invert-34-m { filter: invert(34%); }
  .invert-35-m { filter: invert(35%); }
  .invert-36-m { filter: invert(36%); }
  .invert-37-m { filter: invert(37%); }
  .invert-38-m { filter: invert(38%); }
  .invert-39-m { filter: invert(39%); }
  .invert-40-m { filter: invert(40%); }
  .invert-41-m { filter: invert(41%); }
  .invert-42-m { filter: invert(42%); }
  .invert-43-m { filter: invert(43%); }
  .invert-44-m { filter: invert(44%); }
  .invert-45-m { filter: invert(45%); }
  .invert-46-m { filter: invert(46%); }
  .invert-47-m { filter: invert(47%); }
  .invert-48-m { filter: invert(48%); }
  .invert-49-m { filter: invert(49%); }
  .invert-50-m { filter: invert(50%); }
  .invert-51-m { filter: invert(51%); }
  .invert-52-m { filter: invert(52%); }
  .invert-53-m { filter: invert(53%); }
  .invert-54-m { filter: invert(54%); }
  .invert-55-m { filter: invert(55%); }
  .invert-56-m { filter: invert(56%); }
  .invert-57-m { filter: invert(57%); }
  .invert-58-m { filter: invert(58%); }
  .invert-59-m { filter: invert(59%); }
  .invert-60-m { filter: invert(60%); }
  .invert-61-m { filter: invert(61%); }
  .invert-62-m { filter: invert(62%); }
  .invert-63-m { filter: invert(63%); }
  .invert-64-m { filter: invert(64%); }
  .invert-65-m { filter: invert(65%); }
  .invert-66-m { filter: invert(66%); }
  .invert-67-m { filter: invert(67%); }
  .invert-68-m { filter: invert(68%); }
  .invert-69-m { filter: invert(69%); }
  .invert-70-m { filter: invert(70%); }
  .invert-71-m { filter: invert(71%); }
  .invert-72-m { filter: invert(72%); }
  .invert-73-m { filter: invert(73%); }
  .invert-74-m { filter: invert(74%); }
  .invert-75-m { filter: invert(75%); }
  .invert-76-m { filter: invert(76%); }
  .invert-77-m { filter: invert(77%); }
  .invert-78-m { filter: invert(78%); }
  .invert-79-m { filter: invert(79%); }
  .invert-80-m { filter: invert(80%); }
  .invert-81-m { filter: invert(81%); }
  .invert-82-m { filter: invert(82%); }
  .invert-83-m { filter: invert(83%); }
  .invert-84-m { filter: invert(84%); }
  .invert-85-m { filter: invert(85%); }
  .invert-86-m { filter: invert(86%); }
  .invert-87-m { filter: invert(87%); }
  .invert-88-m { filter: invert(88%); }
  .invert-89-m { filter: invert(89%); }
  .invert-90-m { filter: invert(90%); }
  .invert-91-m { filter: invert(91%); }
  .invert-92-m { filter: invert(92%); }
  .invert-93-m { filter: invert(93%); }
  .invert-94-m { filter: invert(94%); }
  .invert-95-m { filter: invert(95%); }
  .invert-96-m { filter: invert(96%); }
  .invert-97-m { filter: invert(97%); }
  .invert-98-m { filter: invert(98%); }
  .invert-99-m { filter: invert(99%); }
  .invert-100-m { filter: invert(100%); }
}

@include break(large) {
  .invert-1-l { filter: invert(1%); }
  .invert-2-l { filter: invert(2%); }
  .invert-3-l { filter: invert(3%); }
  .invert-4-l { filter: invert(4%); }
  .invert-5-l { filter: invert(5%); }
  .invert-6-l { filter: invert(6%); }
  .invert-7-l { filter: invert(7%); }
  .invert-8-l { filter: invert(8%); }
  .invert-9-l { filter: invert(9%); }
  .invert-10-l { filter: invert(10%); }
  .invert-11-l { filter: invert(11%); }
  .invert-12-l { filter: invert(12%); }
  .invert-13-l { filter: invert(13%); }
  .invert-14-l { filter: invert(14%); }
  .invert-15-l { filter: invert(15%); }
  .invert-16-l { filter: invert(16%); }
  .invert-17-l { filter: invert(17%); }
  .invert-18-l { filter: invert(18%); }
  .invert-19-l { filter: invert(19%); }
  .invert-20-l { filter: invert(20%); }
  .invert-21-l { filter: invert(21%); }
  .invert-22-l { filter: invert(22%); }
  .invert-23-l { filter: invert(23%); }
  .invert-24-l { filter: invert(24%); }
  .invert-25-l { filter: invert(25%); }
  .invert-26-l { filter: invert(26%); }
  .invert-27-l { filter: invert(27%); }
  .invert-28-l { filter: invert(28%); }
  .invert-29-l { filter: invert(29%); }
  .invert-30-l { filter: invert(30%); }
  .invert-31-l { filter: invert(31%); }
  .invert-32-l { filter: invert(32%); }
  .invert-33-l { filter: invert(33%); }
  .invert-34-l { filter: invert(34%); }
  .invert-35-l { filter: invert(35%); }
  .invert-36-l { filter: invert(36%); }
  .invert-37-l { filter: invert(37%); }
  .invert-38-l { filter: invert(38%); }
  .invert-39-l { filter: invert(39%); }
  .invert-40-l { filter: invert(40%); }
  .invert-41-l { filter: invert(41%); }
  .invert-42-l { filter: invert(42%); }
  .invert-43-l { filter: invert(43%); }
  .invert-44-l { filter: invert(44%); }
  .invert-45-l { filter: invert(45%); }
  .invert-46-l { filter: invert(46%); }
  .invert-47-l { filter: invert(47%); }
  .invert-48-l { filter: invert(48%); }
  .invert-49-l { filter: invert(49%); }
  .invert-50-l { filter: invert(50%); }
  .invert-51-l { filter: invert(51%); }
  .invert-52-l { filter: invert(52%); }
  .invert-53-l { filter: invert(53%); }
  .invert-54-l { filter: invert(54%); }
  .invert-55-l { filter: invert(55%); }
  .invert-56-l { filter: invert(56%); }
  .invert-57-l { filter: invert(57%); }
  .invert-58-l { filter: invert(58%); }
  .invert-59-l { filter: invert(59%); }
  .invert-60-l { filter: invert(60%); }
  .invert-61-l { filter: invert(61%); }
  .invert-62-l { filter: invert(62%); }
  .invert-63-l { filter: invert(63%); }
  .invert-64-l { filter: invert(64%); }
  .invert-65-l { filter: invert(65%); }
  .invert-66-l { filter: invert(66%); }
  .invert-67-l { filter: invert(67%); }
  .invert-68-l { filter: invert(68%); }
  .invert-69-l { filter: invert(69%); }
  .invert-70-l { filter: invert(70%); }
  .invert-71-l { filter: invert(71%); }
  .invert-72-l { filter: invert(72%); }
  .invert-73-l { filter: invert(73%); }
  .invert-74-l { filter: invert(74%); }
  .invert-75-l { filter: invert(75%); }
  .invert-76-l { filter: invert(76%); }
  .invert-77-l { filter: invert(77%); }
  .invert-78-l { filter: invert(78%); }
  .invert-79-l { filter: invert(79%); }
  .invert-80-l { filter: invert(80%); }
  .invert-81-l { filter: invert(81%); }
  .invert-82-l { filter: invert(82%); }
  .invert-83-l { filter: invert(83%); }
  .invert-84-l { filter: invert(84%); }
  .invert-85-l { filter: invert(85%); }
  .invert-86-l { filter: invert(86%); }
  .invert-87-l { filter: invert(87%); }
  .invert-88-l { filter: invert(88%); }
  .invert-89-l { filter: invert(89%); }
  .invert-90-l { filter: invert(90%); }
  .invert-91-l { filter: invert(91%); }
  .invert-92-l { filter: invert(92%); }
  .invert-93-l { filter: invert(93%); }
  .invert-94-l { filter: invert(94%); }
  .invert-95-l { filter: invert(95%); }
  .invert-96-l { filter: invert(96%); }
  .invert-97-l { filter: invert(97%); }
  .invert-98-l { filter: invert(98%); }
  .invert-99-l { filter: invert(99%); }
  .invert-100-l { filter: invert(100%); }
}

