/*
   FILTER SATURATE
*/

.saturate-1 {  filter: saturate(1%); }
.saturate-2 {  filter: saturate(2%); }
.saturate-3 {  filter: saturate(3%); }
.saturate-4 {  filter: saturate(4%); }
.saturate-5 {  filter: saturate(5%); }
.saturate-6 {  filter: saturate(6%); }
.saturate-7 {  filter: saturate(7%); }
.saturate-8 {  filter: saturate(8%); }
.saturate-9 {  filter: saturate(9%); }
.saturate-10 {  filter: saturate(10%); }
.saturate-11 {  filter: saturate(11%); }
.saturate-12 {  filter: saturate(12%); }
.saturate-13 {  filter: saturate(13%); }
.saturate-14 {  filter: saturate(14%); }
.saturate-15 {  filter: saturate(15%); }
.saturate-16 {  filter: saturate(16%); }
.saturate-17 {  filter: saturate(17%); }
.saturate-18 {  filter: saturate(18%); }
.saturate-19 {  filter: saturate(19%); }
.saturate-20 {  filter: saturate(20%); }
.saturate-21 {  filter: saturate(21%); }
.saturate-22 {  filter: saturate(22%); }
.saturate-23 {  filter: saturate(23%); }
.saturate-24 {  filter: saturate(24%); }
.saturate-25 {  filter: saturate(25%); }
.saturate-26 {  filter: saturate(26%); }
.saturate-27 {  filter: saturate(27%); }
.saturate-28 {  filter: saturate(28%); }
.saturate-29 {  filter: saturate(29%); }
.saturate-30 {  filter: saturate(30%); }
.saturate-31 {  filter: saturate(31%); }
.saturate-32 {  filter: saturate(32%); }
.saturate-33 {  filter: saturate(33%); }
.saturate-34 {  filter: saturate(34%); }
.saturate-35 {  filter: saturate(35%); }
.saturate-36 {  filter: saturate(36%); }
.saturate-37 {  filter: saturate(37%); }
.saturate-38 {  filter: saturate(38%); }
.saturate-39 {  filter: saturate(39%); }
.saturate-40 {  filter: saturate(40%); }
.saturate-41 {  filter: saturate(41%); }
.saturate-42 {  filter: saturate(42%); }
.saturate-43 {  filter: saturate(43%); }
.saturate-44 {  filter: saturate(44%); }
.saturate-45 {  filter: saturate(45%); }
.saturate-46 {  filter: saturate(46%); }
.saturate-47 {  filter: saturate(47%); }
.saturate-48 {  filter: saturate(48%); }
.saturate-49 {  filter: saturate(49%); }
.saturate-50 {  filter: saturate(50%); }
.saturate-51 {  filter: saturate(51%); }
.saturate-52 {  filter: saturate(52%); }
.saturate-53 {  filter: saturate(53%); }
.saturate-54 {  filter: saturate(54%); }
.saturate-55 {  filter: saturate(55%); }
.saturate-56 {  filter: saturate(56%); }
.saturate-57 {  filter: saturate(57%); }
.saturate-58 {  filter: saturate(58%); }
.saturate-59 {  filter: saturate(59%); }
.saturate-60 {  filter: saturate(60%); }
.saturate-61 {  filter: saturate(61%); }
.saturate-62 {  filter: saturate(62%); }
.saturate-63 {  filter: saturate(63%); }
.saturate-64 {  filter: saturate(64%); }
.saturate-65 {  filter: saturate(65%); }
.saturate-66 {  filter: saturate(66%); }
.saturate-67 {  filter: saturate(67%); }
.saturate-68 {  filter: saturate(68%); }
.saturate-69 {  filter: saturate(69%); }
.saturate-70 {  filter: saturate(70%); }
.saturate-71 {  filter: saturate(71%); }
.saturate-72 {  filter: saturate(72%); }
.saturate-73 {  filter: saturate(73%); }
.saturate-74 {  filter: saturate(74%); }
.saturate-75 {  filter: saturate(75%); }
.saturate-76 {  filter: saturate(76%); }
.saturate-77 {  filter: saturate(77%); }
.saturate-78 {  filter: saturate(78%); }
.saturate-79 {  filter: saturate(79%); }
.saturate-80 {  filter: saturate(80%); }
.saturate-81 {  filter: saturate(81%); }
.saturate-82 {  filter: saturate(82%); }
.saturate-83 {  filter: saturate(83%); }
.saturate-84 {  filter: saturate(84%); }
.saturate-85 {  filter: saturate(85%); }
.saturate-86 {  filter: saturate(86%); }
.saturate-87 {  filter: saturate(87%); }
.saturate-88 {  filter: saturate(88%); }
.saturate-89 {  filter: saturate(89%); }
.saturate-90 {  filter: saturate(90%); }
.saturate-91 {  filter: saturate(91%); }
.saturate-92 {  filter: saturate(92%); }
.saturate-93 {  filter: saturate(93%); }
.saturate-94 {  filter: saturate(94%); }
.saturate-95 {  filter: saturate(95%); }
.saturate-96 {  filter: saturate(96%); }
.saturate-97 {  filter: saturate(97%); }
.saturate-98 {  filter: saturate(98%); }
.saturate-99 {  filter: saturate(99%); }
.saturate-100 {  filter: saturate(100%); }

@include break(not-small) {
  .saturate-1-ns {  filter: saturate(1%); }
  .saturate-2-ns {  filter: saturate(2%); }
  .saturate-3-ns {  filter: saturate(3%); }
  .saturate-4-ns {  filter: saturate(4%); }
  .saturate-5-ns {  filter: saturate(5%); }
  .saturate-6-ns {  filter: saturate(6%); }
  .saturate-7-ns {  filter: saturate(7%); }
  .saturate-8-ns {  filter: saturate(8%); }
  .saturate-9-ns {  filter: saturate(9%); }
  .saturate-10-ns {  filter: saturate(10%); }
  .saturate-11-ns {  filter: saturate(11%); }
  .saturate-12-ns {  filter: saturate(12%); }
  .saturate-13-ns {  filter: saturate(13%); }
  .saturate-14-ns {  filter: saturate(14%); }
  .saturate-15-ns {  filter: saturate(15%); }
  .saturate-16-ns {  filter: saturate(16%); }
  .saturate-17-ns {  filter: saturate(17%); }
  .saturate-18-ns {  filter: saturate(18%); }
  .saturate-19-ns {  filter: saturate(19%); }
  .saturate-20-ns {  filter: saturate(20%); }
  .saturate-21-ns {  filter: saturate(21%); }
  .saturate-22-ns {  filter: saturate(22%); }
  .saturate-23-ns {  filter: saturate(23%); }
  .saturate-24-ns {  filter: saturate(24%); }
  .saturate-25-ns {  filter: saturate(25%); }
  .saturate-26-ns {  filter: saturate(26%); }
  .saturate-27-ns {  filter: saturate(27%); }
  .saturate-28-ns {  filter: saturate(28%); }
  .saturate-29-ns {  filter: saturate(29%); }
  .saturate-30-ns {  filter: saturate(30%); }
  .saturate-31-ns {  filter: saturate(31%); }
  .saturate-32-ns {  filter: saturate(32%); }
  .saturate-33-ns {  filter: saturate(33%); }
  .saturate-34-ns {  filter: saturate(34%); }
  .saturate-35-ns {  filter: saturate(35%); }
  .saturate-36-ns {  filter: saturate(36%); }
  .saturate-37-ns {  filter: saturate(37%); }
  .saturate-38-ns {  filter: saturate(38%); }
  .saturate-39-ns {  filter: saturate(39%); }
  .saturate-40-ns {  filter: saturate(40%); }
  .saturate-41-ns {  filter: saturate(41%); }
  .saturate-42-ns {  filter: saturate(42%); }
  .saturate-43-ns {  filter: saturate(43%); }
  .saturate-44-ns {  filter: saturate(44%); }
  .saturate-45-ns {  filter: saturate(45%); }
  .saturate-46-ns {  filter: saturate(46%); }
  .saturate-47-ns {  filter: saturate(47%); }
  .saturate-48-ns {  filter: saturate(48%); }
  .saturate-49-ns {  filter: saturate(49%); }
  .saturate-50-ns {  filter: saturate(50%); }
  .saturate-51-ns {  filter: saturate(51%); }
  .saturate-52-ns {  filter: saturate(52%); }
  .saturate-53-ns {  filter: saturate(53%); }
  .saturate-54-ns {  filter: saturate(54%); }
  .saturate-55-ns {  filter: saturate(55%); }
  .saturate-56-ns {  filter: saturate(56%); }
  .saturate-57-ns {  filter: saturate(57%); }
  .saturate-58-ns {  filter: saturate(58%); }
  .saturate-59-ns {  filter: saturate(59%); }
  .saturate-60-ns {  filter: saturate(60%); }
  .saturate-61-ns {  filter: saturate(61%); }
  .saturate-62-ns {  filter: saturate(62%); }
  .saturate-63-ns {  filter: saturate(63%); }
  .saturate-64-ns {  filter: saturate(64%); }
  .saturate-65-ns {  filter: saturate(65%); }
  .saturate-66-ns {  filter: saturate(66%); }
  .saturate-67-ns {  filter: saturate(67%); }
  .saturate-68-ns {  filter: saturate(68%); }
  .saturate-69-ns {  filter: saturate(69%); }
  .saturate-70-ns {  filter: saturate(70%); }
  .saturate-71-ns {  filter: saturate(71%); }
  .saturate-72-ns {  filter: saturate(72%); }
  .saturate-73-ns {  filter: saturate(73%); }
  .saturate-74-ns {  filter: saturate(74%); }
  .saturate-75-ns {  filter: saturate(75%); }
  .saturate-76-ns {  filter: saturate(76%); }
  .saturate-77-ns {  filter: saturate(77%); }
  .saturate-78-ns {  filter: saturate(78%); }
  .saturate-79-ns {  filter: saturate(79%); }
  .saturate-80-ns {  filter: saturate(80%); }
  .saturate-81-ns {  filter: saturate(81%); }
  .saturate-82-ns {  filter: saturate(82%); }
  .saturate-83-ns {  filter: saturate(83%); }
  .saturate-84-ns {  filter: saturate(84%); }
  .saturate-85-ns {  filter: saturate(85%); }
  .saturate-86-ns {  filter: saturate(86%); }
  .saturate-87-ns {  filter: saturate(87%); }
  .saturate-88-ns {  filter: saturate(88%); }
  .saturate-89-ns {  filter: saturate(89%); }
  .saturate-90-ns {  filter: saturate(90%); }
  .saturate-91-ns {  filter: saturate(91%); }
  .saturate-92-ns {  filter: saturate(92%); }
  .saturate-93-ns {  filter: saturate(93%); }
  .saturate-94-ns {  filter: saturate(94%); }
  .saturate-95-ns {  filter: saturate(95%); }
  .saturate-96-ns {  filter: saturate(96%); }
  .saturate-97-ns {  filter: saturate(97%); }
  .saturate-98-ns {  filter: saturate(98%); }
  .saturate-99-ns {  filter: saturate(99%); }
  .saturate-100-ns {  filter: saturate(100%); }
}

@include break(medium) {
  .saturate-1-m {  filter: saturate(1%); }
  .saturate-2-m {  filter: saturate(2%); }
  .saturate-3-m {  filter: saturate(3%); }
  .saturate-4-m {  filter: saturate(4%); }
  .saturate-5-m {  filter: saturate(5%); }
  .saturate-6-m {  filter: saturate(6%); }
  .saturate-7-m {  filter: saturate(7%); }
  .saturate-8-m {  filter: saturate(8%); }
  .saturate-9-m {  filter: saturate(9%); }
  .saturate-10-m {  filter: saturate(10%); }
  .saturate-11-m {  filter: saturate(11%); }
  .saturate-12-m {  filter: saturate(12%); }
  .saturate-13-m {  filter: saturate(13%); }
  .saturate-14-m {  filter: saturate(14%); }
  .saturate-15-m {  filter: saturate(15%); }
  .saturate-16-m {  filter: saturate(16%); }
  .saturate-17-m {  filter: saturate(17%); }
  .saturate-18-m {  filter: saturate(18%); }
  .saturate-19-m {  filter: saturate(19%); }
  .saturate-20-m {  filter: saturate(20%); }
  .saturate-21-m {  filter: saturate(21%); }
  .saturate-22-m {  filter: saturate(22%); }
  .saturate-23-m {  filter: saturate(23%); }
  .saturate-24-m {  filter: saturate(24%); }
  .saturate-25-m {  filter: saturate(25%); }
  .saturate-26-m {  filter: saturate(26%); }
  .saturate-27-m {  filter: saturate(27%); }
  .saturate-28-m {  filter: saturate(28%); }
  .saturate-29-m {  filter: saturate(29%); }
  .saturate-30-m {  filter: saturate(30%); }
  .saturate-31-m {  filter: saturate(31%); }
  .saturate-32-m {  filter: saturate(32%); }
  .saturate-33-m {  filter: saturate(33%); }
  .saturate-34-m {  filter: saturate(34%); }
  .saturate-35-m {  filter: saturate(35%); }
  .saturate-36-m {  filter: saturate(36%); }
  .saturate-37-m {  filter: saturate(37%); }
  .saturate-38-m {  filter: saturate(38%); }
  .saturate-39-m {  filter: saturate(39%); }
  .saturate-40-m {  filter: saturate(40%); }
  .saturate-41-m {  filter: saturate(41%); }
  .saturate-42-m {  filter: saturate(42%); }
  .saturate-43-m {  filter: saturate(43%); }
  .saturate-44-m {  filter: saturate(44%); }
  .saturate-45-m {  filter: saturate(45%); }
  .saturate-46-m {  filter: saturate(46%); }
  .saturate-47-m {  filter: saturate(47%); }
  .saturate-48-m {  filter: saturate(48%); }
  .saturate-49-m {  filter: saturate(49%); }
  .saturate-50-m {  filter: saturate(50%); }
  .saturate-51-m {  filter: saturate(51%); }
  .saturate-52-m {  filter: saturate(52%); }
  .saturate-53-m {  filter: saturate(53%); }
  .saturate-54-m {  filter: saturate(54%); }
  .saturate-55-m {  filter: saturate(55%); }
  .saturate-56-m {  filter: saturate(56%); }
  .saturate-57-m {  filter: saturate(57%); }
  .saturate-58-m {  filter: saturate(58%); }
  .saturate-59-m {  filter: saturate(59%); }
  .saturate-60-m {  filter: saturate(60%); }
  .saturate-61-m {  filter: saturate(61%); }
  .saturate-62-m {  filter: saturate(62%); }
  .saturate-63-m {  filter: saturate(63%); }
  .saturate-64-m {  filter: saturate(64%); }
  .saturate-65-m {  filter: saturate(65%); }
  .saturate-66-m {  filter: saturate(66%); }
  .saturate-67-m {  filter: saturate(67%); }
  .saturate-68-m {  filter: saturate(68%); }
  .saturate-69-m {  filter: saturate(69%); }
  .saturate-70-m {  filter: saturate(70%); }
  .saturate-71-m {  filter: saturate(71%); }
  .saturate-72-m {  filter: saturate(72%); }
  .saturate-73-m {  filter: saturate(73%); }
  .saturate-74-m {  filter: saturate(74%); }
  .saturate-75-m {  filter: saturate(75%); }
  .saturate-76-m {  filter: saturate(76%); }
  .saturate-77-m {  filter: saturate(77%); }
  .saturate-78-m {  filter: saturate(78%); }
  .saturate-79-m {  filter: saturate(79%); }
  .saturate-80-m {  filter: saturate(80%); }
  .saturate-81-m {  filter: saturate(81%); }
  .saturate-82-m {  filter: saturate(82%); }
  .saturate-83-m {  filter: saturate(83%); }
  .saturate-84-m {  filter: saturate(84%); }
  .saturate-85-m {  filter: saturate(85%); }
  .saturate-86-m {  filter: saturate(86%); }
  .saturate-87-m {  filter: saturate(87%); }
  .saturate-88-m {  filter: saturate(88%); }
  .saturate-89-m {  filter: saturate(89%); }
  .saturate-90-m {  filter: saturate(90%); }
  .saturate-91-m {  filter: saturate(91%); }
  .saturate-92-m {  filter: saturate(92%); }
  .saturate-93-m {  filter: saturate(93%); }
  .saturate-94-m {  filter: saturate(94%); }
  .saturate-95-m {  filter: saturate(95%); }
  .saturate-96-m {  filter: saturate(96%); }
  .saturate-97-m {  filter: saturate(97%); }
  .saturate-98-m {  filter: saturate(98%); }
  .saturate-99-m {  filter: saturate(99%); }
  .saturate-100-m {  filter: saturate(100%); }
}

@include break(large) {
  .saturate-1-l {  filter: saturate(1%); }
  .saturate-2-l {  filter: saturate(2%); }
  .saturate-3-l {  filter: saturate(3%); }
  .saturate-4-l {  filter: saturate(4%); }
  .saturate-5-l {  filter: saturate(5%); }
  .saturate-6-l {  filter: saturate(6%); }
  .saturate-7-l {  filter: saturate(7%); }
  .saturate-8-l {  filter: saturate(8%); }
  .saturate-9-l {  filter: saturate(9%); }
  .saturate-10-l {  filter: saturate(10%); }
  .saturate-11-l {  filter: saturate(11%); }
  .saturate-12-l {  filter: saturate(12%); }
  .saturate-13-l {  filter: saturate(13%); }
  .saturate-14-l {  filter: saturate(14%); }
  .saturate-15-l {  filter: saturate(15%); }
  .saturate-16-l {  filter: saturate(16%); }
  .saturate-17-l {  filter: saturate(17%); }
  .saturate-18-l {  filter: saturate(18%); }
  .saturate-19-l {  filter: saturate(19%); }
  .saturate-20-l {  filter: saturate(20%); }
  .saturate-21-l {  filter: saturate(21%); }
  .saturate-22-l {  filter: saturate(22%); }
  .saturate-23-l {  filter: saturate(23%); }
  .saturate-24-l {  filter: saturate(24%); }
  .saturate-25-l {  filter: saturate(25%); }
  .saturate-26-l {  filter: saturate(26%); }
  .saturate-27-l {  filter: saturate(27%); }
  .saturate-28-l {  filter: saturate(28%); }
  .saturate-29-l {  filter: saturate(29%); }
  .saturate-30-l {  filter: saturate(30%); }
  .saturate-31-l {  filter: saturate(31%); }
  .saturate-32-l {  filter: saturate(32%); }
  .saturate-33-l {  filter: saturate(33%); }
  .saturate-34-l {  filter: saturate(34%); }
  .saturate-35-l {  filter: saturate(35%); }
  .saturate-36-l {  filter: saturate(36%); }
  .saturate-37-l {  filter: saturate(37%); }
  .saturate-38-l {  filter: saturate(38%); }
  .saturate-39-l {  filter: saturate(39%); }
  .saturate-40-l {  filter: saturate(40%); }
  .saturate-41-l {  filter: saturate(41%); }
  .saturate-42-l {  filter: saturate(42%); }
  .saturate-43-l {  filter: saturate(43%); }
  .saturate-44-l {  filter: saturate(44%); }
  .saturate-45-l {  filter: saturate(45%); }
  .saturate-46-l {  filter: saturate(46%); }
  .saturate-47-l {  filter: saturate(47%); }
  .saturate-48-l {  filter: saturate(48%); }
  .saturate-49-l {  filter: saturate(49%); }
  .saturate-50-l {  filter: saturate(50%); }
  .saturate-51-l {  filter: saturate(51%); }
  .saturate-52-l {  filter: saturate(52%); }
  .saturate-53-l {  filter: saturate(53%); }
  .saturate-54-l {  filter: saturate(54%); }
  .saturate-55-l {  filter: saturate(55%); }
  .saturate-56-l {  filter: saturate(56%); }
  .saturate-57-l {  filter: saturate(57%); }
  .saturate-58-l {  filter: saturate(58%); }
  .saturate-59-l {  filter: saturate(59%); }
  .saturate-60-l {  filter: saturate(60%); }
  .saturate-61-l {  filter: saturate(61%); }
  .saturate-62-l {  filter: saturate(62%); }
  .saturate-63-l {  filter: saturate(63%); }
  .saturate-64-l {  filter: saturate(64%); }
  .saturate-65-l {  filter: saturate(65%); }
  .saturate-66-l {  filter: saturate(66%); }
  .saturate-67-l {  filter: saturate(67%); }
  .saturate-68-l {  filter: saturate(68%); }
  .saturate-69-l {  filter: saturate(69%); }
  .saturate-70-l {  filter: saturate(70%); }
  .saturate-71-l {  filter: saturate(71%); }
  .saturate-72-l {  filter: saturate(72%); }
  .saturate-73-l {  filter: saturate(73%); }
  .saturate-74-l {  filter: saturate(74%); }
  .saturate-75-l {  filter: saturate(75%); }
  .saturate-76-l {  filter: saturate(76%); }
  .saturate-77-l {  filter: saturate(77%); }
  .saturate-78-l {  filter: saturate(78%); }
  .saturate-79-l {  filter: saturate(79%); }
  .saturate-80-l {  filter: saturate(80%); }
  .saturate-81-l {  filter: saturate(81%); }
  .saturate-82-l {  filter: saturate(82%); }
  .saturate-83-l {  filter: saturate(83%); }
  .saturate-84-l {  filter: saturate(84%); }
  .saturate-85-l {  filter: saturate(85%); }
  .saturate-86-l {  filter: saturate(86%); }
  .saturate-87-l {  filter: saturate(87%); }
  .saturate-88-l {  filter: saturate(88%); }
  .saturate-89-l {  filter: saturate(89%); }
  .saturate-90-l {  filter: saturate(90%); }
  .saturate-91-l {  filter: saturate(91%); }
  .saturate-92-l {  filter: saturate(92%); }
  .saturate-93-l {  filter: saturate(93%); }
  .saturate-94-l {  filter: saturate(94%); }
  .saturate-95-l {  filter: saturate(95%); }
  .saturate-96-l {  filter: saturate(96%); }
  .saturate-97-l {  filter: saturate(97%); }
  .saturate-98-l {  filter: saturate(98%); }
  .saturate-99-l {  filter: saturate(99%); }
  .saturate-100-l {  filter: saturate(100%); }
}

