/*
   FILTER GRAYSCALE
*/

.gray-10  { filter: grayscale(10%); }
.gray-20  { filter: grayscale(20%); }
.gray-30  { filter: grayscale(30%); }
.gray-40  { filter: grayscale(40%); }
.gray-50  { filter: grayscale(50%); }
.gray-60  { filter: grayscale(60%); }
.gray-70  { filter: grayscale(70%); }
.gray-80  { filter: grayscale(80%); }
.gray-90  { filter: grayscale(90%); }
.gray-100 { filter: grayscale(100%); }


@include break(not-small) {
  .gray-10-ns  { filter: grayscale(10%); }
  .gray-20-ns  { filter: grayscale(20%); }
  .gray-30-ns  { filter: grayscale(30%); }
  .gray-40-ns  { filter: grayscale(40%); }
  .gray-50-ns  { filter: grayscale(50%); }
  .gray-60-ns  { filter: grayscale(60%); }
  .gray-70-ns  { filter: grayscale(70%); }
  .gray-80-ns  { filter: grayscale(80%); }
  .gray-90-ns  { filter: grayscale(90%); }
  .gray-100-ns { filter: grayscale(100%); }
}

@include break(medium) {
  .gray-10-m  { filter: grayscale(10%); }
  .gray-20-m  { filter: grayscale(20%); }
  .gray-30-m  { filter: grayscale(30%); }
  .gray-40-m  { filter: grayscale(40%); }
  .gray-50-m  { filter: grayscale(50%); }
  .gray-60-m  { filter: grayscale(60%); }
  .gray-70-m  { filter: grayscale(70%); }
  .gray-80-m  { filter: grayscale(80%); }
  .gray-90-m  { filter: grayscale(90%); }
  .gray-100-m { filter: grayscale(100%); }

}

@include break(large) {
  .gray-10-l  { filter: grayscale(10%); }
  .gray-20-l  { filter: grayscale(20%); }
  .gray-30-l  { filter: grayscale(30%); }
  .gray-40-l  { filter: grayscale(40%); }
  .gray-50-l  { filter: grayscale(50%); }
  .gray-60-l  { filter: grayscale(60%); }
  .gray-70-l  { filter: grayscale(70%); }
  .gray-80-l  { filter: grayscale(80%); }
  .gray-90-l  { filter: grayscale(90%); }
  .gray-100-l { filter: grayscale(100%); }
}

@include break(extra-large) {
  .gray-10-xl  { filter: grayscale(10%); }
  .gray-20-xl  { filter: grayscale(20%); }
  .gray-30-xl  { filter: grayscale(30%); }
  .gray-40-xl  { filter: grayscale(40%); }
  .gray-50-xl  { filter: grayscale(50%); }
  .gray-60-xl  { filter: grayscale(60%); }
  .gray-70-xl  { filter: grayscale(70%); }
  .gray-80-xl  { filter: grayscale(80%); }
  .gray-90-xl  { filter: grayscale(90%); }
  .gray-100-xl { filter: grayscale(100%); }
}
