/*
   FILTER SEPIA
*/

.sepia-0 { filter: sepia(0); }
.sepia-1 { filter: sepia(1%); }
.sepia-2 { filter: sepia(2%); }
.sepia-3 { filter: sepia(3%); }
.sepia-4 { filter: sepia(4%); }
.sepia-5 { filter: sepia(5%); }
.sepia-6 { filter: sepia(6%); }
.sepia-7 { filter: sepia(7%); }
.sepia-8 { filter: sepia(8%); }
.sepia-9 { filter: sepia(9%); }
.sepia-10 { filter: sepia(10%); }
.sepia-11 { filter: sepia(11%); }
.sepia-12 { filter: sepia(12%); }
.sepia-13 { filter: sepia(13%); }
.sepia-14 { filter: sepia(14%); }
.sepia-15 { filter: sepia(15%); }
.sepia-16 { filter: sepia(16%); }
.sepia-17 { filter: sepia(17%); }
.sepia-18 { filter: sepia(18%); }
.sepia-19 { filter: sepia(19%); }
.sepia-20 { filter: sepia(20%); }
.sepia-21 { filter: sepia(21%); }
.sepia-22 { filter: sepia(22%); }
.sepia-23 { filter: sepia(23%); }
.sepia-24 { filter: sepia(24%); }
.sepia-25 { filter: sepia(25%); }
.sepia-26 { filter: sepia(26%); }
.sepia-27 { filter: sepia(27%); }
.sepia-28 { filter: sepia(28%); }
.sepia-29 { filter: sepia(29%); }
.sepia-30 { filter: sepia(30%); }
.sepia-31 { filter: sepia(31%); }
.sepia-32 { filter: sepia(32%); }
.sepia-33 { filter: sepia(33%); }
.sepia-34 { filter: sepia(34%); }
.sepia-35 { filter: sepia(35%); }
.sepia-36 { filter: sepia(36%); }
.sepia-37 { filter: sepia(37%); }
.sepia-38 { filter: sepia(38%); }
.sepia-39 { filter: sepia(39%); }
.sepia-40 { filter: sepia(40%); }
.sepia-41 { filter: sepia(41%); }
.sepia-42 { filter: sepia(42%); }
.sepia-43 { filter: sepia(43%); }
.sepia-44 { filter: sepia(44%); }
.sepia-45 { filter: sepia(45%); }
.sepia-46 { filter: sepia(46%); }
.sepia-47 { filter: sepia(47%); }
.sepia-48 { filter: sepia(48%); }
.sepia-49 { filter: sepia(49%); }
.sepia-50 { filter: sepia(50%); }
.sepia-51 { filter: sepia(51%); }
.sepia-52 { filter: sepia(52%); }
.sepia-53 { filter: sepia(53%); }
.sepia-54 { filter: sepia(54%); }
.sepia-55 { filter: sepia(55%); }
.sepia-56 { filter: sepia(56%); }
.sepia-57 { filter: sepia(57%); }
.sepia-58 { filter: sepia(58%); }
.sepia-59 { filter: sepia(59%); }
.sepia-60 { filter: sepia(60%); }
.sepia-61 { filter: sepia(61%); }
.sepia-62 { filter: sepia(62%); }
.sepia-63 { filter: sepia(63%); }
.sepia-64 { filter: sepia(64%); }
.sepia-65 { filter: sepia(65%); }
.sepia-66 { filter: sepia(66%); }
.sepia-67 { filter: sepia(67%); }
.sepia-68 { filter: sepia(68%); }
.sepia-69 { filter: sepia(69%); }
.sepia-70 { filter: sepia(70%); }
.sepia-71 { filter: sepia(71%); }
.sepia-72 { filter: sepia(72%); }
.sepia-73 { filter: sepia(73%); }
.sepia-74 { filter: sepia(74%); }
.sepia-75 { filter: sepia(75%); }
.sepia-76 { filter: sepia(76%); }
.sepia-77 { filter: sepia(77%); }
.sepia-78 { filter: sepia(78%); }
.sepia-79 { filter: sepia(79%); }
.sepia-80 { filter: sepia(80%); }
.sepia-81 { filter: sepia(81%); }
.sepia-82 { filter: sepia(82%); }
.sepia-83 { filter: sepia(83%); }
.sepia-84 { filter: sepia(84%); }
.sepia-85 { filter: sepia(85%); }
.sepia-86 { filter: sepia(86%); }
.sepia-87 { filter: sepia(87%); }
.sepia-88 { filter: sepia(88%); }
.sepia-89 { filter: sepia(89%); }
.sepia-90 { filter: sepia(90%); }
.sepia-91 { filter: sepia(91%); }
.sepia-92 { filter: sepia(92%); }
.sepia-93 { filter: sepia(93%); }
.sepia-94 { filter: sepia(94%); }
.sepia-95 { filter: sepia(95%); }
.sepia-96 { filter: sepia(96%); }
.sepia-97 { filter: sepia(97%); }
.sepia-98 { filter: sepia(98%); }
.sepia-99 { filter: sepia(99%); }
.sepia-100 { filter: sepia(100%); }

@include break(not-small) {
  .sepia-0-ns { filter: sepia(0); }
  .sepia-1-ns { filter: sepia(1%); }
  .sepia-2-ns { filter: sepia(2%); }
  .sepia-3-ns { filter: sepia(3%); }
  .sepia-4-ns { filter: sepia(4%); }
  .sepia-5-ns { filter: sepia(5%); }
  .sepia-6-ns { filter: sepia(6%); }
  .sepia-7-ns { filter: sepia(7%); }
  .sepia-8-ns { filter: sepia(8%); }
  .sepia-9-ns { filter: sepia(9%); }
  .sepia-10-ns { filter: sepia(10%); }
  .sepia-11-ns { filter: sepia(11%); }
  .sepia-12-ns { filter: sepia(12%); }
  .sepia-13-ns { filter: sepia(13%); }
  .sepia-14-ns { filter: sepia(14%); }
  .sepia-15-ns { filter: sepia(15%); }
  .sepia-16-ns { filter: sepia(16%); }
  .sepia-17-ns { filter: sepia(17%); }
  .sepia-18-ns { filter: sepia(18%); }
  .sepia-19-ns { filter: sepia(19%); }
  .sepia-20-ns { filter: sepia(20%); }
  .sepia-21-ns { filter: sepia(21%); }
  .sepia-22-ns { filter: sepia(22%); }
  .sepia-23-ns { filter: sepia(23%); }
  .sepia-24-ns { filter: sepia(24%); }
  .sepia-25-ns { filter: sepia(25%); }
  .sepia-26-ns { filter: sepia(26%); }
  .sepia-27-ns { filter: sepia(27%); }
  .sepia-28-ns { filter: sepia(28%); }
  .sepia-29-ns { filter: sepia(29%); }
  .sepia-30-ns { filter: sepia(30%); }
  .sepia-31-ns { filter: sepia(31%); }
  .sepia-32-ns { filter: sepia(32%); }
  .sepia-33-ns { filter: sepia(33%); }
  .sepia-34-ns { filter: sepia(34%); }
  .sepia-35-ns { filter: sepia(35%); }
  .sepia-36-ns { filter: sepia(36%); }
  .sepia-37-ns { filter: sepia(37%); }
  .sepia-38-ns { filter: sepia(38%); }
  .sepia-39-ns { filter: sepia(39%); }
  .sepia-40-ns { filter: sepia(40%); }
  .sepia-41-ns { filter: sepia(41%); }
  .sepia-42-ns { filter: sepia(42%); }
  .sepia-43-ns { filter: sepia(43%); }
  .sepia-44-ns { filter: sepia(44%); }
  .sepia-45-ns { filter: sepia(45%); }
  .sepia-46-ns { filter: sepia(46%); }
  .sepia-47-ns { filter: sepia(47%); }
  .sepia-48-ns { filter: sepia(48%); }
  .sepia-49-ns { filter: sepia(49%); }
  .sepia-50-ns { filter: sepia(50%); }
  .sepia-51-ns { filter: sepia(51%); }
  .sepia-52-ns { filter: sepia(52%); }
  .sepia-53-ns { filter: sepia(53%); }
  .sepia-54-ns { filter: sepia(54%); }
  .sepia-55-ns { filter: sepia(55%); }
  .sepia-56-ns { filter: sepia(56%); }
  .sepia-57-ns { filter: sepia(57%); }
  .sepia-58-ns { filter: sepia(58%); }
  .sepia-59-ns { filter: sepia(59%); }
  .sepia-60-ns { filter: sepia(60%); }
  .sepia-61-ns { filter: sepia(61%); }
  .sepia-62-ns { filter: sepia(62%); }
  .sepia-63-ns { filter: sepia(63%); }
  .sepia-64-ns { filter: sepia(64%); }
  .sepia-65-ns { filter: sepia(65%); }
  .sepia-66-ns { filter: sepia(66%); }
  .sepia-67-ns { filter: sepia(67%); }
  .sepia-68-ns { filter: sepia(68%); }
  .sepia-69-ns { filter: sepia(69%); }
  .sepia-70-ns { filter: sepia(70%); }
  .sepia-71-ns { filter: sepia(71%); }
  .sepia-72-ns { filter: sepia(72%); }
  .sepia-73-ns { filter: sepia(73%); }
  .sepia-74-ns { filter: sepia(74%); }
  .sepia-75-ns { filter: sepia(75%); }
  .sepia-76-ns { filter: sepia(76%); }
  .sepia-77-ns { filter: sepia(77%); }
  .sepia-78-ns { filter: sepia(78%); }
  .sepia-79-ns { filter: sepia(79%); }
  .sepia-80-ns { filter: sepia(80%); }
  .sepia-81-ns { filter: sepia(81%); }
  .sepia-82-ns { filter: sepia(82%); }
  .sepia-83-ns { filter: sepia(83%); }
  .sepia-84-ns { filter: sepia(84%); }
  .sepia-85-ns { filter: sepia(85%); }
  .sepia-86-ns { filter: sepia(86%); }
  .sepia-87-ns { filter: sepia(87%); }
  .sepia-88-ns { filter: sepia(88%); }
  .sepia-89-ns { filter: sepia(89%); }
  .sepia-90-ns { filter: sepia(90%); }
  .sepia-91-ns { filter: sepia(91%); }
  .sepia-92-ns { filter: sepia(92%); }
  .sepia-93-ns { filter: sepia(93%); }
  .sepia-94-ns { filter: sepia(94%); }
  .sepia-95-ns { filter: sepia(95%); }
  .sepia-96-ns { filter: sepia(96%); }
  .sepia-97-ns { filter: sepia(97%); }
  .sepia-98-ns { filter: sepia(98%); }
  .sepia-99-ns { filter: sepia(99%); }
  .sepia-100-ns { filter: sepia(100%); }
}

@include break(medium) {
  .sepia-0-m { filter: sepia(0); }
  .sepia-1-m { filter: sepia(1%); }
  .sepia-2-m { filter: sepia(2%); }
  .sepia-3-m { filter: sepia(3%); }
  .sepia-4-m { filter: sepia(4%); }
  .sepia-5-m { filter: sepia(5%); }
  .sepia-6-m { filter: sepia(6%); }
  .sepia-7-m { filter: sepia(7%); }
  .sepia-8-m { filter: sepia(8%); }
  .sepia-9-m { filter: sepia(9%); }
  .sepia-10-m { filter: sepia(10%); }
  .sepia-11-m { filter: sepia(11%); }
  .sepia-12-m { filter: sepia(12%); }
  .sepia-13-m { filter: sepia(13%); }
  .sepia-14-m { filter: sepia(14%); }
  .sepia-15-m { filter: sepia(15%); }
  .sepia-16-m { filter: sepia(16%); }
  .sepia-17-m { filter: sepia(17%); }
  .sepia-18-m { filter: sepia(18%); }
  .sepia-19-m { filter: sepia(19%); }
  .sepia-20-m { filter: sepia(20%); }
  .sepia-21-m { filter: sepia(21%); }
  .sepia-22-m { filter: sepia(22%); }
  .sepia-23-m { filter: sepia(23%); }
  .sepia-24-m { filter: sepia(24%); }
  .sepia-25-m { filter: sepia(25%); }
  .sepia-26-m { filter: sepia(26%); }
  .sepia-27-m { filter: sepia(27%); }
  .sepia-28-m { filter: sepia(28%); }
  .sepia-29-m { filter: sepia(29%); }
  .sepia-30-m { filter: sepia(30%); }
  .sepia-31-m { filter: sepia(31%); }
  .sepia-32-m { filter: sepia(32%); }
  .sepia-33-m { filter: sepia(33%); }
  .sepia-34-m { filter: sepia(34%); }
  .sepia-35-m { filter: sepia(35%); }
  .sepia-36-m { filter: sepia(36%); }
  .sepia-37-m { filter: sepia(37%); }
  .sepia-38-m { filter: sepia(38%); }
  .sepia-39-m { filter: sepia(39%); }
  .sepia-40-m { filter: sepia(40%); }
  .sepia-41-m { filter: sepia(41%); }
  .sepia-42-m { filter: sepia(42%); }
  .sepia-43-m { filter: sepia(43%); }
  .sepia-44-m { filter: sepia(44%); }
  .sepia-45-m { filter: sepia(45%); }
  .sepia-46-m { filter: sepia(46%); }
  .sepia-47-m { filter: sepia(47%); }
  .sepia-48-m { filter: sepia(48%); }
  .sepia-49-m { filter: sepia(49%); }
  .sepia-50-m { filter: sepia(50%); }
  .sepia-51-m { filter: sepia(51%); }
  .sepia-52-m { filter: sepia(52%); }
  .sepia-53-m { filter: sepia(53%); }
  .sepia-54-m { filter: sepia(54%); }
  .sepia-55-m { filter: sepia(55%); }
  .sepia-56-m { filter: sepia(56%); }
  .sepia-57-m { filter: sepia(57%); }
  .sepia-58-m { filter: sepia(58%); }
  .sepia-59-m { filter: sepia(59%); }
  .sepia-60-m { filter: sepia(60%); }
  .sepia-61-m { filter: sepia(61%); }
  .sepia-62-m { filter: sepia(62%); }
  .sepia-63-m { filter: sepia(63%); }
  .sepia-64-m { filter: sepia(64%); }
  .sepia-65-m { filter: sepia(65%); }
  .sepia-66-m { filter: sepia(66%); }
  .sepia-67-m { filter: sepia(67%); }
  .sepia-68-m { filter: sepia(68%); }
  .sepia-69-m { filter: sepia(69%); }
  .sepia-70-m { filter: sepia(70%); }
  .sepia-71-m { filter: sepia(71%); }
  .sepia-72-m { filter: sepia(72%); }
  .sepia-73-m { filter: sepia(73%); }
  .sepia-74-m { filter: sepia(74%); }
  .sepia-75-m { filter: sepia(75%); }
  .sepia-76-m { filter: sepia(76%); }
  .sepia-77-m { filter: sepia(77%); }
  .sepia-78-m { filter: sepia(78%); }
  .sepia-79-m { filter: sepia(79%); }
  .sepia-80-m { filter: sepia(80%); }
  .sepia-81-m { filter: sepia(81%); }
  .sepia-82-m { filter: sepia(82%); }
  .sepia-83-m { filter: sepia(83%); }
  .sepia-84-m { filter: sepia(84%); }
  .sepia-85-m { filter: sepia(85%); }
  .sepia-86-m { filter: sepia(86%); }
  .sepia-87-m { filter: sepia(87%); }
  .sepia-88-m { filter: sepia(88%); }
  .sepia-89-m { filter: sepia(89%); }
  .sepia-90-m { filter: sepia(90%); }
  .sepia-91-m { filter: sepia(91%); }
  .sepia-92-m { filter: sepia(92%); }
  .sepia-93-m { filter: sepia(93%); }
  .sepia-94-m { filter: sepia(94%); }
  .sepia-95-m { filter: sepia(95%); }
  .sepia-96-m { filter: sepia(96%); }
  .sepia-97-m { filter: sepia(97%); }
  .sepia-98-m { filter: sepia(98%); }
  .sepia-99-m { filter: sepia(99%); }
  .sepia-100-m { filter: sepia(100%); }
}

@include break(large) {
  .sepia-0-l { filter: sepia(0); }
  .sepia-1-l { filter: sepia(1%); }
  .sepia-2-l { filter: sepia(2%); }
  .sepia-3-l { filter: sepia(3%); }
  .sepia-4-l { filter: sepia(4%); }
  .sepia-5-l { filter: sepia(5%); }
  .sepia-6-l { filter: sepia(6%); }
  .sepia-7-l { filter: sepia(7%); }
  .sepia-8-l { filter: sepia(8%); }
  .sepia-9-l { filter: sepia(9%); }
  .sepia-10-l { filter: sepia(10%); }
  .sepia-11-l { filter: sepia(11%); }
  .sepia-12-l { filter: sepia(12%); }
  .sepia-13-l { filter: sepia(13%); }
  .sepia-14-l { filter: sepia(14%); }
  .sepia-15-l { filter: sepia(15%); }
  .sepia-16-l { filter: sepia(16%); }
  .sepia-17-l { filter: sepia(17%); }
  .sepia-18-l { filter: sepia(18%); }
  .sepia-19-l { filter: sepia(19%); }
  .sepia-20-l { filter: sepia(20%); }
  .sepia-21-l { filter: sepia(21%); }
  .sepia-22-l { filter: sepia(22%); }
  .sepia-23-l { filter: sepia(23%); }
  .sepia-24-l { filter: sepia(24%); }
  .sepia-25-l { filter: sepia(25%); }
  .sepia-26-l { filter: sepia(26%); }
  .sepia-27-l { filter: sepia(27%); }
  .sepia-28-l { filter: sepia(28%); }
  .sepia-29-l { filter: sepia(29%); }
  .sepia-30-l { filter: sepia(30%); }
  .sepia-31-l { filter: sepia(31%); }
  .sepia-32-l { filter: sepia(32%); }
  .sepia-33-l { filter: sepia(33%); }
  .sepia-34-l { filter: sepia(34%); }
  .sepia-35-l { filter: sepia(35%); }
  .sepia-36-l { filter: sepia(36%); }
  .sepia-37-l { filter: sepia(37%); }
  .sepia-38-l { filter: sepia(38%); }
  .sepia-39-l { filter: sepia(39%); }
  .sepia-40-l { filter: sepia(40%); }
  .sepia-41-l { filter: sepia(41%); }
  .sepia-42-l { filter: sepia(42%); }
  .sepia-43-l { filter: sepia(43%); }
  .sepia-44-l { filter: sepia(44%); }
  .sepia-45-l { filter: sepia(45%); }
  .sepia-46-l { filter: sepia(46%); }
  .sepia-47-l { filter: sepia(47%); }
  .sepia-48-l { filter: sepia(48%); }
  .sepia-49-l { filter: sepia(49%); }
  .sepia-50-l { filter: sepia(50%); }
  .sepia-51-l { filter: sepia(51%); }
  .sepia-52-l { filter: sepia(52%); }
  .sepia-53-l { filter: sepia(53%); }
  .sepia-54-l { filter: sepia(54%); }
  .sepia-55-l { filter: sepia(55%); }
  .sepia-56-l { filter: sepia(56%); }
  .sepia-57-l { filter: sepia(57%); }
  .sepia-58-l { filter: sepia(58%); }
  .sepia-59-l { filter: sepia(59%); }
  .sepia-60-l { filter: sepia(60%); }
  .sepia-61-l { filter: sepia(61%); }
  .sepia-62-l { filter: sepia(62%); }
  .sepia-63-l { filter: sepia(63%); }
  .sepia-64-l { filter: sepia(64%); }
  .sepia-65-l { filter: sepia(65%); }
  .sepia-66-l { filter: sepia(66%); }
  .sepia-67-l { filter: sepia(67%); }
  .sepia-68-l { filter: sepia(68%); }
  .sepia-69-l { filter: sepia(69%); }
  .sepia-70-l { filter: sepia(70%); }
  .sepia-71-l { filter: sepia(71%); }
  .sepia-72-l { filter: sepia(72%); }
  .sepia-73-l { filter: sepia(73%); }
  .sepia-74-l { filter: sepia(74%); }
  .sepia-75-l { filter: sepia(75%); }
  .sepia-76-l { filter: sepia(76%); }
  .sepia-77-l { filter: sepia(77%); }
  .sepia-78-l { filter: sepia(78%); }
  .sepia-79-l { filter: sepia(79%); }
  .sepia-80-l { filter: sepia(80%); }
  .sepia-81-l { filter: sepia(81%); }
  .sepia-82-l { filter: sepia(82%); }
  .sepia-83-l { filter: sepia(83%); }
  .sepia-84-l { filter: sepia(84%); }
  .sepia-85-l { filter: sepia(85%); }
  .sepia-86-l { filter: sepia(86%); }
  .sepia-87-l { filter: sepia(87%); }
  .sepia-88-l { filter: sepia(88%); }
  .sepia-89-l { filter: sepia(89%); }
  .sepia-90-l { filter: sepia(90%); }
  .sepia-91-l { filter: sepia(91%); }
  .sepia-92-l { filter: sepia(92%); }
  .sepia-93-l { filter: sepia(93%); }
  .sepia-94-l { filter: sepia(94%); }
  .sepia-95-l { filter: sepia(95%); }
  .sepia-96-l { filter: sepia(96%); }
  .sepia-97-l { filter: sepia(97%); }
  .sepia-98-l { filter: sepia(98%); }
  .sepia-99-l { filter: sepia(99%); }
  .sepia-100-l { filter: sepia(100%); }
}

