/* ==========================================================================
   FLEXBOX - FLEX GROW
   ========================================================================== */

.fg-1 { flex-grow: 1; }
.fg-2 { flex-grow: 2; }
.fg-3 { flex-grow: 3; }
.fg-4 { flex-grow: 4; }
.fg-i { flex-grow: inherit; }

@include break(not-small) {
  .fg-1-ns { flex-grow: 1; }
  .fg-2-ns { flex-grow: 2; }
  .fg-3-ns { flex-grow: 3; }
  .fg-4-ns { flex-grow: 4; }
  .fg-i-ns { flex-grow: inherit; }
}

@include break(medium) {
  .fg-1-m { flex-grow: 1; }
  .fg-2-m { flex-grow: 2; }
  .fg-3-m { flex-grow: 3; }
  .fg-4-m { flex-grow: 4; }
  .fg-i-m { flex-grow: inherit; }
}

@include break(large) {
  .fg-1-l { flex-grow: 1; }
  .fg-2-l { flex-grow: 2; }
  .fg-3-l { flex-grow: 3; }
  .fg-4-l { flex-grow: 4; }
  .fg-i-l { flex-grow: inherit; }
}

