/*
   HEIGHT SCALE
*/


.ht1   { height: 1rem; }
.ht2   { height: 2rem; }
.ht3   { height: 4rem; }
.ht4   { height: 8rem; }
.ht5   { height: 16rem; }
.ht6   { height: 32rem; }
.ht7   { height: 48rem; }
.ht8   { height: 64rem; }
.ht9   { height: 96rem; }
.ht10  { height: 128rem; }

@include break(not-small) {
  .ht1-ns   { height: 1rem; }
  .ht2-ns   { height: 2rem; }
  .ht3-ns   { height: 4rem; }
  .ht4-ns   { height: 8rem; }
  .ht5-ns   { height: 16rem; }
  .ht6-ns   { height: 32rem; }
  .ht7-ns   { height: 48rem; }
  .ht8-ns   { height: 64rem; }
  .ht9-ns   { height: 96rem; }
  .ht10-ns  { height: 128rem; }
}

@include break(medium) {
  .ht1-m   { height: 1rem; }
  .ht2-m   { height: 2rem; }
  .ht3-m   { height: 4rem; }
  .ht4-m   { height: 8rem; }
  .ht5-m   { height: 16rem; }
  .ht6-m   { height: 32rem; }
  .ht7-m   { height: 48rem; }
  .ht8-m   { height: 64rem; }
  .ht9-m   { height: 96rem; }
  .ht10-m  { height: 128rem; }
}

@include break(large) {
  .ht1-l   { height: 1rem; }
  .ht2-l   { height: 2rem; }
  .ht3-l   { height: 4rem; }
  .ht4-l   { height: 8rem; }
  .ht5-l   { height: 16rem; }
  .ht6-l   { height: 32rem; }
  .ht7-l   { height: 48rem; }
  .ht8-l   { height: 64rem; }
  .ht9-l   { height: 96rem; }
  .ht10-l  { height: 128rem; }
}

