/*
   MAX HEIGHTS - KEY WORDS
*/

.mxhi-none { max-height: none; }
.mxhi-max {  max-height: max-content; }
.mxhi-min {  max-height: min-content; }
.mxhi-fit {  max-height: fit-content; }
.mxhi-fill { max-height: fill-available; }

@include break(not-small) {
  .mxhi-none-ns { max-height: none; }
  .mxhi-max-ns {  max-height: max-content; }
  .mxhi-min-ns {  max-height: min-content; }
  .mxhi-fit-ns {  max-height: fit-content; }
  .mxhi-fill-ns { max-height: fill-available; }
}

@include break(medium) {
  .mxhi-none-m { max-height: none; }
  .mxhi-max-m {  max-height: max-content; }
  .mxhi-min-m {  max-height: min-content; }
  .mxhi-fit-m {  max-height: fit-content; }
  .mxhi-fill-m { max-height: fill-available; }
}

@include break(large) {
  .mxhi-none-l { max-height: none; }
  .mxhi-max-l {  max-height: max-content; }
  .mxhi-min-l {  max-height: min-content; }
  .mxhi-fit-l {  max-height: fit-content; }
  .mxhi-fill-l { max-height: fill-available; }
}

