/*
   MAX WIDTH - SCALE
*/

.mx-wi1  {  max-width: 1rem; }
.mx-wi2  {  max-width: 2rem; }
.mx-wi3  {  max-width: 4rem; }
.mx-wi4  {  max-width: 8rem; }
.mx-wi5  {  max-width: 16rem; }
.mx-wi6  {  max-width: 32rem; }
.mx-wi7  {  max-width: 48rem; }
.mx-wi8  {  max-width: 64rem; }
.mx-wi9  {  max-width: 96rem; }
.mx-wi10 {  max-width: 128rem; }

@include break(not-small) {
  .mx-wi1-ns  {    max-width: 1rem; }
  .mx-wi2-ns  {    max-width: 2rem; }
  .mx-wi3-ns  {    max-width: 4rem; }
  .mx-wi4-ns  {    max-width: 8rem; }
  .mx-wi5-ns  {    max-width: 16rem; }
  .mx-wi6-ns  {    max-width: 32rem; }
  .mx-wi7-ns  {    max-width: 48rem; }
  .mx-wi8-ns  {    max-width: 64rem; }
  .mx-wi9-ns  {    max-width: 96rem; }
  .mx-wi10-ns {    max-width: 128rem; }
}

@include break(medium) {
  .mx-wi1-m  {    max-width: 1rem; }
  .mx-wi2-m  {    max-width: 2rem; }
  .mx-wi3-m  {    max-width: 4rem; }
  .mx-wi4-m  {    max-width: 8rem; }
  .mx-wi5-m  {    max-width: 16rem; }
  .mx-wi6-m  {    max-width: 32rem; }
  .mx-wi7-m  {    max-width: 48rem; }
  .mx-wi8-m  {    max-width: 64rem; }
  .mx-wi9-m  {    max-width: 96rem; }
  .mx-wi10-m {    max-width: 128rem; }
}

@include break(large) {
  .mx-wi1-l  {    max-width: 1rem; }
  .mx-wi2-l  {    max-width: 2rem; }
  .mx-wi3-l  {    max-width: 4rem; }
  .mx-wi4-l  {    max-width: 8rem; }
  .mx-wi5-l  {    max-width: 16rem; }
  .mx-wi6-l  {    max-width: 32rem; }
  .mx-wi7-l  {    max-width: 48rem; }
  .mx-wi8-l  {    max-width: 64rem; }
  .mx-wi9-l  {    max-width: 96rem; }
  .mx-wi10-l {    max-width: 128rem; }
}

