/*
   MAX WIDTHS - KEYWORDS
*/

.mx-wi-none { max-width: none; }
.mx-wi-max  { max-width: max-content; }
.mx-wi-min  { max-width: min-content; }
.mx-wi-fit  { max-width: fit-content; }
.mx-wi-fill { max-width: fill-available; }

@include break(not-small) {
  .mx-wi-none-ns { max-width: none; }
  .mx-wi-max-ns  { max-width: max-content; }
  .mx-wi-min-ns  { max-width: min-content; }
  .mx-wi-fit-ns  { max-width: fit-content; }
  .mx-wi-fill-ns { max-width: fill-available; }
}

@include break(medium) {
  .mx-wi-none-m { max-width: none; }
  .mx-wi-max-m  { max-width: max-content; }
  .mx-wi-min-m  { max-width: min-content; }
  .mx-wi-fit-m  { max-width: fit-content; }
  .mx-wi-fill-m { max-width: fill-available; }
}

@include break(large) {
  .mx-wi-none-l { max-width: none; }
  .mx-wi-max-l  { max-width: max-content; }
  .mx-wi-min-l  { max-width: min-content; }
  .mx-wi-fit-l  { max-width: fit-content; }
  .mx-wi-fill-l { max-width: fill-available; }
}

@include break(extra-large) {
  .mx-wi-none-xl { max-width: none; }
  .mx-wi-max-xl  { max-width: max-content; }
  .mx-wi-min-xl  { max-width: min-content; }
  .mx-wi-fit-xl  { max-width: fit-content; }
  .mx-wi-fill-xl { max-width: fill-available; }
}
