/*
   MIN WIDTHS
*/

.mn-wi-max  { min-width: max-content; }
.mn-wi-min  { min-width: min-content; }
.mn-wi-fit  { min-width: fit-content; }
.mn-wi-fill { min-width: fill-available; }

@include break(not-small) {
  .mn-wi-max-ns  { min-width: max-content; }
  .mn-wi-min-ns  { min-width: min-content; }
  .mn-wi-fit-ns  { min-width: fit-content; }
  .mn-wi-fill-ns { min-width: fill-available; }
}

@include break(medium) {
  .mn-wi-max-m  { min-width: max-content; }
  .mn-wi-min-m  { min-width: min-content; }
  .mn-wi-fit-m  { min-width: fit-content; }
  .mn-wi-fill-m { min-width: fill-available; }
}

@include break(large) {
  .mn-wi-max-l  { min-width: max-content; }
  .mn-wi-min-l  { min-width: min-content; }
  .mn-wi-fit-l  { min-width: fit-content; }
  .mn-wi-fill-l { min-width: fill-available; }
}

@include break(extra-large) {
  .mn-wi-max-xl  { min-width: max-content; }
  .mn-wi-min-xl  { min-width: min-content; }
  .mn-wi-fit-xl  { min-width: fit-content; }
  .mn-wi-fill-xl { min-width: fill-available; }
}
