/*
   MIN HEIGHTS
*/

.mn-hi-max  { min-height: max-content; }
.mn-hi-min  { min-height: min-content; }
.mn-hi-fit  { min-height: fit-content; }
.mn-hi-fill { min-height: fill-available; }

@include break(not-small) {
  .mn-hi-max-ns  { min-height: max-content; }
  .mn-hi-min-ns  { min-height: min-content; }
  .mn-hi-fit-ns  { min-height: fit-content; }
  .mn-hi-fill-ns { min-height: fill-available; }
}

@include break(medium) {


  .mn-hi-max-m  { min-height: max-content; }
  .mn-hi-min-m  { min-height: min-content; }
  .mn-hi-fit-m  { min-height: fit-content; }
  .mn-hi-fill-m { min-height: fill-available; }
}

@include break(large) {
  .mn-hi-max-l  { min-height: max-content; }
  .mn-hi-min-l  { min-height: min-content; }
  .mn-hi-fit-l  { min-height: fit-content; }
  .mn-hi-fill-l { min-height: fill-available; }
}

@include break(extra-large) {
  .mn-hi-max-xl  { min-height: max-content; }
  .mn-hi-min-xl  { min-height: min-content; }
  .mn-hi-fit-xl  { min-height: fit-content; }
  .mn-hi-fill-xl { min-height: fill-available; }
}
