/*
   MIN WIDTH - SCALE
*/

.mn-wi1  {  min-width: 1rem; }
.mn-wi2  {  min-width: 2rem; }
.mn-wi3  {  min-width: 4rem; }
.mn-wi4  {  min-width: 8rem; }
.mn-wi5  {  min-width: 16rem; }
.mn-wi6  {  min-width: 32rem; }
.mn-wi7  {  min-width: 48rem; }
.mn-wi8  {  min-width: 64rem; }
.mn-wi9  {  min-width: 96rem; }
.mn-wi10 {  min-width: 128rem; }

@include break(not-small) {
  .mn-wi1-ns  {  min-width: 1rem; }
  .mn-wi2-ns  {  min-width: 2rem; }
  .mn-wi3-ns  {  min-width: 4rem; }
  .mn-wi4-ns  {  min-width: 8rem; }
  .mn-wi5-ns  {  min-width: 16rem; }
  .mn-wi6-ns  {  min-width: 32rem; }
  .mn-wi7-ns  {  min-width: 48rem; }
  .mn-wi8-ns  {  min-width: 64rem; }
  .mn-wi9-ns  {  min-width: 96rem; }
  .mn-wi10-ns {  min-width: 128rem; }
}

@include break(medium) {
  .mn-wi1-m  {  min-width: 1rem; }
  .mn-wi2-m  {  min-width: 2rem; }
  .mn-wi3-m  {  min-width: 4rem; }
  .mn-wi4-m  {  min-width: 8rem; }
  .mn-wi5-m  {  min-width: 16rem; }
  .mn-wi6-m  {  min-width: 32rem; }
  .mn-wi7-m  {  min-width: 48rem; }
  .mn-wi8-m  {  min-width: 64rem; }
  .mn-wi9-m  {  min-width: 96rem; }
  .mn-wi10-m {  min-width: 128rem; }
}

@include break(large) {
  .mn-wi1-l  {  min-width: 1rem; }
  .mn-wi2-l  {  min-width: 2rem; }
  .mn-wi3-l  {  min-width: 4rem; }
  .mn-wi4-l  {  min-width: 8rem; }
  .mn-wi5-l  {  min-width: 16rem; }
  .mn-wi6-l  {  min-width: 32rem; }
  .mn-wi7-l  {  min-width: 48rem; }
  .mn-wi8-l  {  min-width: 64rem; }
  .mn-wi9-l  {  min-width: 96rem; }
  .mn-wi10-l {  min-width: 128rem; }
}

