/* ==========================================================================
   TRANSFORMS
   ========================================================================== */

.ts-p3d {   transform-style: preserve-3d; }
.ts-flat {  transform-style: flat; }
.ts-i {     transform-style: inherit; }

@include break(not-small) {
  .ts-p3d-ns {  transform-style: preserve-3d; }
  .ts-flat-ns { transform-style: flat; }
  .ts-i-ns {    transform-style: inherit; }
}

@include break(medium) {
  .ts-p3d-m {   transform-style: preserve-3d; }
  .ts-flat-m {  transform-style: flat; }
  .ts-i-m {     transform-style: inherit; }
}

@include break(large) {
  .ts-p3d-l {   transform-style: preserve-3d; }
  .ts-flat-l {  transform-style: flat; }
  .ts-i-l {     transform-style: inherit; }
}

