/* ==========================================================================
   TRANSITIONS
   ========================================================================== */

.tdl0 { transition-delay: 0; }
.tdl1 { transition-delay: 1s; }
.tdl2 { transition-delay: 2s; }
.tdl3 { transition-delay: 3s; }
.tdl4 { transition-delay: 4s; }
.tdl5 { transition-delay: 8s; }
.tdl6 { transition-delay: 16s; }
.tdl7 { transition-delay: 32s; }

.tdl-i { transition-delay: initial; }

@include break(not-small) {
  .tdl0-ns  { transition-delay: 0; }
  .tdl1-ns  { transition-delay: 1s; }
  .tdl2-ns  { transition-delay: 2s; }
  .tdl3-ns  { transition-delay: 3s; }
  .tdl4-ns  { transition-delay: 4s; }
  .tdl5-ns  { transition-delay: 8s; }
  .tdl6-ns  { transition-delay: 16s; }
  .tdl7-ns  { transition-delay: 32s; }
  .tdl-i-ns { transition-delay: initial; }
}

@include break(medium) {
  .tdl0-m  { transition-delay: 0; }
  .tdl1-m  { transition-delay: 1s; }
  .tdl2-m  { transition-delay: 2s; }
  .tdl3-m  { transition-delay: 3s; }
  .tdl4-m  { transition-delay: 4s; }
  .tdl5-m  { transition-delay: 8s; }
  .tdl6-m  { transition-delay: 16s; }
  .tdl7-m  { transition-delay: 32s; }
  .tdl-i-m { transition-delay: initial; }
}

@include break(large) {
  .tdl0-l  { transition-delay: 0; }
  .tdl1-l  { transition-delay: 1s; }
  .tdl2-l  { transition-delay: 2s; }
  .tdl3-l  { transition-delay: 3s; }
  .tdl4-l  { transition-delay: 4s; }
  .tdl5-l  { transition-delay: 8s; }
  .tdl6-l  { transition-delay: 16s; }
  .tdl7-l  { transition-delay: 32s; }
  .tdl-i-l { transition-delay: initial; }
}

