/*
   WIDTHS
*/

.wi-bb { width: border-box; }
.wi-cb { width: content-box; }
.wi-mx { width: max-content; }
.wi-mn { width: min-content; }
.wi-av { width: available; }
.wi-fc { width: fit-content; }
.wi-at { width: auto; }
.wi-i {  width: inherit; }

@include break(not-small) {
  .wi-bb-ns { width: border-box; }
  .wi-cb-ns { width: content-box; }
  .wi-mx-ns { width: max-content; }
  .wi-mn-ns { width: min-content; }
  .wi-av-ns { width: available; }
  .wi-fc-ns { width: fit-content; }
  .wi-at-ns { width: auto; }
  .wi-i-ns {  width: inherit; }
}

@include break(medium) {
  .wi-bb-m {    width: border-box; }
  .wi-cb-m {    width: content-box; }
  .wi-mx-m {    width: max-content; }
  .wi-mn-m {    width: min-content; }
  .wi-av-m {    width: available; }
  .wi-fc-m {    width: fit-content; }
  .wi-at-m {    width: auto; }
  .wi-i-m {     width: inherit; }
}

@include break(large) {
  .wi-bb-l {    width: border-box; }
  .wi-cb-l {    width: content-box; }
  .wi-mx-l {    width: max-content; }
  .wi-mn-l {    width: min-content; }
  .wi-av-l {    width: available; }
  .wi-fc-l {    width: fit-content; }
  .wi-at-l {    width: auto; }
  .wi-i-l {     width: inherit; }
}

