/* ==========================================================================
   ANIMATION PLAY STATE
   ========================================================================== */

.a-running { animation-play-state: running; }
.a-paused { animation-play-state: paused; }

