/* ==========================================================================
   ANIMATION FILL MODE
   ========================================================================== */

.a-fil-non { animation-fill-mode: none; }
.a-fil-frw { animation-fill-mode: forwards; }
.a-fil-bck { animation-fill-mode: backwards; }
.a-fil-bth { animation-fill-mode: both; }

