/* ==========================================================================
   ANIMATION DELAY
   ========================================================================== */

.ani-delay-1 { animation-delay: .5s; }
.ani-delay-2 { animation-delay: 1s; }
.ani-delay-3 { animation-delay: 2s; }
.ani-delay-4 { animation-delay: 4s; }
.ani-delay-5 { animation-delay: 8s; }
.ani-delay-6 { animation-delay: 16s; }

