/* ==========================================================================
   ANIMATION ITERATION COUNT
   ========================================================================== */

.a-cnt1 { animation-iteration-count: 1; }
.a-cnt2 { animation-iteration-count: 2; }
.a-cnt3 { animation-iteration-count: 5; }
.a-cnt4 { animation-iteration-count: 10; }
.a-cnt5 { animation-iteration-count: infinite; }

