/* ==========================================================================
   ANIMATION DELAY
   ========================================================================== */

.a-delay-1 { animation-delay: .5s; }
.a-delay-2 { animation-delay: 1s; }
.a-delay-3 { animation-delay: 2s; }
.a-delay-4 { animation-delay: 4s; }
.a-delay-5 { animation-delay: 8s; }
.a-delay-6 { animation-delay: 16s; }

