/* ==========================================================================
   ANIMATION DURATION
   ========================================================================== */

.a-dur0  { animation-duration: 0; }
.a-dur1  { animation-duration: .1s; }
.a-dur2  { animation-duration: .2s; }
.a-dur3  { animation-duration: .4s; }
.a-dur4  { animation-duration: .5s; }
.a-dur5  { animation-duration: .7s; }
.a-dur6  { animation-duration: 1s;  }
.a-dur7  { animation-duration: 1.5s; }
.a-dur8  { animation-duration: 2s; }
.a-dur9  { animation-duration: 2.5s; }
.a-dur10  { animation-duration: 4s;  }
.a-dur11  { animation-duration: 8s;  }
.a-dur12 { animation-duration: 12s;  }

@include break(not-small) {
  .a-dur0-ns   { animation-duration: 0; }
  .a-dur1-ns   { animation-duration: .1s; }
  .a-dur2-ns   { animation-duration: .2s; }
  .a-dur3-ns   { animation-duration: .4s; }
  .a-dur4-ns   { animation-duration: .5s; }
  .a-dur5-ns   { animation-duration: .7s; }
  .a-dur6-ns   { animation-duration: 1s;  }
  .a-dur7-ns   { animation-duration: 1.5s; }
  .a-dur8-ns   { animation-duration: 2s; }
  .a-dur9-ns   { animation-duration: 2.5s; }
  .a-dur10-ns  { animation-duration: 4s;  }
  .a-dur11-ns  { animation-duration: 8s;  }
  .a-dur12-ns  { animation-duration: 12s;  }
}

@include break(medium) {
  .a-dur0-m   { animation-duration: 0; }
  .a-dur1-m   { animation-duration: .1s; }
  .a-dur2-m   { animation-duration: .2s; }
  .a-dur3-m   { animation-duration: .4s; }
  .a-dur4-m   { animation-duration: .5s; }
  .a-dur5-m   { animation-duration: .7s; }
  .a-dur6-m   { animation-duration: 1s;  }
  .a-dur7-m   { animation-duration: 1.5s; }
  .a-dur8-m   { animation-duration: 2s; }
  .a-dur9-m   { animation-duration: 2.5s; }
  .a-dur10-m  { animation-duration: 4s;  }
  .a-dur11-m  { animation-duration: 8s;  }
  .a-dur12-m  { animation-duration: 12s;  }
}

@include break(large) {
  .a-dur0-l   { animation-duration: 0; }
  .a-dur1-l   { animation-duration: .1s; }
  .a-dur2-l   { animation-duration: .2s; }
  .a-dur3-l   { animation-duration: .4s; }
  .a-dur4-l   { animation-duration: .5s; }
  .a-dur5-l   { animation-duration: .7s; }
  .a-dur6-l   { animation-duration: 1s;  }
  .a-dur7-l   { animation-duration: 1.5s; }
  .a-dur8-l   { animation-duration: 2s; }
  .a-dur9-l   { animation-duration: 2.5s; }
  .a-dur10-l  { animation-duration: 4s;  }
  .a-dur11-l  { animation-duration: 8s;  }
  .a-dur12-l  { animation-duration: 12s;  }
}
