/* ==========================================================================
   ANIMATION DIRECTIONS
   ========================================================================== */

.a-dir-norm {     animation-direction: normal; }
.a-dir-rev {      animation-direction: reverse; }
.a-dir-alt {      animation-direction: alternate; }
.a-dir-alt-rev {  animation-direction: alternate-reverse; }

