/* ==========================================================================
   BACKGROUNDS
   ========================================================================== */

.bg-cv  { background-size: cover; }
.bg-cn  { background-size: contain; }

/* 1st value defines background width, height is implicitly set to auto */

.bg-half {  background-size: 50%; }
.bg-size4 { background-size: 4rem; }
.bg-auto {  background-size: auto; }


/* Repeats */

.bg-x {         background-repeat: repeat-x; }
.bg-y {         background-repeat: repeat-y; }
.bg-rep {       background-repeat: repeat; }
.bg-spc {       background-repeat: space; }
.bg-rnd {       background-repeat: round; }
.bg-norep {     background-repeat: no-repeat; }


/* Background Clip */

.bg-clip-bb { background-clip: border-box; }
.bg-clip-pb { background-clip: padding-box; }
.bg-clip-cb { background-clip: content-box; }

@include break(not-small){
  .bg-cv-ns  { background-size: cover; }
  .bg-cn-ns  { background-size: contain; }

  .bg-half-ns {  background-size: 50%; }
  .bg-size4-ns { background-size: 4rem; }
  .bg-auto-ns {  background-size: auto; }

  .bg-x-ns {         background-repeat: repeat-x; }
  .bg-y-ns {         background-repeat: repeat-y; }
  .bg-rep-ns {       background-repeat: repeat; }
  .bg-spc-ns {       background-repeat: space; }
  .bg-rnd-ns {       background-repeat: round; }
  .bg-norep-ns {     background-repeat: no-repeat; }

  .bg-clip-bb-ns { background-clip: border-box; }
  .bg-clip-pb-ns { background-clip: padding-box; }
  .bg-clip-cb-ns { background-clip: content-box; }
}

@include break(medium){
  .bg-cv-m  { background-size: cover; }
  .bg-cn-m  { background-size: contain; }

  .bg-half-m {  background-size: 50%; }
  .bg-size4-m { background-size: 4rem; }
  .bg-auto-m {  background-size: auto; }

  .bg-x-m {         background-repeat: repeat-x; }
  .bg-y-m {         background-repeat: repeat-y; }
  .bg-rep-m {       background-repeat: repeat; }
  .bg-spc-m {       background-repeat: space; }
  .bg-rnd-m {       background-repeat: round; }
  .bg-norep-m {     background-repeat: no-repeat; }

  .bg-clip-bb-m { background-clip: border-box; }
  .bg-clip-pb-m { background-clip: padding-box; }
  .bg-clip-cb-m { background-clip: content-box; }
}

@include break(large){
  .bg-cv-l  { background-size: cover; }
  .bg-cn-l  { background-size: contain; }

  .bg-half-l {  background-size: 50%; }
  .bg-size4-l { background-size: 4rem; }
  .bg-auto-l {  background-size: auto; }

  .bg-x-l {         background-repeat: repeat-x; }
  .bg-y-l {         background-repeat: repeat-y; }
  .bg-rep-l {       background-repeat: repeat; }
  .bg-spc-l {       background-repeat: space; }
  .bg-rnd-l {       background-repeat: round; }
  .bg-norep-l {     background-repeat: no-repeat; }

  .bg-clip-bb-l { background-clip: border-box; }
  .bg-clip-pb-l { background-clip: padding-box; }
  .bg-clip-cb-l { background-clip: content-box; }
}
