/* ==========================================================================
   BACKGROUND CLIP
   ========================================================================== */

.bg-clip-bb { background-clip: border-box; }
.bg-clip-pb { background-clip: padding-box; }
.bg-clip-cb { background-clip: content-box; }

