/* ==========================================================================
   BACKGROUND REPEAT
   ========================================================================== */

.bg-norep {  background-repeat: no-repeat; }
.bg-x {      background-repeat: repeat-x; }
.bg-y {      background-repeat: repeat-y; }
.bg-rep {    background-repeat: repeat; }
.bg-spc {    background-repeat: space; }
.bg-rnd {    background-repeat: round; }

