/* ==========================================================================
   BORDER STYLES
   ========================================================================== */

.ba-none { border-style: none; }
.ba-hidden { border-style: hidden; }
.ba-dotted { border-style: dotted; }
.ba-dashed { border-style: dashed; }
.ba-solid { border-style: solid; }
.ba-double { border-style: double; }
.ba-groove { border-style: groove; }
.ba-ridge { border-style: ridge; }
.ba-inset { border-style: inset; }
.ba-outset { border-style: outset; }

.bt-none {    border-top-style: none; }
.bt-hidden {  border-top-style: hidden; }
.bt-dotted {  border-top-style: dotted; }
.bt-dashed {  border-top-style: dashed; }
.bt-solid {   border-top-style: solid; }
.bt-double {  border-top-style: double; }
.bt-groove {  border-top-style: groove; }
.bt-ridge {   border-top-style: ridge; }
.bt-inset {   border-top-style: inset; }
.bt-outset {  border-top-style: outset; }

.bb-none {    border-bottom-style: none; }
.bb-hidden {  border-bottom-style: hidden; }
.bb-dotted {  border-bottom-style: dotted; }
.bb-dashed {  border-bottom-style: dashed; }
.bb-solid {   border-bottom-style: solid; }
.bb-double {  border-bottom-style: double; }
.bb-groove {  border-bottom-style: groove; }
.bb-ridge {   border-bottom-style: ridge; }
.bb-inset {   border-bottom-style: inset; }
.bb-outset {  border-bottom-style: outset; }

.bl-none {    border-left-style: none; }
.bl-hidden {  border-left-style: hidden; }
.bl-dotted {  border-left-style: dotted; }
.bl-dashed {  border-left-style: dashed; }
.bl-solid {   border-left-style: solid; }
.bl-double {  border-left-style: double; }
.bl-groove {  border-left-style: groove; }
.bl-ridge {   border-left-style: ridge; }
.bl-inset {   border-left-style: inset; }
.bl-outset {  border-left-style: outset; }

.br-none {    border-right-style: none; }
.br-hidden {  border-right-style: hidden; }
.br-dotted {  border-right-style: dotted; }
.br-dashed {  border-right-style: dashed; }
.br-solid {   border-right-style: solid; }
.br-double {  border-right-style: double; }
.br-groove {  border-right-style: groove; }
.br-ridge {   border-right-style: ridge; }
.br-inset {   border-right-style: inset; }
.br-outset {  border-right-style: outset; }

