/* ==========================================================================
   BORDER COLORS
   ========================================================================== */

.bor--blk {              border-color: $near-black; }
.bor--dk-gry {           border-color: $dark-gray; }
.bor--md-gry {           border-color: $mid-gray; }
.bor--gray {             border-color: $gray; }
.bor--silver  {          border-color: $silver; }
.bor--lt-slvr {          border-color: $light-silver; }
.bor--lt-gry {           border-color: $light-gray; }
.bor--near-wht {         border-color: $near-white; }
.bor--wht {              border-color: $white; }

.bor--pink  {            border-color: $pink;}
.bor--lightpink {        border-color: $lightpink; }
.bor--hotpink {          border-color: $hotpink; }
.bor--deeppink {         border-color: $deeppink; }
.bor--palevioletred {    border-color: $palevioletred; }
.bor--mediumvioletred {  border-color: $mediumvioletred; }
.bor--lightsalmon {      border-color: $lightsalmon; }
.bor--salmon {           border-color: $salmon; }
.bor--darksalmon {       border-color: $darksalmon; }
.bor--lightcoral {       border-color: $lightcoral; }
.bor--indianred {        border-color: $indianred; }
.bor--crimson {          border-color: $crimson; }
.bor--firebrick {        border-color: $firebrick; }
.bor--darkred {          border-color: $darkred; }
.bor--red {              border-color: $red; }
.bor--orangered {        border-color: $orangered; }
.bor--tomato {           border-color: $tomato; }
.bor--coral {            border-color: $coral; }
.bor--darkorange {       border-color: $darkorange; }
.bor--orange {           border-color: $orange; }
.bor--gold {             border-color: $gold; }
.bor--yellow {           border-color: $yellow; }
.bor--lightyellow {      border-color: $lightyellow; }
.bor--lemonchiffon {     border-color: $lemonchiffon; }
.bor--lightgoldenrod {   border-color: $lightgoldenrodyellow; }
.bor--papayawhip {       border-color: $papayawhip; }
.bor--moccasin {         border-color: $moccasin; }
.bor--peachpuff {        border-color: $peachpuff; }
.bor--palegoldenrod {    border-color: $palegoldenrod; }
.bor--khaki {            border-color: $khaki; }
.bor--darkkhaki {        border-color: $darkkhaki; }
.bor--cornsilk {         border-color: $cornsilk; }
.bor--blanchedalmond {   border-color: $blanchedalmond; }
.bor--bisque {           border-color: $bisque; }
.bor--navajowhite {      border-color: $navajowhite; }
.bor--wheat {            border-color: $wheat; }
.bor--burlywood {        border-color: $burlywood; }
.bor--tan {              border-color: $tan; }
.bor--rosybrown {        border-color: $rosybrown; }
.bor--sandybrown {       border-color: $sandybrown; }
.bor--goldenrod {        border-color: $goldenrod; }
.bor--darkgoldenrod {    border-color: $darkgoldenrod; }
.bor--peru {             border-color: $peru; }
.bor--chocolate {        border-color: $chocolate; }
.bor--saddlebrown {      border-color: $saddlebrown; }
.bor--sienna {           border-color: $sienna; }
.bor--brown {            border-color: $brown; }
.bor--maroon {           border-color: $maroon; }
.bor--darkolivegreen {   border-color: $darkolivegreen; }
.bor--olive {            border-color: $olive; }
.bor--olivedrab {        border-color: $olivedrab; }
.bor--yellowgreen {      border-color: $yellowgreen; }
.bor--limegreen {        border-color: $limegreen; }
.bor--lime {             border-color: $lime; }
.bor--lawngreen {        border-color: $lawngreen; }
.bor--chartreuse {       border-color: $chartreuse; }
.bor--greenyellow {      border-color: $greenyellow; }
.bor--springgreen {      border-color: $springgreen; }
.bor--medpringgreen {    border-color: $mediumspringgreen; }
.bor--lightgreen {       border-color: $lightgreen; }
.bor--palegreen {        border-color: $palegreen; }
.bor--darkseagreen {     border-color: $darkseagreen; }
.bor--mediumseagreen {   border-color: $mediumseagreen; }
.bor--seagreen {         border-color: $seagreen; }
.bor--forestgreen {      border-color: $forestgreen; }
.bor--green {            border-color: $green; }
.bor--darkgreen {        border-color: $darkgreen; }
.bor--mediumaquamarine { border-color: $mediumaquamarine; }
.bor--aqua {             border-color: $aqua; }
.bor--cyan {             border-color: $cyan; }
.bor--lightcyan {        border-color: $lightcyan; }
.bor--paleturquoise {    border-color: $paleturquoise; }
.bor--aquamarine {       border-color: $aquamarine; }
.bor--turquoise {        border-color: $turquoise; }
.bor--mediumturquoise {  border-color: $mediumturquoise; }
.bor--darkturquoise {    border-color: $darkturquoise; }
.bor--lightseagreen {    border-color: $lightseagreen; }
.bor--cadetblue {        border-color: $cadetblue; }
.bor--darkcyan {         border-color: $darkcyan; }
.bor--teal {             border-color: $teal; }
.bor--lightsteelblue {   border-color: $lightsteelblue; }
.bor--powderblue {       border-color: $powderblue; }
.bor--lightblue {        border-color: $lightblue; }
.bor--skyblue {          border-color: $skyblue; }
.bor--lightskyblue {     border-color: $lightskyblue; }
.bor--deepskyblue {      border-color: $deepskyblue; }
.bor--dodgerblue {       border-color: $dodgerblue; }
.bor--cornflowerblue {   border-color: $cornflowerblue; }
.bor--steelblue {        border-color: $steelblue; }
.bor--royalblue {        border-color: $royalblue; }
.bor--blue {             border-color: $blue; }
.bor--mediumblue {       border-color: $mediumblue; }
.bor--darkblue {         border-color: $darkblue; }
.bor--navy {             border-color: $navy; }
.bor--midnightblue {     border-color: $midnightblue; }
.bor--lavender {         border-color: $lavender; }
.bor--thistle {          border-color: $thistle; }
.bor--plum {             border-color: $plum; }
.bor--violet {           border-color: $violet; }
.bor--orchid {           border-color: $orchid; }
.bor--fuchsia {          border-color: $fuchsia; }
.bor--magenta {          border-color: $magenta; }
.bor--mediumorchid {     border-color: $mediumorchid; }
.bor--mediumpurple {     border-color: $mediumpurple; }
.bor--blueviolet {       border-color: $blueviolet; }
.bor--darkviolet {       border-color: $darkviolet; }
.bor--darkorchid {       border-color: $darkorchid; }
.bor--darkmagenta {      border-color: $darkmagenta; }
.bor--purple {           border-color: $purple; }
.bor--indigo {           border-color: $indigo; }
.bor--darkslateblue {    border-color: $darkslateblue; }
.bor--slateblue {        border-color: $slateblue; }
.bor--mediumslateblue {  border-color: $mediumslateblue; }
.bor--white {            border-color: $white; }
.bor--snow {             border-color: $snow; }
.bor--honeydew {         border-color: $honeydew; }
.bor--mintcream {        border-color: $mintcream; }
.bor--azure {            border-color: $azure; }
.bor--aliceblue {        border-color: $aliceblue; }
.bor--ghostwhite {       border-color: $ghostwhite; }
.bor--whitesmoke {       border-color: $whitesmoke; }
.bor--seashell {         border-color: $seashell; }
.bor--beige {            border-color: $beige; }
.bor--oldlace {          border-color: $oldlace; }
.bor--floralwhite {      border-color: $floralwhite; }
.bor--ivory {            border-color: $ivory; }
.bor--antiquewhite {     border-color: $antiquewhite; }
.bor--linen {            border-color: $linen; }
.bor--lavenderblush {    border-color: $lavenderblush; }
.bor--mistyrose {        border-color: $mistyrose; }
.bor--gainsboro {        border-color: $gainsboro; }


@include break(not-small) {
  .bor--blk-ns {      border-color: $near-black; }
  .bor--dk-gry-ns {   border-color: $dark-gray; }
  .bor--md-gry-ns {   border-color: $mid-gray; }
  .bor--gray-ns {     border-color: $gray; }
  .bor--silver -ns {  border-color: $silver; }
  .bor--lt-slvr-ns {  border-color: $light-silver; }
  .bor--lt-gry-ns {   border-color: $light-gray; }
  .bor--near-wht-ns { border-color: $near-white; }
  .bor--wht-ns {      border-color: $white; }

  .bor--pink -ns {            border-color: $pink;}
  .bor--lightpink-ns {        border-color: $lightpink; }
  .bor--hotpink-ns {          border-color: $hotpink; }
  .bor--deeppink-ns {         border-color: $deeppink; }
  .bor--palevioletred-ns {    border-color: $palevioletred; }
  .bor--mediumvioletred-ns {  border-color: $mediumvioletred; }
  .bor--lightsalmon-ns {      border-color: $lightsalmon; }
  .bor--salmon-ns {           border-color: $salmon; }
  .bor--darksalmon-ns {       border-color: $darksalmon; }
  .bor--lightcoral-ns {       border-color: $lightcoral; }
  .bor--indianred-ns {        border-color: $indianred; }
  .bor--crimson-ns {          border-color: $crimson; }
  .bor--firebrick-ns {        border-color: $firebrick; }
  .bor--darkred-ns {          border-color: $darkred; }
  .bor--red-ns {              border-color: $red; }
  .bor--orangered-ns {        border-color: $orangered; }
  .bor--tomato-ns {           border-color: $tomato; }
  .bor--coral-ns {            border-color: $coral; }
  .bor--darkorange-ns {       border-color: $darkorange; }
  .bor--orange-ns {           border-color: $orange; }
  .bor--gold-ns {             border-color: $gold; }
  .bor--yellow-ns {           border-color: $yellow; }
  .bor--lightyellow-ns {      border-color: $lightyellow; }
  .bor--lemonchiffon-ns {     border-color: $lemonchiffon; }
  .bor--lightgoldenrod-ns {   border-color: $lightgoldenrodyellow; }
  .bor--papayawhip-ns {       border-color: $papayawhip; }
  .bor--moccasin-ns {         border-color: $moccasin; }
  .bor--peachpuff-ns {        border-color: $peachpuff; }
  .bor--palegoldenrod-ns {    border-color: $palegoldenrod; }
  .bor--khaki-ns {            border-color: $khaki; }
  .bor--darkkhaki-ns {        border-color: $darkkhaki; }
  .bor--cornsilk-ns {         border-color: $cornsilk; }
  .bor--blanchedalmond-ns {   border-color: $blanchedalmond; }
  .bor--bisque-ns {           border-color: $bisque; }
  .bor--navajowhite-ns {      border-color: $navajowhite; }
  .bor--wheat-ns {            border-color: $wheat; }
  .bor--burlywood-ns {        border-color: $burlywood; }
  .bor--tan-ns {              border-color: $tan; }
  .bor--rosybrown-ns {        border-color: $rosybrown; }
  .bor--sandybrown-ns {       border-color: $sandybrown; }
  .bor--goldenrod-ns {        border-color: $goldenrod; }
  .bor--darkgoldenrod-ns {    border-color: $darkgoldenrod; }
  .bor--peru-ns {             border-color: $peru; }
  .bor--chocolate-ns {        border-color: $chocolate; }
  .bor--saddlebrown-ns {      border-color: $saddlebrown; }
  .bor--sienna-ns {           border-color: $sienna; }
  .bor--brown-ns {            border-color: $brown; }
  .bor--maroon-ns {           border-color: $maroon; }
  .bor--darkolivegreen-ns {   border-color: $darkolivegreen; }
  .bor--olive-ns {            border-color: $olive; }
  .bor--olivedrab-ns {        border-color: $olivedrab; }
  .bor--yellowgreen-ns {      border-color: $yellowgreen; }
  .bor--limegreen-ns {        border-color: $limegreen; }
  .bor--lime-ns {             border-color: $lime; }
  .bor--lawngreen-ns {        border-color: $lawngreen; }
  .bor--chartreuse-ns {       border-color: $chartreuse; }
  .bor--greenyellow-ns {      border-color: $greenyellow; }
  .bor--springgreen-ns {      border-color: $springgreen; }
  .bor--medpringgreen-ns {    border-color: $mediumspringgreen; }
  .bor--lightgreen-ns {       border-color: $lightgreen; }
  .bor--palegreen-ns {        border-color: $palegreen; }
  .bor--darkseagreen-ns {     border-color: $darkseagreen; }
  .bor--mediumseagreen-ns {   border-color: $mediumseagreen; }
  .bor--seagreen-ns {         border-color: $seagreen; }
  .bor--forestgreen-ns {      border-color: $forestgreen; }
  .bor--green-ns {            border-color: $green; }
  .bor--darkgreen-ns {        border-color: $darkgreen; }
  .bor--mediumaquamarine-ns { border-color: $mediumaquamarine; }
  .bor--aqua-ns {             border-color: $aqua; }
  .bor--cyan-ns {             border-color: $cyan; }
  .bor--lightcyan-ns {        border-color: $lightcyan; }
  .bor--paleturquoise-ns {    border-color: $paleturquoise; }
  .bor--aquamarine-ns {       border-color: $aquamarine; }
  .bor--turquoise-ns {        border-color: $turquoise; }
  .bor--mediumturquoise-ns {  border-color: $mediumturquoise; }
  .bor--darkturquoise-ns {    border-color: $darkturquoise; }
  .bor--lightseagreen-ns {    border-color: $lightseagreen; }
  .bor--cadetblue-ns {        border-color: $cadetblue; }
  .bor--darkcyan-ns {         border-color: $darkcyan; }
  .bor--teal-ns {             border-color: $teal; }
  .bor--lightsteelblue-ns {   border-color: $lightsteelblue; }
  .bor--powderblue-ns {       border-color: $powderblue; }
  .bor--lightblue-ns {        border-color: $lightblue; }
  .bor--skyblue-ns {          border-color: $skyblue; }
  .bor--lightskyblue-ns {     border-color: $lightskyblue; }
  .bor--deepskyblue-ns {      border-color: $deepskyblue; }
  .bor--dodgerblue-ns {       border-color: $dodgerblue; }
  .bor--cornflowerblue-ns {   border-color: $cornflowerblue; }
  .bor--steelblue-ns {        border-color: $steelblue; }
  .bor--royalblue-ns {        border-color: $royalblue; }
  .bor--blue-ns {             border-color: $blue; }
  .bor--mediumblue-ns {       border-color: $mediumblue; }
  .bor--darkblue-ns {         border-color: $darkblue; }
  .bor--navy-ns {             border-color: $navy; }
  .bor--midnightblue-ns {     border-color: $midnightblue; }
  .bor--lavender-ns {         border-color: $lavender; }
  .bor--thistle-ns {          border-color: $thistle; }
  .bor--plum-ns {             border-color: $plum; }
  .bor--violet-ns {           border-color: $violet; }
  .bor--orchid-ns {           border-color: $orchid; }
  .bor--fuchsia-ns {          border-color: $fuchsia; }
  .bor--magenta-ns {          border-color: $magenta; }
  .bor--mediumorchid-ns {     border-color: $mediumorchid; }
  .bor--mediumpurple-ns {     border-color: $mediumpurple; }
  .bor--blueviolet-ns {       border-color: $blueviolet; }
  .bor--darkviolet-ns {       border-color: $darkviolet; }
  .bor--darkorchid-ns {       border-color: $darkorchid; }
  .bor--darkmagenta-ns {      border-color: $darkmagenta; }
  .bor--purple-ns {           border-color: $purple; }
  .bor--indigo-ns {           border-color: $indigo; }
  .bor--darkslateblue-ns {    border-color: $darkslateblue; }
  .bor--slateblue-ns {        border-color: $slateblue; }
  .bor--mediumslateblue-ns {  border-color: $mediumslateblue; }
  .bor--white-ns {            border-color: $white; }
  .bor--snow-ns {             border-color: $snow; }
  .bor--honeydew-ns {         border-color: $honeydew; }
  .bor--mintcream-ns {        border-color: $mintcream; }
  .bor--azure-ns {            border-color: $azure; }
  .bor--aliceblue-ns {        border-color: $aliceblue; }
  .bor--ghostwhite-ns {       border-color: $ghostwhite; }
  .bor--whitesmoke-ns {       border-color: $whitesmoke; }
  .bor--seashell-ns {         border-color: $seashell; }
  .bor--beige-ns {            border-color: $beige; }
  .bor--oldlace-ns {          border-color: $oldlace; }
  .bor--floralwhite-ns {      border-color: $floralwhite; }
  .bor--ivory-ns {            border-color: $ivory; }
  .bor--antiquewhite-ns {     border-color: $antiquewhite; }
  .bor--linen-ns {            border-color: $linen; }
  .bor--lavenderblush-ns {    border-color: $lavenderblush; }
  .bor--mistyrose-ns {        border-color: $mistyrose; }
  .bor--gainsboro-ns {        border-color: $gainsboro; }
}

@include break(medium) {
  .bor--blk-m {      border-color: $near-black; }
  .bor--dk-gry-m {   border-color: $dark-gray; }
  .bor--md-gry-m {   border-color: $mid-gray; }
  .bor--gray-m {     border-color: $gray; }
  .bor--silver -m {  border-color: $silver; }
  .bor--lt-slvr-m {  border-color: $light-silver; }
  .bor--lt-gry-m {   border-color: $light-gray; }
  .bor--near-wht-m { border-color: $near-white; }
  .bor--wht-m {      border-color: $white; }

  .bor--pink -m {            border-color: $pink;}
  .bor--lightpink-m {        border-color: $lightpink; }
  .bor--hotpink-m {          border-color: $hotpink; }
  .bor--deeppink-m {         border-color: $deeppink; }
  .bor--palevioletred-m {    border-color: $palevioletred; }
  .bor--mediumvioletred-m {  border-color: $mediumvioletred; }
  .bor--lightsalmon-m {      border-color: $lightsalmon; }
  .bor--salmon-m {           border-color: $salmon; }
  .bor--darksalmon-m {       border-color: $darksalmon; }
  .bor--lightcoral-m {       border-color: $lightcoral; }
  .bor--indianred-m {        border-color: $indianred; }
  .bor--crimson-m {          border-color: $crimson; }
  .bor--firebrick-m {        border-color: $firebrick; }
  .bor--darkred-m {          border-color: $darkred; }
  .bor--red-m {              border-color: $red; }
  .bor--orangered-m {        border-color: $orangered; }
  .bor--tomato-m {           border-color: $tomato; }
  .bor--coral-m {            border-color: $coral; }
  .bor--darkorange-m {       border-color: $darkorange; }
  .bor--orange-m {           border-color: $orange; }
  .bor--gold-m {             border-color: $gold; }
  .bor--yellow-m {           border-color: $yellow; }
  .bor--lightyellow-m {      border-color: $lightyellow; }
  .bor--lemonchiffon-m {     border-color: $lemonchiffon; }
  .bor--lightgoldenrod-m {   border-color: $lightgoldenrodyellow; }
  .bor--papayawhip-m {       border-color: $papayawhip; }
  .bor--moccasin-m {         border-color: $moccasin; }
  .bor--peachpuff-m {        border-color: $peachpuff; }
  .bor--palegoldenrod-m {    border-color: $palegoldenrod; }
  .bor--khaki-m {            border-color: $khaki; }
  .bor--darkkhaki-m {        border-color: $darkkhaki; }
  .bor--cornsilk-m {         border-color: $cornsilk; }
  .bor--blanchedalmond-m {   border-color: $blanchedalmond; }
  .bor--bisque-m {           border-color: $bisque; }
  .bor--navajowhite-m {      border-color: $navajowhite; }
  .bor--wheat-m {            border-color: $wheat; }
  .bor--burlywood-m {        border-color: $burlywood; }
  .bor--tan-m {              border-color: $tan; }
  .bor--rosybrown-m {        border-color: $rosybrown; }
  .bor--sandybrown-m {       border-color: $sandybrown; }
  .bor--goldenrod-m {        border-color: $goldenrod; }
  .bor--darkgoldenrod-m {    border-color: $darkgoldenrod; }
  .bor--peru-m {             border-color: $peru; }
  .bor--chocolate-m {        border-color: $chocolate; }
  .bor--saddlebrown-m {      border-color: $saddlebrown; }
  .bor--sienna-m {           border-color: $sienna; }
  .bor--brown-m {            border-color: $brown; }
  .bor--maroon-m {           border-color: $maroon; }
  .bor--darkolivegreen-m {   border-color: $darkolivegreen; }
  .bor--olive-m {            border-color: $olive; }
  .bor--olivedrab-m {        border-color: $olivedrab; }
  .bor--yellowgreen-m {      border-color: $yellowgreen; }
  .bor--limegreen-m {        border-color: $limegreen; }
  .bor--lime-m {             border-color: $lime; }
  .bor--lawngreen-m {        border-color: $lawngreen; }
  .bor--chartreuse-m {       border-color: $chartreuse; }
  .bor--greenyellow-m {      border-color: $greenyellow; }
  .bor--springgreen-m {      border-color: $springgreen; }
  .bor--medpringgreen-m {    border-color: $mediumspringgreen; }
  .bor--lightgreen-m {       border-color: $lightgreen; }
  .bor--palegreen-m {        border-color: $palegreen; }
  .bor--darkseagreen-m {     border-color: $darkseagreen; }
  .bor--mediumseagreen-m {   border-color: $mediumseagreen; }
  .bor--seagreen-m {         border-color: $seagreen; }
  .bor--forestgreen-m {      border-color: $forestgreen; }
  .bor--green-m {            border-color: $green; }
  .bor--darkgreen-m {        border-color: $darkgreen; }
  .bor--mediumaquamarine-m { border-color: $mediumaquamarine; }
  .bor--aqua-m {             border-color: $aqua; }
  .bor--cyan-m {             border-color: $cyan; }
  .bor--lightcyan-m {        border-color: $lightcyan; }
  .bor--paleturquoise-m {    border-color: $paleturquoise; }
  .bor--aquamarine-m {       border-color: $aquamarine; }
  .bor--turquoise-m {        border-color: $turquoise; }
  .bor--mediumturquoise-m {  border-color: $mediumturquoise; }
  .bor--darkturquoise-m {    border-color: $darkturquoise; }
  .bor--lightseagreen-m {    border-color: $lightseagreen; }
  .bor--cadetblue-m {        border-color: $cadetblue; }
  .bor--darkcyan-m {         border-color: $darkcyan; }
  .bor--teal-m {             border-color: $teal; }
  .bor--lightsteelblue-m {   border-color: $lightsteelblue; }
  .bor--powderblue-m {       border-color: $powderblue; }
  .bor--lightblue-m {        border-color: $lightblue; }
  .bor--skyblue-m {          border-color: $skyblue; }
  .bor--lightskyblue-m {     border-color: $lightskyblue; }
  .bor--deepskyblue-m {      border-color: $deepskyblue; }
  .bor--dodgerblue-m {       border-color: $dodgerblue; }
  .bor--cornflowerblue-m {   border-color: $cornflowerblue; }
  .bor--steelblue-m {        border-color: $steelblue; }
  .bor--royalblue-m {        border-color: $royalblue; }
  .bor--blue-m {             border-color: $blue; }
  .bor--mediumblue-m {       border-color: $mediumblue; }
  .bor--darkblue-m {         border-color: $darkblue; }
  .bor--navy-m {             border-color: $navy; }
  .bor--midnightblue-m {     border-color: $midnightblue; }
  .bor--lavender-m {         border-color: $lavender; }
  .bor--thistle-m {          border-color: $thistle; }
  .bor--plum-m {             border-color: $plum; }
  .bor--violet-m {           border-color: $violet; }
  .bor--orchid-m {           border-color: $orchid; }
  .bor--fuchsia-m {          border-color: $fuchsia; }
  .bor--magenta-m {          border-color: $magenta; }
  .bor--mediumorchid-m {     border-color: $mediumorchid; }
  .bor--mediumpurple-m {     border-color: $mediumpurple; }
  .bor--blueviolet-m {       border-color: $blueviolet; }
  .bor--darkviolet-m {       border-color: $darkviolet; }
  .bor--darkorchid-m {       border-color: $darkorchid; }
  .bor--darkmagenta-m {      border-color: $darkmagenta; }
  .bor--purple-m {           border-color: $purple; }
  .bor--indigo-m {           border-color: $indigo; }
  .bor--darkslateblue-m {    border-color: $darkslateblue; }
  .bor--slateblue-m {        border-color: $slateblue; }
  .bor--mediumslateblue-m {  border-color: $mediumslateblue; }
  .bor--white-m {            border-color: $white; }
  .bor--snow-m {             border-color: $snow; }
  .bor--honeydew-m {         border-color: $honeydew; }
  .bor--mintcream-m {        border-color: $mintcream; }
  .bor--azure-m {            border-color: $azure; }
  .bor--aliceblue-m {        border-color: $aliceblue; }
  .bor--ghostwhite-m {       border-color: $ghostwhite; }
  .bor--whitesmoke-m {       border-color: $whitesmoke; }
  .bor--seashell-m {         border-color: $seashell; }
  .bor--beige-m {            border-color: $beige; }
  .bor--oldlace-m {          border-color: $oldlace; }
  .bor--floralwhite-m {      border-color: $floralwhite; }
  .bor--ivory-m {            border-color: $ivory; }
  .bor--antiquewhite-m {     border-color: $antiquewhite; }
  .bor--linen-m {            border-color: $linen; }
  .bor--lavenderblush-m {    border-color: $lavenderblush; }
  .bor--mistyrose-m {        border-color: $mistyrose; }
  .bor--gainsboro-m {        border-color: $gainsboro; }
}

@include break(large) {
  .bor--blk-l {      border-color: $near-black; }
  .bor--dk-gry-l {   border-color: $dark-gray; }
  .bor--md-gry-l {   border-color: $mid-gray; }
  .bor--gray-l {     border-color: $gray; }
  .bor--silver -l {  border-color: $silver; }
  .bor--lt-slvr-l {  border-color: $light-silver; }
  .bor--lt-gry-l {   border-color: $light-gray; }
  .bor--near-wht-l { border-color: $near-white; }
  .bor--wht-l {      border-color: $white; }

  .bor--pink -l {            border-color: $pink;}
  .bor--lightpink-l {        border-color: $lightpink; }
  .bor--hotpink-l {          border-color: $hotpink; }
  .bor--deeppink-l {         border-color: $deeppink; }
  .bor--palevioletred-l {    border-color: $palevioletred; }
  .bor--mediumvioletred-l {  border-color: $mediumvioletred; }
  .bor--lightsalmon-l {      border-color: $lightsalmon; }
  .bor--salmon-l {           border-color: $salmon; }
  .bor--darksalmon-l {       border-color: $darksalmon; }
  .bor--lightcoral-l {       border-color: $lightcoral; }
  .bor--indianred-l {        border-color: $indianred; }
  .bor--crimson-l {          border-color: $crimson; }
  .bor--firebrick-l {        border-color: $firebrick; }
  .bor--darkred-l {          border-color: $darkred; }
  .bor--red-l {              border-color: $red; }
  .bor--orangered-l {        border-color: $orangered; }
  .bor--tomato-l {           border-color: $tomato; }
  .bor--coral-l {            border-color: $coral; }
  .bor--darkorange-l {       border-color: $darkorange; }
  .bor--orange-l {           border-color: $orange; }
  .bor--gold-l {             border-color: $gold; }
  .bor--yellow-l {           border-color: $yellow; }
  .bor--lightyellow-l {      border-color: $lightyellow; }
  .bor--lemonchiffon-l {     border-color: $lemonchiffon; }
  .bor--lightgoldenrod-l {   border-color: $lightgoldenrodyellow; }
  .bor--papayawhip-l {       border-color: $papayawhip; }
  .bor--moccasin-l {         border-color: $moccasin; }
  .bor--peachpuff-l {        border-color: $peachpuff; }
  .bor--palegoldenrod-l {    border-color: $palegoldenrod; }
  .bor--khaki-l {            border-color: $khaki; }
  .bor--darkkhaki-l {        border-color: $darkkhaki; }
  .bor--cornsilk-l {         border-color: $cornsilk; }
  .bor--blanchedalmond-l {   border-color: $blanchedalmond; }
  .bor--bisque-l {           border-color: $bisque; }
  .bor--navajowhite-l {      border-color: $navajowhite; }
  .bor--wheat-l {            border-color: $wheat; }
  .bor--burlywood-l {        border-color: $burlywood; }
  .bor--tan-l {              border-color: $tan; }
  .bor--rosybrown-l {        border-color: $rosybrown; }
  .bor--sandybrown-l {       border-color: $sandybrown; }
  .bor--goldenrod-l {        border-color: $goldenrod; }
  .bor--darkgoldenrod-l {    border-color: $darkgoldenrod; }
  .bor--peru-l {             border-color: $peru; }
  .bor--chocolate-l {        border-color: $chocolate; }
  .bor--saddlebrown-l {      border-color: $saddlebrown; }
  .bor--sienna-l {           border-color: $sienna; }
  .bor--brown-l {            border-color: $brown; }
  .bor--maroon-l {           border-color: $maroon; }
  .bor--darkolivegreen-l {   border-color: $darkolivegreen; }
  .bor--olive-l {            border-color: $olive; }
  .bor--olivedrab-l {        border-color: $olivedrab; }
  .bor--yellowgreen-l {      border-color: $yellowgreen; }
  .bor--limegreen-l {        border-color: $limegreen; }
  .bor--lime-l {             border-color: $lime; }
  .bor--lawngreen-l {        border-color: $lawngreen; }
  .bor--chartreuse-l {       border-color: $chartreuse; }
  .bor--greenyellow-l {      border-color: $greenyellow; }
  .bor--springgreen-l {      border-color: $springgreen; }
  .bor--medpringgreen-l {    border-color: $mediumspringgreen; }
  .bor--lightgreen-l {       border-color: $lightgreen; }
  .bor--palegreen-l {        border-color: $palegreen; }
  .bor--darkseagreen-l {     border-color: $darkseagreen; }
  .bor--mediumseagreen-l {   border-color: $mediumseagreen; }
  .bor--seagreen-l {         border-color: $seagreen; }
  .bor--forestgreen-l {      border-color: $forestgreen; }
  .bor--green-l {            border-color: $green; }
  .bor--darkgreen-l {        border-color: $darkgreen; }
  .bor--mediumaquamarine-l { border-color: $mediumaquamarine; }
  .bor--aqua-l {             border-color: $aqua; }
  .bor--cyan-l {             border-color: $cyan; }
  .bor--lightcyan-l {        border-color: $lightcyan; }
  .bor--paleturquoise-l {    border-color: $paleturquoise; }
  .bor--aquamarine-l {       border-color: $aquamarine; }
  .bor--turquoise-l {        border-color: $turquoise; }
  .bor--mediumturquoise-l {  border-color: $mediumturquoise; }
  .bor--darkturquoise-l {    border-color: $darkturquoise; }
  .bor--lightseagreen-l {    border-color: $lightseagreen; }
  .bor--cadetblue-l {        border-color: $cadetblue; }
  .bor--darkcyan-l {         border-color: $darkcyan; }
  .bor--teal-l {             border-color: $teal; }
  .bor--lightsteelblue-l {   border-color: $lightsteelblue; }
  .bor--powderblue-l {       border-color: $powderblue; }
  .bor--lightblue-l {        border-color: $lightblue; }
  .bor--skyblue-l {          border-color: $skyblue; }
  .bor--lightskyblue-l {     border-color: $lightskyblue; }
  .bor--deepskyblue-l {      border-color: $deepskyblue; }
  .bor--dodgerblue-l {       border-color: $dodgerblue; }
  .bor--cornflowerblue-l {   border-color: $cornflowerblue; }
  .bor--steelblue-l {        border-color: $steelblue; }
  .bor--royalblue-l {        border-color: $royalblue; }
  .bor--blue-l {             border-color: $blue; }
  .bor--mediumblue-l {       border-color: $mediumblue; }
  .bor--darkblue-l {         border-color: $darkblue; }
  .bor--navy-l {             border-color: $navy; }
  .bor--midnightblue-l {     border-color: $midnightblue; }
  .bor--lavender-l {         border-color: $lavender; }
  .bor--thistle-l {          border-color: $thistle; }
  .bor--plum-l {             border-color: $plum; }
  .bor--violet-l {           border-color: $violet; }
  .bor--orchid-l {           border-color: $orchid; }
  .bor--fuchsia-l {          border-color: $fuchsia; }
  .bor--magenta-l {          border-color: $magenta; }
  .bor--mediumorchid-l {     border-color: $mediumorchid; }
  .bor--mediumpurple-l {     border-color: $mediumpurple; }
  .bor--blueviolet-l {       border-color: $blueviolet; }
  .bor--darkviolet-l {       border-color: $darkviolet; }
  .bor--darkorchid-l {       border-color: $darkorchid; }
  .bor--darkmagenta-l {      border-color: $darkmagenta; }
  .bor--purple-l {           border-color: $purple; }
  .bor--indigo-l {           border-color: $indigo; }
  .bor--darkslateblue-l {    border-color: $darkslateblue; }
  .bor--slateblue-l {        border-color: $slateblue; }
  .bor--mediumslateblue-l {  border-color: $mediumslateblue; }
  .bor--white-l {            border-color: $white; }
  .bor--snow-l {             border-color: $snow; }
  .bor--honeydew-l {         border-color: $honeydew; }
  .bor--mintcream-l {        border-color: $mintcream; }
  .bor--azure-l {            border-color: $azure; }
  .bor--aliceblue-l {        border-color: $aliceblue; }
  .bor--ghostwhite-l {       border-color: $ghostwhite; }
  .bor--whitesmoke-l {       border-color: $whitesmoke; }
  .bor--seashell-l {         border-color: $seashell; }
  .bor--beige-l {            border-color: $beige; }
  .bor--oldlace-l {          border-color: $oldlace; }
  .bor--floralwhite-l {      border-color: $floralwhite; }
  .bor--ivory-l {            border-color: $ivory; }
  .bor--antiquewhite-l {     border-color: $antiquewhite; }
  .bor--linen-l {            border-color: $linen; }
  .bor--lavenderblush-l {    border-color: $lavenderblush; }
  .bor--mistyrose-l {        border-color: $mistyrose; }
  .bor--gainsboro-l {        border-color: $gainsboro; }
}

