/* ==========================================================================
   BORDER RADIUS
   ========================================================================== */

.br { border-radius: 2px; }
.br-2 { border-radius: 4px; }
.br-3 { border-radius: 8px; }
.br-4 { border-radius: 16px; }
.br-5 { border-radius: 16px; }
.br-circ { border-radius: 9999px; }
.br-100 { border-radius: 100%; }

