/* ==========================================================================
   BORDER WIDTHS
   ========================================================================== */

.baw0 { border-width: 0px; }
.baw1 { border-width: 1px; }
.baw2 { border-width: 2px; }
.baw3 { border-width: 4px; }
.baw4 { border-width: 8px; }
.baw5 { border-width: 16px; }

.btw0 { border-top-width: 0px; }
.btw1 { border-top-width: 1px; }
.btw2 { border-top-width: 2px; }
.btw3 { border-top-width: 4px; }
.btw4 { border-top-width: 8px; }
.btw5 { border-top-width: 16px; }

.bbw0 { border-bottom-width: 0px; }
.bbw1 { border-bottom-width: 1px; }
.bbw2 { border-bottom-width: 2px; }
.bbw3 { border-bottom-width: 4px; }
.bbw4 { border-bottom-width: 8px; }
.bbw5 { border-bottom-width: 16px; }

.blw0 { border-left-width: 0px; }
.blw1 { border-left-width: 1px; }
.blw2 { border-left-width: 2px; }
.blw3 { border-left-width: 4px; }
.blw4 { border-left-width: 8px; }
.blw5 { border-left-width: 16px; }

.brw0 { border-right-width: 0px; }
.brw1 { border-right-width: 1px; }
.brw2 { border-right-width: 2px; }
.brw3 { border-right-width: 4px; }
.brw4 { border-right-width: 8px; }
.brw5 { border-right-width: 16px; }

