/* ==========================================================================
   BORDER RADIUS
   ========================================================================== */

.brn {     border-radius: 0; }
.br {      border-radius: .125rem; }
.br2 {     border-radius: .25rem; }
.br3 {     border-radius: .5rem; }
.br4 {     border-radius: 1rem; }
.br5 {     border-radius: 2rem; }
.br-circ { border-radius: 9999px; }
.br-100 {  border-radius: 100%; }

