/* ==========================================================================
   BORDER COLLAPSE
   ========================================================================== */

.bc-collapse {  border-collapse: collapse; }
.bc-separate {  border-collapse: separate; }
.bc-i {         border-collapse: inherit; }

