/* ==========================================================================
   THE BREAKS
   ========================================================================== */

/* Break After */

.ba-aut {           break-after: auto; }
.ba-al {            break-after: always; }
.ba-l {             break-after: left; }
.ba-r {             break-after: right; }
.ba-rect {          break-after: recto; }
.ba-vers {          break-after: verso; }
.ba-page {          break-after: page; }
.ba-col {           break-after: column; }
.ba-reg {           break-after: region; }
.ba-avoid {         break-after: avoid; }
.ba-avoid-page {    break-after: avoid-page; }
.ba-avoid-column {  break-after: avoid-column; }
.ba-avoid-region {  break-after: avoid-region; }


/* Break Before */

.bb-aut {           break-before: auto; }
.bb-al {            break-before: always; }
.bb-l {             break-before: left; }
.bb-r {             break-before: right; }
.bb-rect {          break-before: recto; }
.bb-vers {          break-before: verso; }
.bb-page {          break-before: page; }
.bb-col {           break-before: column; }
.bb-reg {           break-before: region; }
.bb-avoid {         break-before: avoid; }
.bb-avoid-page {    break-before: avoid-page; }
.bb-avoid-column {  break-before: avoid-column; }
.bb-avoid-region {  break-before: avoid-region; }

@include break(not-small) {
  .ba-aut-ns {           break-after: auto; }
  .ba-al-ns {            break-after: always; }
  .ba-l-ns {             break-after: left; }
  .ba-r-ns {             break-after: right; }
  .ba-rect-ns {          break-after: recto; }
  .ba-vers-ns {          break-after: verso; }
  .ba-page-ns {          break-after: page; }
  .ba-col-ns {           break-after: column; }
  .ba-reg-ns {           break-after: region; }
  .ba-avoid-ns {         break-after: avoid; }
  .ba-avoid-page-ns {    break-after: avoid-page; }
  .ba-avoid-column-ns {  break-after: avoid-column; }
  .ba-avoid-region-ns {  break-after: avoid-region; }


  /* Break Before */

  .bb-aut-ns {           break-before: auto; }
  .bb-al-ns {            break-before: always; }
  .bb-l-ns {             break-before: left; }
  .bb-r-ns {             break-before: right; }
  .bb-rect-ns {          break-before: recto; }
  .bb-vers-ns {          break-before: verso; }
  .bb-page-ns {          break-before: page; }
  .bb-col-ns {           break-before: column; }
  .bb-reg-ns {           break-before: region; }
  .bb-avoid-ns {         break-before: avoid; }
  .bb-avoid-page-ns {    break-before: avoid-page; }
  .bb-avoid-column-ns {  break-before: avoid-column; }
  .bb-avoid-region-ns {  break-before: avoid-region; }


}

@include break(medium) {
  .ba-aut-m {           break-after: auto; }
  .ba-al-m {            break-after: always; }
  .ba-l-m {             break-after: left; }
  .ba-r-m {             break-after: right; }
  .ba-rect-m {          break-after: recto; }
  .ba-vers-m {          break-after: verso; }
  .ba-page-m {          break-after: page; }
  .ba-col-m {           break-after: column; }
  .ba-reg-m {           break-after: region; }
  .ba-avoid-m {         break-after: avoid; }
  .ba-avoid-page-m {    break-after: avoid-page; }
  .ba-avoid-column-m {  break-after: avoid-column; }
  .ba-avoid-region-m {  break-after: avoid-region; }


  /* Break Before */

  .bb-aut-m {           break-before: auto; }
  .bb-al-m {            break-before: always; }
  .bb-l-m {             break-before: left; }
  .bb-r-m {             break-before: right; }
  .bb-rect-m {          break-before: recto; }
  .bb-vers-m {          break-before: verso; }
  .bb-page-m {          break-before: page; }
  .bb-col-m {           break-before: column; }
  .bb-reg-m {           break-before: region; }
  .bb-avoid-m {         break-before: avoid; }
  .bb-avoid-page-m {    break-before: avoid-page; }
  .bb-avoid-column-m {  break-before: avoid-column; }
  .bb-avoid-region-m {  break-before: avoid-region; }


}

@include break(large) {
  .ba-aut-l {           break-after: auto; }
  .ba-al-l {            break-after: always; }
  .ba-l-l {             break-after: left; }
  .ba-r-l {             break-after: right; }
  .ba-rect-l {          break-after: recto; }
  .ba-vers-l {          break-after: verso; }
  .ba-page-l {          break-after: page; }
  .ba-col-l {           break-after: column; }
  .ba-reg-l {           break-after: region; }
  .ba-avoid-l {         break-after: avoid; }
  .ba-avoid-page-l {    break-after: avoid-page; }
  .ba-avoid-column-l {  break-after: avoid-column; }
  .ba-avoid-region-l {  break-after: avoid-region; }


  /* Break Before */

  .bb-aut-l {           break-before: auto; }
  .bb-al-l {            break-before: always; }
  .bb-l-l {             break-before: left; }
  .bb-r-l {             break-before: right; }
  .bb-rect-l {          break-before: recto; }
  .bb-vers-l {          break-before: verso; }
  .bb-page-l {          break-before: page; }
  .bb-col-l {           break-before: column; }
  .bb-reg-l {           break-before: region; }
  .bb-avoid-l {         break-before: avoid; }
  .bb-avoid-page-l {    break-before: avoid-page; }
  .bb-avoid-column-l {  break-before: avoid-column; }
  .bb-avoid-region-l {  break-before: avoid-region; }

}

