/* ==========================================================================
   CLEARS
   ========================================================================== */

.cn { clear: none; }
.cl { clear: left; }
.cr { clear: right; }
.cb { clear: both; }

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

@include break(not-small) {
  .cn-ns { clear: none; }
  .cl-ns { clear: left; }
  .cr-ns { clear: right; }
  .cb-ns { clear: both; }
}

@include break(medium) {
  .cn-m { clear: none; }
  .cl-m { clear: left; }
  .cr-m { clear: right; }
  .cb-m { clear: both; }
}

@include break(large) {
  .cn-l { clear: none; }
  .cl-l { clear: left; }
  .cr-l { clear: right; }
  .cb-l { clear: both; }
}
