/* ==========================================================================
   CLEARS
   ========================================================================== */

.cn { clear: none; }
.cl { clear: left; }
.cr { clear: right; }
.cb { clear: both; }

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf {       *zoom: 1; }

@include break(not-small) {
  .cn-ns { clear: none; }
  .cl-ns { clear: left; }
  .cr-ns { clear: right; }
  .cb-ns { clear: both; }
  .cf-ns:before,
  .cf-ns:after { content: " "; display: table; }
  .cf-ns:after { clear: both; }
  .cf-ns {       *zoom: 1; }
}

@include break(medium) {
  .cn-m { clear: none; }
  .cl-m { clear: left; }
  .cr-m { clear: right; }
  .cb-m { clear: both; }
  .cf-m:before,
  .cf-m:after { content: " "; display: table; }
  .cf-m:after { clear: both; }
  .cf-m {       *zoom: 1; }
}

@include break(large) {
  .cn-l { clear: none; }
  .cl-l { clear: left; }
  .cr-l { clear: right; }
  .cb-l { clear: both; }
  .cf-l:before,
  .cf-l:after { content: " "; display: table; }
  .cf-l:after { clear: both; }
  .cf-l {       *zoom: 1; }
}

