/* ==========================================================================
   COLUMN RULE COLOR
   ========================================================================== */

.crc-drkgry {       column-rule-color: $dark-gray; }
.crc-transparent {  column-rule-color: transparent; }
.crc-i {            column-rule-color: inherit; }

