/* ==========================================================================
   COLUMN WIDTH
   ========================================================================== */

.cw-auto {    column-width: auto; }
.cw-xxs {     column-width: 4rem; }
.cw-xs {      column-width: 8rem; }
.cw-s {       column-width: 16rem; }
.cw-m {       column-width: 32rem; }
.cw-l {       column-width: 48rem; }
.cw-xl {      column-width: 64rem; }
.cw-i {       column-width: inherit; }

