/* ==========================================================================
   COLUMN RULE WIDTH
   ========================================================================== */

.crw-thin {   column-rule-width: thin; }
.crw-med {    column-rule-width: medium; }
.crw-thick {  column-rule-width: thick; }
.crw-1 {      column-rule-width: 1px; }
.crw-2 {      column-rule-width: 2px; }
.crw-3 {      column-rule-width: 3px; }
.crw-i {      column-rule-width: inherit; }

