/* ==========================================================================
   COLUMN SPAN
   ========================================================================== */

.cs-non { column-span: none; }
.cs-all { column-span: all; }
.cs-span { column-span: inherit; }

