/* ==========================================================================
   COLUMN COUNT
   ========================================================================== */

.cc-1 {      column-count: 1; }
.cc-2 {      column-count: 2; }
.cc-3 {      column-count: 3; }
.cc-4 {      column-count: 4; }
.cc-5 {      column-count: 5; }
.cc-6 {      column-count: 6; }
.cc-7 {      column-count: 7; }
.cc-8 {      column-count: 8; }
.cc-9 {      column-count: 9; }
.cc-10 {     column-count: 10; }
.cc-11 {     column-count: 11; }
.cc-12 {     column-count: 12; }
.cc-13 {     column-count: 13; }
.cc-14 {     column-count: 14; }
.cc-15 {     column-count: 15; }
.cc-16 {     column-count: 16; }
.cc-auto {   column-count: auto; }

