/* ==========================================================================
   COLUMN GAP
   ========================================================================== */

.cg-1 { column-gap: 1rem; }
.cg-2 { column-gap: 2rem; }
.cg-3 { column-gap: 4rem; }
.cg-n { column-gap: normal; }
.cg-i { column-gap: inherit; }

