/* ==========================================================================
   COLUMN SPAN
   ========================================================================== */

.cs-non {   column-span: none; }
.cs-all {   column-span: all; }
.cs-span {  column-span: inherit; }

@include break(not-small) {
.cs-non {   column-span: none; }
.cs-all {   column-span: all; }
.cs-span {  column-span: inherit; }

}

@include break(medium) {
.cs-non {   column-span: none; }
.cs-all {   column-span: all; }
.cs-span {  column-span: inherit; }

}

@include break(large) {
.cs-non {   column-span: none; }
.cs-all {   column-span: all; }
.cs-span {  column-span: inherit; }

}

