/* ==========================================================================
   COLUMNS

   - Column Count
   - Column Fill
   - Column Gaps
   - Column Rules
   - Column Span
   - Column Width

   ========================================================================== */


/*
 * Applies to non-replaced block or table elements, table-cell or inline-block elements
*/

/* Column Count */

.cc-1 {     column-count: 1; }
.cc-2 {     column-count: 2; }
.cc-3 {     column-count: 3; }
.cc-4 {     column-count: 4; }
.cc-auto {  column-count: auto; }


/* Column Fill */

.cf-auto    { column-fill: auto; }
.cf-balance { column-fill: balance; }
.cf-i       { column-fill: inherit; }


/* Column Gaps */

.cg-1 { column-gap: 1rem; }
.cg-2 { column-gap: 2rem; }
.cg-3 { column-gap: 4rem; }
.cg-n { column-gap: normal; }
.cg-i { column-gap: inherit; }

/* Column Rules */

/* Column Rule Colors */

.crc-drkgry { column-rule-color: #333; }
.crc-transparent { column-rule-color: transparent; }
.crc-i { column-rule-color: inherit; }


/* Column Rule Style */

.crs-n {      column-rule-style: none; }
.crs-hid {    column-rule-style: hidden; }
.crs-dot {    column-rule-style: dotted; }
.crs-dash {   column-rule-style: dashed; }
.crs-solid {  column-rule-style: solid; }
.crs-double { column-rule-style: double; }
.crs-groove { column-rule-style: groove; }
.crs-ridge {  column-rule-style: ridge; }
.crs-inset {  column-rule-style: inset; }
.crs-outset { column-rule-style: outset; }
.crs-i {      column-rule-style: inherit; }


/* Column Rule Width */

.crw-thin {   column-rule-width: thin; }
.crw-med {    column-rule-width: medium; }
.crw-thick {  column-rule-width: thick; }
.crw-1 {      column-rule-width: 1px; }
.crw-2 {      column-rule-width: 2px; }
.crw-3 {      column-rule-width: 3px; }
.crw-i {      column-rule-width: inherit; }


/* Column Span */

.cs-non { column-span: none; }
.cs-all { column-span: all; }
.cs-span { column-span: inherit; }

/* Column Width */

.cw-auto { column-width: auto; }
.cw-s {    column-width: 300px; }
.cw-m {    column-width: 768px; }
.cw-l {    column-width: 1024px; }
.cw-i {    column-width: inherit; }

@include break(not-small) {
  .cc-1-ns {     column-count: 1; }
  .cc-2-ns {     column-count: 2; }
  .cc-3-ns {     column-count: 3; }
  .cc-4-ns {     column-count: 4; }
  .cc-auto-n {  column-count: auto; }

  .cf-auto-ns    { column-fill: auto; }
  .cf-balance-ns { column-fill: balance; }
  .cf-i-ns       { column-fill: inherit; }

  .cg-1-ns { column-gap: 1rem; }
  .cg-2-ns { column-gap: 2rem; }
  .cg-3-ns { column-gap: 4rem; }
  .cg-n-ns { column-gap: normal; }
  .cg-i-ns { column-gap: inherit; }

  .crc-drkgry-ns { column-rule-color: #333; }
  .crc-transparent-ns { column-rule-color: transparent; }
  .crc-i-ns { column-rule-color: inherit; }

  .crs-n-ns {      column-rule-style: none; }
  .crs-hid-ns {    column-rule-style: hidden; }
  .crs-dot-ns {    column-rule-style: dotted; }
  .crs-dash-ns {   column-rule-style: dashed; }
  .crs-solid-ns {  column-rule-style: solid; }
  .crs-double-ns { column-rule-style: double; }
  .crs-groove-ns { column-rule-style: groove; }
  .crs-ridge-ns {  column-rule-style: ridge; }
  .crs-inset-ns {  column-rule-style: inset; }
  .crs-outset-ns { column-rule-style: outset; }
  .crs-i-ns {      column-rule-style: inherit; }
  .crw-thin-ns {   column-rule-width: thin; }
  .crw-med-ns {    column-rule-width: medium; }
  .crw-thick-ns {  column-rule-width: thick; }
  .crw-1-ns {      column-rule-width: 1px; }
  .crw-2-ns {      column-rule-width: 2px; }
  .crw-3-ns {      column-rule-width: 3px; }
  .crw-i-ns {      column-rule-width: inherit; }

  .cs-non-ns { column-span: none; }
  .cs-all-ns { column-span: all; }
  .cs-span-ns { column-span: inherit; }

  .cw-auto-ns { column-width: auto; }
  .cw-s-ns {    column-width: 300px; }
  .cw-m-ns {    column-width: 768px; }
  .cw-l-ns {    column-width: 1024px; }
  .cw-i-ns {    column-width: inherit; }
}

@include break(medium) {
  .cc-1-m {     column-count: 1; }
  .cc-2-m {     column-count: 2; }
  .cc-3-m {     column-count: 3; }
  .cc-4-m {     column-count: 4; }
  .cc-auto-n {  column-count: auto; }

  .cf-auto-m    { column-fill: auto; }
  .cf-balance-m { column-fill: balance; }
  .cf-i-m       { column-fill: inherit; }

  .cg-1-m { column-gap: 1rem; }
  .cg-2-m { column-gap: 2rem; }
  .cg-3-m { column-gap: 4rem; }
  .cg-n-m { column-gap: normal; }
  .cg-i-m { column-gap: inherit; }

  .crc-drkgry-m { column-rule-color: #333; }
  .crc-transparent-m { column-rule-color: transparent; }
  .crc-i-m { column-rule-color: inherit; }

  .crs-n-m {      column-rule-style: none; }
  .crs-hid-m {    column-rule-style: hidden; }
  .crs-dot-m {    column-rule-style: dotted; }
  .crs-dash-m {   column-rule-style: dashed; }
  .crs-solid-m {  column-rule-style: solid; }
  .crs-double-m { column-rule-style: double; }
  .crs-groove-m { column-rule-style: groove; }
  .crs-ridge-m {  column-rule-style: ridge; }
  .crs-inset-m {  column-rule-style: inset; }
  .crs-outset-m { column-rule-style: outset; }
  .crs-i-m {      column-rule-style: inherit; }
  .crw-thin-m {   column-rule-width: thin; }
  .crw-med-m {    column-rule-width: medium; }
  .crw-thick-m {  column-rule-width: thick; }
  .crw-1-m {      column-rule-width: 1px; }
  .crw-2-m {      column-rule-width: 2px; }
  .crw-3-m {      column-rule-width: 3px; }
  .crw-i-m {      column-rule-width: inherit; }

  .cs-non-m { column-span: none; }
  .cs-all-m { column-span: all; }
  .cs-span-m { column-span: inherit; }

  .cw-auto-m { column-width: auto; }
  .cw-s-m {    column-width: 300px; }
  .cw-m-m {    column-width: 768px; }
  .cw-l-m {    column-width: 1024px; }
  .cw-i-m {    column-width: inherit; }
}

@include break(large) {
  .cc-1-l {     column-count: 1; }
  .cc-2-l {     column-count: 2; }
  .cc-3-l {     column-count: 3; }
  .cc-4-l {     column-count: 4; }
  .cc-auto-n {  column-count: auto; }

  .cf-auto-l    { column-fill: auto; }
  .cf-balance-l { column-fill: balance; }
  .cf-i-l       { column-fill: inherit; }

  .cg-1-l { column-gap: 1rem; }
  .cg-2-l { column-gap: 2rem; }
  .cg-3-l { column-gap: 4rem; }
  .cg-n-l { column-gap: normal; }
  .cg-i-l { column-gap: inherit; }

  .crc-drkgry-l { column-rule-color: #333; }
  .crc-transparent-l { column-rule-color: transparent; }
  .crc-i-l { column-rule-color: inherit; }

  .crs-n-l {      column-rule-style: none; }
  .crs-hid-l {    column-rule-style: hidden; }
  .crs-dot-l {    column-rule-style: dotted; }
  .crs-dash-l {   column-rule-style: dashed; }
  .crs-solid-l {  column-rule-style: solid; }
  .crs-double-l { column-rule-style: double; }
  .crs-groove-l { column-rule-style: groove; }
  .crs-ridge-l {  column-rule-style: ridge; }
  .crs-inset-l {  column-rule-style: inset; }
  .crs-outset-l { column-rule-style: outset; }
  .crs-i-l {      column-rule-style: inherit; }
  .crw-thin-l {   column-rule-width: thin; }
  .crw-med-l {    column-rule-width: medium; }
  .crw-thick-l {  column-rule-width: thick; }
  .crw-1-l {      column-rule-width: 1px; }
  .crw-2-l {      column-rule-width: 2px; }
  .crw-3-l {      column-rule-width: 3px; }
  .crw-i-l {      column-rule-width: inherit; }

  .cs-non-l { column-span: none; }
  .cs-all-l { column-span: all; }
  .cs-span-l { column-span: inherit; }

  .cw-auto-l { column-width: auto; }
  .cw-s-l {    column-width: 300px; }
  .cw-m-l {    column-width: 768px; }
  .cw-l-l {    column-width: 1024px; }
  .cw-i-l {    column-width: inherit; }
}
