/* ==========================================================================
   COLUMN WIDTH
   ========================================================================== */

.cw-auto { column-width: auto; }
.cw-s {    column-width: 300px; }
.cw-m {    column-width: 768px; }
.cw-l {    column-width: 1024px; }
.cw-i {    column-width: inherit; }

