/* ==========================================================================
   COLUMN COUNT
   ========================================================================== */

.cc-1 {      column-count: 1; }
.cc-2 {      column-count: 2; }
.cc-3 {      column-count: 3; }
.cc-4 {      column-count: 4; }
.cc-5 {      column-count: 5; }
.cc-6 {      column-count: 6; }
.cc-7 {      column-count: 7; }
.cc-8 {      column-count: 8; }
.cc-9 {      column-count: 9; }
.cc-10 {     column-count: 10; }
.cc-11 {     column-count: 11; }
.cc-12 {     column-count: 12; }
.cc-13 {     column-count: 13; }
.cc-14 {     column-count: 14; }
.cc-15 {     column-count: 15; }
.cc-16 {     column-count: 16; }
.cc-auto {   column-count: auto; }

@include break(not-small) {
  .cc-1-ns {      column-count: 1; }
  .cc-2-ns {      column-count: 2; }
  .cc-3-ns {      column-count: 3; }
  .cc-4-ns {      column-count: 4; }
  .cc-5-ns {      column-count: 5; }
  .cc-6-ns {      column-count: 6; }
  .cc-7-ns {      column-count: 7; }
  .cc-8-ns {      column-count: 8; }
  .cc-9-ns {      column-count: 9; }
  .cc-10-ns {     column-count: 10; }
  .cc-11-ns {     column-count: 11; }
  .cc-12-ns {     column-count: 12; }
  .cc-13-ns {     column-count: 13; }
  .cc-14-ns {     column-count: 14; }
  .cc-15-ns {     column-count: 15; }
  .cc-16-ns {     column-count: 16; }
  .cc-auto-ns {   column-count: auto; }
}

@include break(medium) {
  .cc-1-m {      column-count: 1; }
  .cc-2-m {      column-count: 2; }
  .cc-3-m {      column-count: 3; }
  .cc-4-m {      column-count: 4; }
  .cc-5-m {      column-count: 5; }
  .cc-6-m {      column-count: 6; }
  .cc-7-m {      column-count: 7; }
  .cc-8-m {      column-count: 8; }
  .cc-9-m {      column-count: 9; }
  .cc-10-m {     column-count: 10; }
  .cc-11-m {     column-count: 11; }
  .cc-12-m {     column-count: 12; }
  .cc-13-m {     column-count: 13; }
  .cc-14-m {     column-count: 14; }
  .cc-15-m {     column-count: 15; }
  .cc-16-m {     column-count: 16; }
  .cc-auto-m {   column-count: auto; }
}

@include break(large) {
  .cc-1-l {      column-count: 1; }
  .cc-2-l {      column-count: 2; }
  .cc-3-l {      column-count: 3; }
  .cc-4-l {      column-count: 4; }
  .cc-5-l {      column-count: 5; }
  .cc-6-l {      column-count: 6; }
  .cc-7-l {      column-count: 7; }
  .cc-8-l {      column-count: 8; }
  .cc-9-l {      column-count: 9; }
  .cc-10-l {     column-count: 10; }
  .cc-11-l {     column-count: 11; }
  .cc-12-l {     column-count: 12; }
  .cc-13-l {     column-count: 13; }
  .cc-14-l {     column-count: 14; }
  .cc-15-l {     column-count: 15; }
  .cc-16-l {     column-count: 16; }
  .cc-auto-l {   column-count: auto; }

}

