/* ==========================================================================
   COLUMN RULE COLOR
   ========================================================================== */

.crc-drkgry { column-rule-color: #333; }
.crc-transparent { column-rule-color: transparent; }
.crc-i { column-rule-color: inherit; }

