/* ==========================================================================
   COLUMN FILL
   ========================================================================== */

.cf-auto    { column-fill: auto; }
.cf-balance { column-fill: balance; }
.cf-i       { column-fill: inherit; }

