/* ==========================================================================
   FILTERS - CONTRAST
   ========================================================================== */

.contrast-0 { filter: contrast(0); }
.contrast-1 { filter: contrast(50%); }
.contrast-2 { filter: contrast(75%); }
.contrast-3 { filter: contrast(100%); }
.contrast-4 { filter: contrast(150%); }
.contrast-5 { filter: contrast(200%); }

