filter: blur(5px);
filter: brightness(0.5)
filter: contrast(200%)
filter: drop-shadow(16px 16px 10px black)
filter: hue-rotate(90deg)
filter: grayscale(100%)
filter: invert(100%)
filter: saturate(200%)
filter: sepia(100%)
