/* ==========================================================================
   FILTERS - BRIGHTNESS
   ========================================================================== */

.bright-1 { filter: brightness(0.25); }
.bright-2 { filter: brightness(0.5); }
.bright-3 { filter: brightness(.75); }
.bright-4 { filter: brightness(1); }
.bright-5 { filter: brightness(2); }

@include break(not-small) {
.blur-1 { filter: blur(1px); }
.blur-2 { filter: blur(.125rem); }
.blur-3 { filter: blur(.25rem); }
.blur-4 { filter: blur(.5rem); }
.blur-5 { filter: blur(1rem); }

}

@include break(medium) {
.blur-1 { filter: blur(1px); }
.blur-2 { filter: blur(.125rem); }
.blur-3 { filter: blur(.25rem); }
.blur-4 { filter: blur(.5rem); }
.blur-5 { filter: blur(1rem); }

}

@include break(large) {
.blur-1 { filter: blur(1px); }
.blur-2 { filter: blur(.125rem); }
.blur-3 { filter: blur(.25rem); }
.blur-4 { filter: blur(.5rem); }
.blur-5 { filter: blur(1rem); }

}


