/* ==========================================================================
   FILTERS
   ========================================================================== */

/* Blurs */

.blur-1 { filter: blur(1px); }
.blur-2 { filter: blur(2px); }
.blur-3 { filter: blur(4px); }
.blur-4 { filter: blur(8px); }
.blur-5 { filter: blur(16px); }


/* Bright */

.bright-1 { filter: brightness(0.25); }
.bright-2 { filter: brightness(0.5); }
.bright-3 { filter: brightness(.75); }
.bright-4 { filter: brightness(1); }
.bright-5 { filter: brightness(2); }


/* Bright */

.contrast-1 { filter: contrast(50%); }
.contrast-2 { filter: contrast(75%); }
.contrast-3 { filter: contrast(100%); }
.contrast-4 { filter: contrast(150%); }
.contrast-5 { filter: contrast(200%); }


/* Drop Shadow */

.drop-shadow { filter: drop-shadow(16px 16px 10px black); }
.drop-shadow { filter: drop-shadow(16px 16px 10px black); }
.drop-shadow { filter: drop-shadow(16px 16px 10px black); }
.drop-shadow { filter: drop-shadow(16px 16px 10px black); }
.drop-shadow { filter: drop-shadow(16px 16px 10px black); }


/* Hue Rotate */

.hue-rotate-1 { filter: hue-rotate(45deg); }
.hue-rotate-2 { filter: hue-rotate(90deg); }
.hue-rotate-3 { filter: hue-rotate(135deg); }
.hue-rotate-4 { filter: hue-rotate(180deg); }
.hue-rotate-5 { filter: hue-rotate(225deg); }
.hue-rotate-6 { filter: hue-rotate(270deg); }
.hue-rotate-7 { filter: hue-rotate(315deg); }
.hue-rotate-8 { filter: hue-rotate(360deg); }


/* Gray Filter */

.gray-1  { filter: grayscale(10%); }
.gray-2  { filter: grayscale(20%); }
.gray-3  { filter: grayscale(30%); }
.gray-4  { filter: grayscale(40%); }
.gray-5  { filter: grayscale(50%); }
.gray-6  { filter: grayscale(60%); }
.gray-7  { filter: grayscale(70%); }
.gray-8  { filter: grayscale(80%); }
.gray-9  { filter: grayscale(90%); }
.gray-10 { filter: grayscale(100%); }


/* Inverts */

.invert-1 { filter: invert(20%); }
.invert-2 { filter: invert(40%); }
.invert-3 { filter: invert(60%); }
.invert-4 { filter: invert(80%); }
.invert-5 { filter: invert(100%); }


/* Saturation */

.saturate-1 { filter: saturate(10%); }
.saturate-2 { filter: saturate(20%); }
.saturate-3 { filter: saturate(30%); }
.saturate-4 { filter: saturate(40%); }
.saturate-5 { filter: saturate(50%); }
.saturate-6 { filter: saturate(60%); }
.saturate-7 { filter: saturate(70%); }
.saturate-8 { filter: saturate(80%); }
.saturate-9 { filter: saturate(90%); }
.saturate-10 { filter: saturate(100%); }
.saturate-11 { filter: saturate(125%); }
.saturate-12 { filter: saturate(150%); }


/* Sepia */

.sepia-1 { filter: sepia(25%); }
.sepia-2 { filter: sepia(50%); }
.sepia-3 { filter: sepia(75%); }
.sepia-4 { filter: sepia(100%); }
.sepia-5 { filter: sepia(125%); }

@include break(not-small) {
  .blur-1-ns { filter: blur(1px); }
  .blur-2-ns { filter: blur(2px); }
  .blur-3-ns { filter: blur(4px); }
  .blur-4-ns { filter: blur(8px); }
  .blur-5-ns { filter: blur(16px); }
  .bright-1-ns { filter: brightness(0.25); }
  .bright-2-ns { filter: brightness(0.5); }
  .bright-3-ns { filter: brightness(.75); }
  .bright-4-ns { filter: brightness(1); }
  .bright-5-ns { filter: brightness(2); }
  .contrast-1-ns { filter: contrast(50%); }
  .contrast-2-ns { filter: contrast(75%); }
  .contrast-3-ns { filter: contrast(100%); }
  .contrast-4-ns { filter: contrast(150%); }
  .contrast-5-ns { filter: contrast(200%); }
  .drop-shadow-ns { filter: drop-shadow(16px 16px 10px black); }
  .drop-shadow-ns { filter: drop-shadow(16px 16px 10px black); }
  .drop-shadow-ns { filter: drop-shadow(16px 16px 10px black); }
  .drop-shadow-ns { filter: drop-shadow(16px 16px 10px black); }
  .drop-shadow-ns { filter: drop-shadow(16px 16px 10px black); }
  .hue-rotate-1-ns { filter: hue-rotate(45deg); }
  .hue-rotate-2-ns { filter: hue-rotate(90deg); }
  .hue-rotate-3-ns { filter: hue-rotate(135deg); }
  .hue-rotate-4-ns { filter: hue-rotate(180deg); }
  .hue-rotate-5-ns { filter: hue-rotate(225deg); }
  .hue-rotate-6-ns { filter: hue-rotate(270deg); }
  .hue-rotate-7-ns { filter: hue-rotate(315deg); }
  .hue-rotate-8-ns { filter: hue-rotate(360deg); }
  .gray-1 -ns { filter: grayscale(10%); }
  .gray-2 -ns { filter: grayscale(20%); }
  .gray-3 -ns { filter: grayscale(30%); }
  .gray-4 -ns { filter: grayscale(40%); }
  .gray-5 -ns { filter: grayscale(50%); }
  .gray-6 -ns { filter: grayscale(60%); }
  .gray-7 -ns { filter: grayscale(70%); }
  .gray-8 -ns { filter: grayscale(80%); }
  .gray-9 -ns { filter: grayscale(90%); }
  .gray-10-ns { filter: grayscale(100%); }
  .invert-1-ns { filter: invert(20%); }
  .invert-2-ns { filter: invert(40%); }
  .invert-3-ns { filter: invert(60%); }
  .invert-4-ns { filter: invert(80%); }
  .invert-5-ns { filter: invert(100%); }
  .saturate-1-ns { filter: saturate(10%); }
  .saturate-2-ns { filter: saturate(20%); }
  .saturate-3-ns { filter: saturate(30%); }
  .saturate-4-ns { filter: saturate(40%); }
  .saturate-5-ns { filter: saturate(50%); }
  .saturate-6-ns { filter: saturate(60%); }
  .saturate-7-ns { filter: saturate(70%); }
  .saturate-8-ns { filter: saturate(80%); }
  .saturate-9-ns { filter: saturate(90%); }
  .saturate-10-ns { filter: saturate(100%); }
  .saturate-11-ns { filter: saturate(125%); }
  .saturate-12-ns { filter: saturate(150%); }
  .sepia-1-ns { filter: sepia(25%); }
  .sepia-2-ns { filter: sepia(50%); }
  .sepia-3-ns { filter: sepia(75%); }
  .sepia-4-ns { filter: sepia(100%); }
  .sepia-5-ns { filter: sepia(125%); }

}

@include break(medium) {
  .blur-1-m { filter: blur(1px); }
  .blur-2-m { filter: blur(2px); }
  .blur-3-m { filter: blur(4px); }
  .blur-4-m { filter: blur(8px); }
  .blur-5-m { filter: blur(16px); }
  .bright-1-m { filter: brightness(0.25); }
  .bright-2-m { filter: brightness(0.5); }
  .bright-3-m { filter: brightness(.75); }
  .bright-4-m { filter: brightness(1); }
  .bright-5-m { filter: brightness(2); }
  .contrast-1-m { filter: contrast(50%); }
  .contrast-2-m { filter: contrast(75%); }
  .contrast-3-m { filter: contrast(100%); }
  .contrast-4-m { filter: contrast(150%); }
  .contrast-5-m { filter: contrast(200%); }
  .drop-shadow-m { filter: drop-shadow(16px 16px 10px black); }
  .drop-shadow-m { filter: drop-shadow(16px 16px 10px black); }
  .drop-shadow-m { filter: drop-shadow(16px 16px 10px black); }
  .drop-shadow-m { filter: drop-shadow(16px 16px 10px black); }
  .drop-shadow-m { filter: drop-shadow(16px 16px 10px black); }
  .hue-rotate-1-m { filter: hue-rotate(45deg); }
  .hue-rotate-2-m { filter: hue-rotate(90deg); }
  .hue-rotate-3-m { filter: hue-rotate(135deg); }
  .hue-rotate-4-m { filter: hue-rotate(180deg); }
  .hue-rotate-5-m { filter: hue-rotate(225deg); }
  .hue-rotate-6-m { filter: hue-rotate(270deg); }
  .hue-rotate-7-m { filter: hue-rotate(315deg); }
  .hue-rotate-8-m { filter: hue-rotate(360deg); }
  .gray-1 -m { filter: grayscale(10%); }
  .gray-2 -m { filter: grayscale(20%); }
  .gray-3 -m { filter: grayscale(30%); }
  .gray-4 -m { filter: grayscale(40%); }
  .gray-5 -m { filter: grayscale(50%); }
  .gray-6 -m { filter: grayscale(60%); }
  .gray-7 -m { filter: grayscale(70%); }
  .gray-8 -m { filter: grayscale(80%); }
  .gray-9 -m { filter: grayscale(90%); }
  .gray-10-m { filter: grayscale(100%); }
  .invert-1-m { filter: invert(20%); }
  .invert-2-m { filter: invert(40%); }
  .invert-3-m { filter: invert(60%); }
  .invert-4-m { filter: invert(80%); }
  .invert-5-m { filter: invert(100%); }
  .saturate-1-m { filter: saturate(10%); }
  .saturate-2-m { filter: saturate(20%); }
  .saturate-3-m { filter: saturate(30%); }
  .saturate-4-m { filter: saturate(40%); }
  .saturate-5-m { filter: saturate(50%); }
  .saturate-6-m { filter: saturate(60%); }
  .saturate-7-m { filter: saturate(70%); }
  .saturate-8-m { filter: saturate(80%); }
  .saturate-9-m { filter: saturate(90%); }
  .saturate-10-m { filter: saturate(100%); }
  .saturate-11-m { filter: saturate(125%); }
  .saturate-12-m { filter: saturate(150%); }
  .sepia-1-m { filter: sepia(25%); }
  .sepia-2-m { filter: sepia(50%); }
  .sepia-3-m { filter: sepia(75%); }
  .sepia-4-m { filter: sepia(100%); }
  .sepia-5-m { filter: sepia(125%); }

}

@include break(large) {
  .blur-1-l { filter: blur(1px); }
  .blur-2-l { filter: blur(2px); }
  .blur-3-l { filter: blur(4px); }
  .blur-4-l { filter: blur(8px); }
  .blur-5-l { filter: blur(16px); }
  .bright-1-l { filter: brightness(0.25); }
  .bright-2-l { filter: brightness(0.5); }
  .bright-3-l { filter: brightness(.75); }
  .bright-4-l { filter: brightness(1); }
  .bright-5-l { filter: brightness(2); }
  .contrast-1-l { filter: contrast(50%); }
  .contrast-2-l { filter: contrast(75%); }
  .contrast-3-l { filter: contrast(100%); }
  .contrast-4-l { filter: contrast(150%); }
  .contrast-5-l { filter: contrast(200%); }
  .drop-shadow-l { filter: drop-shadow(16px 16px 10px black); }
  .drop-shadow-l { filter: drop-shadow(16px 16px 10px black); }
  .drop-shadow-l { filter: drop-shadow(16px 16px 10px black); }
  .drop-shadow-l { filter: drop-shadow(16px 16px 10px black); }
  .drop-shadow-l { filter: drop-shadow(16px 16px 10px black); }
  .hue-rotate-1-l { filter: hue-rotate(45deg); }
  .hue-rotate-2-l { filter: hue-rotate(90deg); }
  .hue-rotate-3-l { filter: hue-rotate(135deg); }
  .hue-rotate-4-l { filter: hue-rotate(180deg); }
  .hue-rotate-5-l { filter: hue-rotate(225deg); }
  .hue-rotate-6-l { filter: hue-rotate(270deg); }
  .hue-rotate-7-l { filter: hue-rotate(315deg); }
  .hue-rotate-8-l { filter: hue-rotate(360deg); }
  .gray-1 -l { filter: grayscale(10%); }
  .gray-2 -l { filter: grayscale(20%); }
  .gray-3 -l { filter: grayscale(30%); }
  .gray-4 -l { filter: grayscale(40%); }
  .gray-5 -l { filter: grayscale(50%); }
  .gray-6 -l { filter: grayscale(60%); }
  .gray-7 -l { filter: grayscale(70%); }
  .gray-8 -l { filter: grayscale(80%); }
  .gray-9 -l { filter: grayscale(90%); }
  .gray-10-l { filter: grayscale(100%); }
  .invert-1-l { filter: invert(20%); }
  .invert-2-l { filter: invert(40%); }
  .invert-3-l { filter: invert(60%); }
  .invert-4-l { filter: invert(80%); }
  .invert-5-l { filter: invert(100%); }
  .saturate-1-l { filter: saturate(10%); }
  .saturate-2-l { filter: saturate(20%); }
  .saturate-3-l { filter: saturate(30%); }
  .saturate-4-l { filter: saturate(40%); }
  .saturate-5-l { filter: saturate(50%); }
  .saturate-6-l { filter: saturate(60%); }
  .saturate-7-l { filter: saturate(70%); }
  .saturate-8-l { filter: saturate(80%); }
  .saturate-9-l { filter: saturate(90%); }
  .saturate-10-l { filter: saturate(100%); }
  .saturate-11-l { filter: saturate(125%); }
  .saturate-12-l { filter: saturate(150%); }
  .sepia-1-l { filter: sepia(25%); }
  .sepia-2-l { filter: sepia(50%); }
  .sepia-3-l { filter: sepia(75%); }
  .sepia-4-l { filter: sepia(100%); }
  .sepia-5-l { filter: sepia(125%); }
}

