/* ==========================================================================
   FILTERS - INVERT
   ========================================================================== */

.invert-1 { filter: invert(20%); }
.invert-2 { filter: invert(40%); }
.invert-3 { filter: invert(60%); }
.invert-4 { filter: invert(80%); }
.invert-5 { filter: invert(100%); }

@include break(not-small) {
.invert-1 { filter: invert(20%); }
.invert-2 { filter: invert(40%); }
.invert-3 { filter: invert(60%); }
.invert-4 { filter: invert(80%); }
.invert-5 { filter: invert(100%); }

}

@include break(medium) {
.invert-1 { filter: invert(20%); }
.invert-2 { filter: invert(40%); }
.invert-3 { filter: invert(60%); }
.invert-4 { filter: invert(80%); }
.invert-5 { filter: invert(100%); }

}

@include break(large) {
.invert-1 { filter: invert(20%); }
.invert-2 { filter: invert(40%); }
.invert-3 { filter: invert(60%); }
.invert-4 { filter: invert(80%); }
.invert-5 { filter: invert(100%); }

}

