/* ==========================================================================
   FILTERS - BRIGHTNESS
   ========================================================================== */

.bright-1 { filter: brightness(0.25); }
.bright-2 { filter: brightness(0.5); }
.bright-3 { filter: brightness(.75); }
.bright-4 { filter: brightness(1); }
.bright-5 { filter: brightness(2); }

