/* ==========================================================================
   FILTERS - SEPIA
   ========================================================================== */

.sepia-0 { filter: sepia(0); }
.sepia-1 { filter: sepia(25%); }
.sepia-2 { filter: sepia(50%); }
.sepia-3 { filter: sepia(75%); }
.sepia-4 { filter: sepia(100%); }
.sepia-5 { filter: sepia(125%); }
.sepia-6 { filter: sepia(150%); }

