/* ==========================================================================
   FILTERS - BRIGHTNESS
   ========================================================================== */

.bright-1 { filter: brightness(0.25); }
.bright-2 { filter: brightness(0.5); }
.bright-3 { filter: brightness(.75); }
.bright-4 { filter: brightness(1); }
.bright-5 { filter: brightness(2); }

@include break(not-small) {
  .bright-1-ns { filter: brightness(0.25); }
  .bright-2-ns { filter: brightness(0.5); }
  .bright-3-ns { filter: brightness(.75); }
  .bright-4-ns { filter: brightness(1); }
  .bright-5-ns { filter: brightness(2); }
}

@include break(medium) {
  .bright-1-m { filter: brightness(0.25); }
  .bright-2-m { filter: brightness(0.5); }
  .bright-3-m { filter: brightness(.75); }
  .bright-4-m { filter: brightness(1); }
  .bright-5-m { filter: brightness(2); }
}

@include break(large) {
  .bright-1-l { filter: brightness(0.25); }
  .bright-2-l { filter: brightness(0.5); }
  .bright-3-l { filter: brightness(.75); }
  .bright-4-l { filter: brightness(1); }
  .bright-5-l { filter: brightness(2); }
}


