/* ==========================================================================
   FLEXBOX - ALIGN ITEMS
   ========================================================================== */

.ai-fs { align-items: flex-start; }
.ai-fe { align-items: flex-end; }
.ai-c {  align-items: center; }
.ai-b {  align-items: baseline; }
.ai-s {  align-items: stretch; }
.ai-i {  align-items: inherit; }

