/* ==========================================================================
   FLEXBOX

   ========================================================================== */

/* Align Content */

.ac-fs { align-content: flex-start; }
.ac-fe { align-content: flex-end; }
.ac-c {  align-content: center; }
.ac-sb { align-content: space-between; }
.ac-sa { align-content: space-around; }
.ac-s {  align-content: stretch; }
.ac-i {  align-content: inherit; }

/* Align Items */

.ai-fs { align-items: flex-start; }
.ai-fe { align-items: flex-end; }
.ai-c {  align-items: center; }
.ai-b {  align-items: baseline; }
.ai-s {  align-items: stretch; }
.ai-i {  align-items: inherit; }

.as-a { align-self: auto; }
.as-fs { align-self: flex-start; }
.as-fe { align-self: flex-end; }
.as-c { align-self: center; }
.as-b { align-self: baseline; }
.as-s { align-self: stretch; }
.as-i { align-self: inherit; }


// TODO add value scale for flex-basis

/* Flex Basis */

.fb-i { flex-basis: inherit; }


/* Flex Direction */

.fd-row {     flex-direction: row; }
.fd-rev {     flex-direction: row-reverse; }
.fd-col {     flex-direction: column; }
.fd-colrev {  flex-direction: column-reverse; }
.fd-i {       flex-direction: inherit; }


/* Flex Wrap */

.fw-no {      flex-wrap: nowrap; }
.fw-wrap {    flex-wrap: wrap; }
.fw-wraprev { flex-wrap: wrap-reverse; }
.fw-i {       flex-wrap: inherit; }

.fls-1 { flex-shrink: 1; }
.fls-2 { flex-shrink: 2; }
.fls-3 { flex-shrink: 3; }
.fls-4 { flex-shrink: 4; }
.fls-i { flex-shrink: inherit; }

.fg-1 { flex-grow: 1; }
.fg-2 { flex-grow: 2; }
.fg-3 { flex-grow: 3; }
.fg-4 { flex-grow: 4; }
.fg-i { flex-grow: inherit; }

.jc-fs {  justify-content: flex-start; }
.jc-f3 {  justify-content: flex-end; }
.jc-c {   justify-content: center; }
.jc-sb {  justify-content: space-between; }
.jc-sa {  justify-content: space-around; }
.jc-i {   justify-content: inherit; }

@include break(not-small) {
  .ac-fs-ns { align-content: flex-start; }
  .ac-fe-ns { align-content: flex-end; }
  .ac-c-ns {  align-content: center; }
  .ac-sb-ns { align-content: space-between; }
  .ac-sa-ns { align-content: space-around; }
  .ac-s-ns {  align-content: stretch; }
  .ac-i-ns {  align-content: inherit; }

  /* Align Items */

  .ai-fs-ns { align-items: flex-start; }
  .ai-fe-ns { align-items: flex-end; }
  .ai-c-ns {  align-items: center; }
  .ai-b-ns {  align-items: baseline; }
  .ai-s-ns {  align-items: stretch; }
  .ai-i-ns {  align-items: inherit; }

  .as-a-ns { align-self: auto; }
  .as-fs-ns { align-self: flex-start; }
  .as-fe-ns { align-self: flex-end; }
  .as-c-ns { align-self: center; }
  .as-b-ns { align-self: baseline; }
  .as-s-ns { align-self: stretch; }
  .as-i-ns { align-self: inherit; }


  // TODO add value scale for flex-basis

  /* Flex Basis */

  .fb-i-ns { flex-basis: inherit; }


  /* Flex Direction */

  .fd-row-ns {     flex-direction: row; }
  .fd-rev-ns {     flex-direction: row-reverse; }
  .fd-col-ns {     flex-direction: column; }
  .fd-colrev-ns {  flex-direction: column-reverse; }
  .fd-i-ns {       flex-direction: inherit; }


  /* Flex Wrap */

  .fw-no-ns {      flex-wrap: nowrap; }
  .fw-wrap-ns {    flex-wrap: wrap; }
  .fw-wraprev-ns { flex-wrap: wrap-reverse; }
  .fw-i-ns {       flex-wrap: inherit; }

  .fls-1-ns { flex-shrink: 1; }
  .fls-2-ns { flex-shrink: 2; }
  .fls-3-ns { flex-shrink: 3; }
  .fls-4-ns { flex-shrink: 4; }
  .fls-i-ns { flex-shrink: inherit; }

  .fg-1-ns { flex-grow: 1; }
  .fg-2-ns { flex-grow: 2; }
  .fg-3-ns { flex-grow: 3; }
  .fg-4-ns { flex-grow: 4; }
  .fg-i-ns { flex-grow: inherit; }

  .jc-fs-ns {  justify-content: flex-start; }
  .jc-f3-ns {  justify-content: flex-end; }
  .jc-c-ns {   justify-content: center; }
  .jc-sb-ns {  justify-content: space-between; }
  .jc-sa-ns {  justify-content: space-around; }
  .jc-i-ns {   justify-content: inherit; }

}

@include break(medium) {
  .ac-fs-m { align-content: flex-start; }
  .ac-fe-m { align-content: flex-end; }
  .ac-c-m {  align-content: center; }
  .ac-sb-m { align-content: space-between; }
  .ac-sa-m { align-content: space-around; }
  .ac-s-m {  align-content: stretch; }
  .ac-i-m {  align-content: inherit; }

  /* Align Items */

  .ai-fs-m { align-items: flex-start; }
  .ai-fe-m { align-items: flex-end; }
  .ai-c-m {  align-items: center; }
  .ai-b-m {  align-items: baseline; }
  .ai-s-m {  align-items: stretch; }
  .ai-i-m {  align-items: inherit; }

  .as-a-m { align-self: auto; }
  .as-fs-m { align-self: flex-start; }
  .as-fe-m { align-self: flex-end; }
  .as-c-m { align-self: center; }
  .as-b-m { align-self: baseline; }
  .as-s-m { align-self: stretch; }
  .as-i-m { align-self: inherit; }


  // TODO add value scale for flex-basis

  /* Flex Basis */

  .fb-i-m { flex-basis: inherit; }


  /* Flex Direction */

  .fd-row-m {     flex-direction: row; }
  .fd-rev-m {     flex-direction: row-reverse; }
  .fd-col-m {     flex-direction: column; }
  .fd-colrev-m {  flex-direction: column-reverse; }
  .fd-i-m {       flex-direction: inherit; }


  /* Flex Wrap */

  .fw-no-m {      flex-wrap: nowrap; }
  .fw-wrap-m {    flex-wrap: wrap; }
  .fw-wraprev-m { flex-wrap: wrap-reverse; }
  .fw-i-m {       flex-wrap: inherit; }

  .fls-1-m { flex-shrink: 1; }
  .fls-2-m { flex-shrink: 2; }
  .fls-3-m { flex-shrink: 3; }
  .fls-4-m { flex-shrink: 4; }
  .fls-i-m { flex-shrink: inherit; }

  .fg-1-m { flex-grow: 1; }
  .fg-2-m { flex-grow: 2; }
  .fg-3-m { flex-grow: 3; }
  .fg-4-m { flex-grow: 4; }
  .fg-i-m { flex-grow: inherit; }

  .jc-fs-m {  justify-content: flex-start; }
  .jc-f3-m {  justify-content: flex-end; }
  .jc-c-m {   justify-content: center; }
  .jc-sb-m {  justify-content: space-between; }
  .jc-sa-m {  justify-content: space-around; }
  .jc-i-m {   justify-content: inherit; }

}

@include break(large) {
  .ac-fs-l { align-content: flex-start; }
  .ac-fe-l { align-content: flex-end; }
  .ac-c-l {  align-content: center; }
  .ac-sb-l { align-content: space-between; }
  .ac-sa-l { align-content: space-around; }
  .ac-s-l {  align-content: stretch; }
  .ac-i-l {  align-content: inherit; }

  /* Align Items */

  .ai-fs-l { align-items: flex-start; }
  .ai-fe-l { align-items: flex-end; }
  .ai-c-l {  align-items: center; }
  .ai-b-l {  align-items: baseline; }
  .ai-s-l {  align-items: stretch; }
  .ai-i-l {  align-items: inherit; }

  .as-a-l { align-self: auto; }
  .as-fs-l { align-self: flex-start; }
  .as-fe-l { align-self: flex-end; }
  .as-c-l { align-self: center; }
  .as-b-l { align-self: baseline; }
  .as-s-l { align-self: stretch; }
  .as-i-l { align-self: inherit; }


  // TODO add value scale for flex-basis

  /* Flex Basis */

  .fb-i-l { flex-basis: inherit; }


  /* Flex Direction */

  .fd-row-l {     flex-direction: row; }
  .fd-rev-l {     flex-direction: row-reverse; }
  .fd-col-l {     flex-direction: column; }
  .fd-colrev-l {  flex-direction: column-reverse; }
  .fd-i-l {       flex-direction: inherit; }


  /* Flex Wrap */

  .fw-no-l {      flex-wrap: nowrap; }
  .fw-wrap-l {    flex-wrap: wrap; }
  .fw-wraprev-l { flex-wrap: wrap-reverse; }
  .fw-i-l {       flex-wrap: inherit; }

  .fls-1-l { flex-shrink: 1; }
  .fls-2-l { flex-shrink: 2; }
  .fls-3-l { flex-shrink: 3; }
  .fls-4-l { flex-shrink: 4; }
  .fls-i-l { flex-shrink: inherit; }

  .fg-1-l { flex-grow: 1; }
  .fg-2-l { flex-grow: 2; }
  .fg-3-l { flex-grow: 3; }
  .fg-4-l { flex-grow: 4; }
  .fg-i-l { flex-grow: inherit; }

  .jc-fs-l {  justify-content: flex-start; }
  .jc-f3-l {  justify-content: flex-end; }
  .jc-c-l {   justify-content: center; }
  .jc-sb-l {  justify-content: space-between; }
  .jc-sa-l {  justify-content: space-around; }
  .jc-i-l {   justify-content: inherit; }
}
