/* ==========================================================================
   FLEXBOX - ALIGN SELF
   ========================================================================== */

.as-a {  align-self: auto; }
.as-fs { align-self: flex-start; }
.as-fe { align-self: flex-end; }
.as-c {  align-self: center; }
.as-b {  align-self: baseline; }
.as-s {  align-self: stretch; }
.as-i {  align-self: inherit; }

