/* Font Family Groups */

.serif       { font-family: georgia, serif; }
.sans-serif  { font-family: helvetica, arial, sans-serif; }
.font-fantasy { font-family: fantasy; }
.font-cursive { font-family: cursive; }
.font-mono    { font-family: monospace; }

