/* ==========================================================================
   HEIGHTS
   ========================================================================== */

.hi-10,  .tenth          { height: 10%; }
.hi-25,  .quarter        { height: 25%; }
.hi-50,  .half           { height: 50%; }
.hi-75,  .three-quarters { height: 75%; }
.hi-100, .full           { height: 100%; }

.ht1   { height: 1rem; }
.ht2   { height: 2rem; }
.ht3   { height: 4rem; }
.ht4   { height: 8rem; }
.ht5   { height: 16rem; }
.ht6   { height: 32rem; }
.ht7   { height: 48rem; }
.ht8   { height: 64rem; }
.ht9   { height: 96rem; }
.ht10  { height: 128rem; }

.ht-auto { height: auto; }

