/* ==========================================================================
   LETTER SPACING
   ========================================================================== */

.tracked       { letter-spacing:  .1em; }
.tracked-tight { letter-spacing: -.1em; }
.mega-tracked  { letter-spacing:  .2em; }

@include break(not-small) {
.tracked       { letter-spacing:  .1em; }
.tracked-tight { letter-spacing: -.1em; }
.mega-tracked  { letter-spacing:  .2em; }

}

@include break(medium) {
.tracked       { letter-spacing:  .1em; }
.tracked-tight { letter-spacing: -.1em; }
.mega-tracked  { letter-spacing:  .2em; }

}

@include break(large) {
.tracked       { letter-spacing:  .1em; }
.tracked-tight { letter-spacing: -.1em; }
.mega-tracked  { letter-spacing:  .2em; }

}

