/* ==========================================================================
   LINE HEIGHT
   ========================================================================== */

.lh       { line-height: 1; }
.lh-title { line-height: 1.3; }
.lh-copy  { line-height: 1.5; }
.lh-2     { line-height: 2; }
.lh-3     { line-height: 3; }

