/* ==========================================================================
   MAX HEIGHT
   ========================================================================== */

.mx-hi-100 {  max-height: 100%; }
.mx-hi-75  {  max-height: 75%; }
.mx-hi-50  {  max-height: 50%; }
.mx-hi-25  {  max-height: 25%; }

.mx-hi1  {  max-height: 1rem; }
.mx-hi2  {  max-height: 2rem; }
.mx-hi3  {  max-height: 4rem; }
.mx-hi4  {  max-height: 8rem; }
.mx-hi5  {  max-height: 16rem; }
.mx-hi6  {  max-height: 32rem; }
.mx-hi7  {  max-height: 48rem; }
.mx-hi8  {  max-height: 64rem; }
.mx-hi9  {  max-height: 96rem; }
.mx-hi10 {  max-height: 128rem; }

.mx-hi-none { max-height: none; }
.mx-hi-max {  max-height: max-content; }
.mx-hi-min {  max-height: min-content; }
.mx-hi-fit {  max-height: fit-content; }
.mx-hi-fill { max-height: fill-available; }

@include break(not-small) {
  .mx-hi-100-ns {  max-height: 100%; }
  .mx-hi-75-ns  {  max-height: 75%; }
  .mx-hi-50-ns  {  max-height: 50%; }
  .mx-hi-25-ns  {  max-height: 25%; }

  .mx-hi1-ns  {  max-height: 1rem; }
  .mx-hi2-ns  {  max-height: 2rem; }
  .mx-hi3-ns  {  max-height: 4rem; }
  .mx-hi4-ns  {  max-height: 8rem; }
  .mx-hi5-ns  {  max-height: 16rem; }
  .mx-hi6-ns  {  max-height: 32rem; }
  .mx-hi7-ns  {  max-height: 48rem; }
  .mx-hi8-ns  {  max-height: 64rem; }
  .mx-hi9-ns  {  max-height: 96rem; }
  .mx-hi10-ns {  max-height: 128rem; }

  .mx-hi-none-ns { max-height: none; }
  .mx-hi-max-ns {  max-height: max-content; }
  .mx-hi-min-ns {  max-height: min-content; }
  .mx-hi-fit-ns {  max-height: fit-content; }
  .mx-hi-fill-ns { max-height: fill-available; }
}

@include break(medium) {
  .mx-hi-100-m {  max-height: 100%; }
  .mx-hi-75-m  {  max-height: 75%; }
  .mx-hi-50-m  {  max-height: 50%; }
  .mx-hi-25-m  {  max-height: 25%; }

  .mx-hi1-m  {  max-height: 1rem; }
  .mx-hi2-m  {  max-height: 2rem; }
  .mx-hi3-m  {  max-height: 4rem; }
  .mx-hi4-m  {  max-height: 8rem; }
  .mx-hi5-m  {  max-height: 16rem; }
  .mx-hi6-m  {  max-height: 32rem; }
  .mx-hi7-m  {  max-height: 48rem; }
  .mx-hi8-m  {  max-height: 64rem; }
  .mx-hi9-m  {  max-height: 96rem; }
  .mx-hi10-m {  max-height: 128rem; }

  .mx-hi-none-m { max-height: none; }
  .mx-hi-max-m {  max-height: max-content; }
  .mx-hi-min-m {  max-height: min-content; }
  .mx-hi-fit-m {  max-height: fit-content; }
  .mx-hi-fill-m { max-height: fill-available; }
}

@include break(large) {
  .mx-hi-100-m {  max-height: 100%; }
  .mx-hi-75-m  {  max-height: 75%; }
  .mx-hi-50-m  {  max-height: 50%; }
  .mx-hi-25-m  {  max-height: 25%; }

  .mx-hi1-m  {  max-height: 1rem; }
  .mx-hi2-m  {  max-height: 2rem; }
  .mx-hi3-m  {  max-height: 4rem; }
  .mx-hi4-m  {  max-height: 8rem; }
  .mx-hi5-m  {  max-height: 16rem; }
  .mx-hi6-m  {  max-height: 32rem; }
  .mx-hi7-m  {  max-height: 48rem; }
  .mx-hi8-m  {  max-height: 64rem; }
  .mx-hi9-m  {  max-height: 96rem; }
  .mx-hi10-m {  max-height: 128rem; }

  .mx-hi-none-m { max-height: none; }
  .mx-hi-max-m {  max-height: max-content; }
  .mx-hi-min-m {  max-height: min-content; }
  .mx-hi-fit-m {  max-height: fit-content; }
  .mx-hi-fill-m { max-height: fill-available; }
}

