/* ==========================================================================
   MIN WIDTHS
   ========================================================================== */

.mn-wi-100  { min-width: 100%; }
.mn-wi-75   { min-width: 75%; }
.mn-wi-50   { min-width: 50%; }
.mn-wi-25   { min-width: 25%; }

.mn-wi1  {  min-width: 1rem; }
.mn-wi2  {  min-width: 2rem; }
.mn-wi3  {  min-width: 4rem; }
.mn-wi4  {  min-width: 8rem; }
.mn-wi5  {  min-width: 16rem; }
.mn-wi6  {  min-width: 32rem; }
.mn-wi7  {  min-width: 48rem; }
.mn-wi8  {  min-width: 64rem; }
.mn-wi9  {  min-width: 96rem; }
.mn-wi10 {  min-width: 128rem; }

.mn-wi-max  { min-width: max-content; }
.mn-wi-min  { min-width: min-content; }
.mn-wi-fit  { min-width: fit-content; }
.mn-wi-fill { min-width: fill-available; }

@include break(not-small) {
.mn-wi-100  { min-width: 100%; }
.mn-wi-75   { min-width: 75%; }
.mn-wi-50   { min-width: 50%; }
.mn-wi-25   { min-width: 25%; }

.mn-wi1  {  min-width: 1rem; }
.mn-wi2  {  min-width: 2rem; }
.mn-wi3  {  min-width: 4rem; }
.mn-wi4  {  min-width: 8rem; }
.mn-wi5  {  min-width: 16rem; }
.mn-wi6  {  min-width: 32rem; }
.mn-wi7  {  min-width: 48rem; }
.mn-wi8  {  min-width: 64rem; }
.mn-wi9  {  min-width: 96rem; }
.mn-wi10 {  min-width: 128rem; }

.mn-wi-max  { min-width: max-content; }
.mn-wi-min  { min-width: min-content; }
.mn-wi-fit  { min-width: fit-content; }
.mn-wi-fill { min-width: fill-available; }

}

@include break(medium) {
.mn-wi-100  { min-width: 100%; }
.mn-wi-75   { min-width: 75%; }
.mn-wi-50   { min-width: 50%; }
.mn-wi-25   { min-width: 25%; }

.mn-wi1  {  min-width: 1rem; }
.mn-wi2  {  min-width: 2rem; }
.mn-wi3  {  min-width: 4rem; }
.mn-wi4  {  min-width: 8rem; }
.mn-wi5  {  min-width: 16rem; }
.mn-wi6  {  min-width: 32rem; }
.mn-wi7  {  min-width: 48rem; }
.mn-wi8  {  min-width: 64rem; }
.mn-wi9  {  min-width: 96rem; }
.mn-wi10 {  min-width: 128rem; }

.mn-wi-max  { min-width: max-content; }
.mn-wi-min  { min-width: min-content; }
.mn-wi-fit  { min-width: fit-content; }
.mn-wi-fill { min-width: fill-available; }

}

@include break(large) {
.mn-wi-100  { min-width: 100%; }
.mn-wi-75   { min-width: 75%; }
.mn-wi-50   { min-width: 50%; }
.mn-wi-25   { min-width: 25%; }

.mn-wi1  {  min-width: 1rem; }
.mn-wi2  {  min-width: 2rem; }
.mn-wi3  {  min-width: 4rem; }
.mn-wi4  {  min-width: 8rem; }
.mn-wi5  {  min-width: 16rem; }
.mn-wi6  {  min-width: 32rem; }
.mn-wi7  {  min-width: 48rem; }
.mn-wi8  {  min-width: 64rem; }
.mn-wi9  {  min-width: 96rem; }
.mn-wi10 {  min-width: 128rem; }

.mn-wi-max  { min-width: max-content; }
.mn-wi-min  { min-width: min-content; }
.mn-wi-fit  { min-width: fit-content; }
.mn-wi-fill { min-width: fill-available; }

}

