/* ==========================================================================
   OPACITY
   ========================================================================== */

/* Opacity */

.o-10 { opacity: .1; }
.o-20 { opacity: .2; }
.o-30 { opacity: .3; }
.o-40 { opacity: .4; }
.o-50 { opacity: .5; }
.o-60 { opacity: .6; }
.o-70 { opacity: .7; }
.o-80 { opacity: .8; }
.o-90 { opacity: .9; }
.o-full { opacity: 1; }

@include break(not-small) {

}

@include break(medium) {

}

@include break(large) {

}

