 /* ==========================================================================
    OVERFLOWS
    ========================================================================== */

.of-vis { overflow: visible; }
.of-hid { overflow: hidden; }
.of-scr { overflow: scroll; }
.of-aut { overflow: auto; }

@include break(not-small) {

}

@include break(medium) {

}

@include break(large) {

}

