 /* ==========================================================================
    POSITIONING
    ========================================================================== */

.pos-stat { position: static; }
.pos-rel  { position: relative; }
.pos-abs  { position: absolute; }
.pos-fix  { position: fixed; }

/* Values */

.top-0    { top:   0; }
.left-0   { left:  0; }
.right-0  { right: 0; }
.bottom-0 { right: 0; }

.top-1    { top:   1rem; }
.left-1   { left:  1rem; }
.right-1  { right: 1rem; }
.bottom-1 { right: 1rem; }

.top-2    { top:   2rem; }
.left-2   { left:  2rem; }
.right-2  { right: 2rem; }
.bottom-2 { right: 2rem; }

.top-4    { top:   4rem; }
.left-4   { left:  4rem; }
.right-4  { right: 4rem; }
.bottom-4 { right: 4rem; }

/* Top Percentage based scale */

.top-10  { top: 10%; }
.top-20  { top: 20%; }
.top-30  { top: 30%; }
.top-40  { top: 40%; }
.top-50  { top: 50%; }
.top-60  { top: 60%; }
.top-70  { top: 70%; }
.top-80  { top: 80%; }
.top-90  { top: 90%; }
.top-100 { top: 100%; }

.top-auto { top: auto; }
.top-i { top: inherit; ;}

.center { margin: 0 auto; }

@include break(not-small) {

}

@include break(medium) {

}

@include break(large) {

}

