 /* ==========================================================================
    POSITIONING

    - Utilities
    - Values
    ========================================================================== */

/* Utilities */

.pos-stat { position: static; }
.pos-rel  { position: relative; }
.pos-abs  { position: absolute; }
.pos-fix  { position: fixed; }

/* Values */

.top-0    { top: 0; }
.left-0   { left: 0; }
.right-0  { right: 0; }
.bottom-0 { right: 0; }

.center { margin: 0 auto; }
