 /* ==========================================================================
    RESIZE
    ========================================================================== */

.resize-none { resize: none; }
.resize-both { resize: both; }
.resize-hor  { resize: horizontal; }
.resize-ver  { resize: vertical; }

@include break(not-small) {

}

@include break(medium) {

}

@include break(large) {

}

