 /* ==========================================================================
    RESIZE
    ========================================================================== */

.resize-none { resize: none; }
.resize-both { resize: both; }
.resize-hor  { resize: horizontal; }
.resize-ver  { resize: vertical; }

