/* ==========================================================================
   SQUARES
   ========================================================================== */

.sq1 { width: 1rem;  height: 1rem; }
.sq2 { width: 2rem;  height: 2rem; }
.sq3 { width: 4rem;  height: 4rem; }
.sq4 { width: 8rem;  height: 8rem; }
.sq5 { width: 16rem; height: 16rem; }
.sq6 { width: 32rem; height: 32rem; }
.sq7 { width: 48rem; height: 48rem; }
.sq8 { width: 64rem; height: 64rem; }
.sq9 { width: 96rem; height: 96rem; }

