/* Text Align */

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }
.ts  { text-align: start; }
.te  { text-align: end; }
.tmp { text-align: match-parent; }
.tse { text-align: start end; }
.tp  { text-align: "."; }
.tsp { text-align: start "."; }
.tpe { text-align: "." end; }

