/* Text Decoration */

.under  { text-decoration: underline; }
.over   { text-decoration: overline; }
.strike { text-decoration: line-through; }
.blink  { text-decoration: blink; }
.none   { text-decoration: none; }


