/* ==========================================================================
   TRANSITION PROPERTY
   ========================================================================== */

.tp-n   { transition-property: none; }
.tp-all { transition-property: all; }
.tp-i   { transition-property: inherit; }
.tp-c   { transition-property: color; }
.tp-bc  { transition-property: background-color; }
.tp-w   { transition-property: width; }
.tp-h   { transition-property: height; }
.tp-l   { transition-property: left; }
.tp-r   { transition-property: right; }
.tp-t   { transition-property: top; }
.tp-b   { transition-property: bottom; }
.tp-o   { transition-property: opacity; }

@include break(not-small) {
  .tp-n-ns   { transition-property: none; }
  .tp-all-ns { transition-property: all; }
  .tp-i-ns   { transition-property: inherit; }
  .tp-c-ns   { transition-property: color; }
  .tp-bc-ns  { transition-property: background-color; }
  .tp-w-ns   { transition-property: width; }
  .tp-h-ns   { transition-property: height; }
  .tp-l-ns   { transition-property: left; }
  .tp-r-ns   { transition-property: right; }
  .tp-t-ns   { transition-property: top; }
  .tp-b-ns   { transition-property: bottom; }
  .tp-o-ns   { transition-property: opacity; }
}

@include break(medium) {
  .tp-n-m   { transition-property: none; }
  .tp-all-m { transition-property: all; }
  .tp-i-m   { transition-property: inherit; }
  .tp-c-m   { transition-property: color; }
  .tp-bc-m  { transition-property: background-color; }
  .tp-w-m   { transition-property: width; }
  .tp-h-m   { transition-property: height; }
  .tp-l-m   { transition-property: left; }
  .tp-r-m   { transition-property: right; }
  .tp-t-m   { transition-property: top; }
  .tp-b-m   { transition-property: bottom; }
  .tp-o-m   { transition-property: opacity; }
}

@include break(large) {
  .tp-n-l   { transition-property: none; }
  .tp-all-l { transition-property: all; }
  .tp-i-l   { transition-property: inherit; }
  .tp-c-l   { transition-property: color; }
  .tp-bc-l  { transition-property: background-color; }
  .tp-w-l   { transition-property: width; }
  .tp-h-l   { transition-property: height; }
  .tp-l-l   { transition-property: left; }
  .tp-r-l   { transition-property: right; }
  .tp-t-l   { transition-property: top; }
  .tp-b-l   { transition-property: bottom; }
  .tp-o-l   { transition-property: opacity; }
}

