/* ==========================================================================
   TRANSITIONS
   ========================================================================== */

/* Transition Delay */

.tdl-1 { transition-delay: 1s; }
.tdl-2 { transition-delay: 2s; }
.tdl-3 { transition-delay: 3s; }
.tdl-4 { transition-delay: 5s; }
.tdl-i { transition-delay: initial; }

/* Transition Duration */

.td-1 { transition-duration: 120ms; }
.td-2 { transition-duration: .3s; }
.td-3 { transition-duration: .6s; }
.td-4 { transition-duration: 1s; }
.td-5 { transition-duration: 5s; }
.td-i { transition-duration: inherit; }


/* Transition Properties */

.tp-n   { transition-property: none; }
.tp-all { transition-property: all; }
.tp-i   { transition-property: inherit; }
.tp-c   { transition-property: color; }
.tp-bc   { transition-property: background-color; }
.tp-w   { transition-property: width; }
.tp-h   { transition-property: height; }
.tp-l   { transition-property: left; }
.tp-r   { transition-property: right; }
.tp-t   { transition-property: top; }
.tp-b   { transition-property: bottom; }
.tp-o   { transition-property: opacity; }


/* Transition Timing Functions */

.ttf-e { transition-timing-function: ease; }
.ttf-ei { transition-timing-function: ease-in; }
.ttf-eo { transition-timing-function: ease-out; }
.ttf-eio { transition-timing-function: ease-in-out; }
.ttf-lin { transition-timing-function: linear; }
.ttf-cb { transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1); }
.ttf-ss { transition-timing-function: step-start; }
.ttf-se  { transition-timing-function: step-end; }
.ttf-steps { transition-timing-function: steps(4, end); }
.ttf-i { transition-timing-function: inherit; }

@include break(not-small) {
  .tdl-1-ns { transition-delay: 1s; }
  .tdl-2-ns { transition-delay: 2s; }
  .tdl-3-ns { transition-delay: 3s; }
  .tdl-4-ns { transition-delay: 5s; }
  .tdl-i-ns { transition-delay: initial; }
  .td-1-ns { transition-duration: 120ms; }
  .td-2-ns { transition-duration: .3s; }
  .td-3-ns { transition-duration: .6s; }
  .td-4-ns { transition-duration: 1s; }
  .td-5-ns { transition-duration: 5s; }
  .td-i-ns { transition-duration: inherit; }
  .tp-n-ns   { transition-property: none; }
  .tp-all-ns { transition-property: all; }
  .tp-i-ns   { transition-property: inherit; }
  .tp-c-ns   { transition-property: color; }
  .tp-bc-ns   { transition-property: background-color; }
  .tp-w-ns   { transition-property: width; }
  .tp-h-ns   { transition-property: height; }
  .tp-l-ns   { transition-property: left; }
  .tp-r-ns   { transition-property: right; }
  .tp-t-ns   { transition-property: top; }
  .tp-b-ns   { transition-property: bottom; }
  .tp-o-ns   { transition-property: opacity; }
  .ttf-e-ns { transition-timing-function: ease; }
  .ttf-ei-ns { transition-timing-function: ease-in; }
  .ttf-eo-ns { transition-timing-function: ease-out; }
  .ttf-eio-ns { transition-timing-function: ease-in-out; }
  .ttf-lin-ns { transition-timing-function: linear; }
  .ttf-cb-ns { transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1); }
  .ttf-ss-ns { transition-timing-function: step-start; }
  .ttf-se-ns  { transition-timing-function: step-end; }
  .ttf-steps-ns { transition-timing-function: steps(4, end); }
  .ttf-i-ns { transition-timing-function: inherit; }
}
@include break(medium) {
  .tdl-1-m { transition-delay: 1s; }
  .tdl-2-m { transition-delay: 2s; }
  .tdl-3-m { transition-delay: 3s; }
  .tdl-4-m { transition-delay: 5s; }
  .tdl-i-m { transition-delay: initial; }
  .td-1-m { transition-duration: 120ms; }
  .td-2-m { transition-duration: .3s; }
  .td-3-m { transition-duration: .6s; }
  .td-4-m { transition-duration: 1s; }
  .td-5-m { transition-duration: 5s; }
  .td-i-m { transition-duration: inherit; }
  .tp-n-m   { transition-property: none; }
  .tp-all-m { transition-property: all; }
  .tp-i-m   { transition-property: inherit; }
  .tp-c-m   { transition-property: color; }
  .tp-bc-m   { transition-property: background-color; }
  .tp-w-m   { transition-property: width; }
  .tp-h-m   { transition-property: height; }
  .tp-l-m   { transition-property: left; }
  .tp-r-m   { transition-property: right; }
  .tp-t-m   { transition-property: top; }
  .tp-b-m   { transition-property: bottom; }
  .tp-o-m   { transition-property: opacity; }
  .ttf-e-m { transition-timing-function: ease; }
  .ttf-ei-m { transition-timing-function: ease-in; }
  .ttf-eo-m { transition-timing-function: ease-out; }
  .ttf-eio-m { transition-timing-function: ease-in-out; }
  .ttf-lin-m { transition-timing-function: linear; }
  .ttf-cb-m { transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1); }
  .ttf-ss-m { transition-timing-function: step-start; }
  .ttf-se-m  { transition-timing-function: step-end; }
  .ttf-steps-m { transition-timing-function: steps(4, end); }
  .ttf-i-m { transition-timing-function: inherit; }
}

@include break(large) {
  .tdl-1-l { transition-delay: 1s; }
  .tdl-2-l { transition-delay: 2s; }
  .tdl-3-l { transition-delay: 3s; }
  .tdl-4-l { transition-delay: 5s; }
  .tdl-i-l { transition-delay: initial; }
  .td-1-l { transition-duration: 120ms; }
  .td-2-l { transition-duration: .3s; }
  .td-3-l { transition-duration: .6s; }
  .td-4-l { transition-duration: 1s; }
  .td-5-l { transition-duration: 5s; }
  .td-i-l { transition-duration: inherit; }
  .tp-n-l   { transition-property: none; }
  .tp-all-l { transition-property: all; }
  .tp-i-l   { transition-property: inherit; }
  .tp-c-l   { transition-property: color; }
  .tp-bc-l   { transition-property: background-color; }
  .tp-w-l   { transition-property: width; }
  .tp-h-l   { transition-property: height; }
  .tp-l-l   { transition-property: left; }
  .tp-r-l   { transition-property: right; }
  .tp-t-l   { transition-property: top; }
  .tp-b-l   { transition-property: bottom; }
  .tp-o-l   { transition-property: opacity; }
  .ttf-e-l { transition-timing-function: ease; }
  .ttf-ei-l { transition-timing-function: ease-in; }
  .ttf-eo-l { transition-timing-function: ease-out; }
  .ttf-eio-l { transition-timing-function: ease-in-out; }
  .ttf-lin-l { transition-timing-function: linear; }
  .ttf-cb-l { transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1); }
  .ttf-ss-l { transition-timing-function: step-start; }
  .ttf-se-l  { transition-timing-function: step-end; }
  .ttf-steps-l { transition-timing-function: steps(4, end); }
  .ttf-i-l { transition-timing-function: inherit; }
}
