/* ==========================================================================
   TEXT UTILITIES

   - Text Transform
   - Text Align
   - Text Decoration
   - Font Weights
   - Font Style
   - Font Family Groups
   - Font Variant

   ========================================================================== */

/* Type Scale */

body  { font-size: 1.2rem; }
p     { line-height: 1.5; }
small, .small { font-size: .85rem; }

h1, .f1    { font-size: 2rem; }
h2, .f2    { font-size: 1.5rem; }
h3, .f3    { font-size: 1.2rem; }
h4, .f4    { font-size: 1.2rem; }
h5, .f5    { font-size: 1.2rem; }
h6, .f6    { font-size: 1.2rem; }

@include break(not-small){
 .f1-ns { font-size: 2rem; }
 .f2-ns { font-size: 1.5rem; }
 .f3-ns { font-size: 1.2rem; }
 .f4-ns { font-size: 1.2rem; }
 .f5-ns { font-size: 1rem; }
 .f6-ns { font-size: .85rem; }
}

@include break(medium) {
 .f1-m { font-size: 2rem; }
 .f2-m { font-size: 1.5rem; }
 .f3-m { font-size: 1.2rem; }
 .f4-m { font-size: 1.2rem; }
 .f5-m { font-size: 1rem; }
 .f6-m { font-size: .85rem; }
}

@include break(large) {
  .f1-l { font-size: 3rem; }
  .f2-l { font-size: 2rem; }
  .f3-l { font-size: 1.5rem; }
  .f4-l { font-size: 1.2rem; }
  .f5-l { font-size: 1rem; }
  .f6-l { font-size: 1rem; }
}

/* Text Align */

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }
.ts  { text-align: start; }
.te  { text-align: end; }
.tmp { text-align: match-parent; }
.tse { text-align: start end; }
.tp  { text-align: "."; }
.tsp { text-align: start "."; }
.tpe { text-align: "." end; }


/* Text Decoration */

.under  { text-decoration: underline; }
.over   { text-decoration: overline; }
.strike { text-decoration: line-through; }
.blink  { text-decoration: blink; }
.none   { text-decoration: none; }


/* Font Weights */

.fwn { font-weight: normal; }
.b   { font-weight: bold; }

.fw1 { font-weight: 100; }
.fw2 { font-weight: 200; }
.fw3 { font-weight: 300; }
.fw4 { font-weight: 400; }
.fw5 { font-weight: 500; }
.fw6 { font-weight: 600; }
.fw7 { font-weight: 700; }
.fw8 { font-weight: 800; }
.fw9 { font-weight: 900; }

/* Font Style */

.fsn      { font-style: normal; }
.i        { font-style: italic; }
.oblique  { font-style: oblique; }

/* Font Family Groups */

.serif       { font-family: georgia, serif; }
.sans-serif  { font-family: helvetica, arial, sans-serif; }
.font-fantasy { font-family: fantasy; }
.font-cursive { font-family: cursive; }
.font-mono    { font-family: monospace; }

/* Font Variant */

.small-caps { font-variant: small-caps; }

/* Vertical Alignment */

.v-base     { vertical-align: baseline; }
.v-sub      { vertical-align: sub; }
.v-sup      { vertical-align: super; }
.v-txt-top  { vertical-align: text-top; }
.v-txt-btm  { vertical-align: text-bottom; }
.v-mid      { vertical-align: middle; }
.v-top      { vertical-align: top; }
.v-btm      { vertical-align: bottom; }


/* Leading */

.lh      { line-height: 1; }
.lh-copy { line-height: 1.6; }
.lh-2    { line-height: 2; }
.lh-3    { line-height: 3; }

/* Tracking */

.tracked {      letter-spacing: 0.1em; }
.mega-tracked { letter-spacing: 0.2em; }

@include break(not-small) {
  .tl-ns  { text-align: left; }
  .tr-ns  { text-align: right; }
  .tc-ns  { text-align: center; }
  .tj-ns  { text-align: justify; }
  .ts-ns  { text-align: start; }
  .te-ns  { text-align: end; }
  .tmp-ns { text-align: match-parent; }
  .tse-ns { text-align: start end; }
  .tp-ns  { text-align: "."; }
  .tsp-ns { text-align: start "."; }
  .tpe-ns { text-align: "." end; }
  .under-ns  { text-decoration: underline; }
  .over-ns   { text-decoration: overline; }
  .strike-ns { text-decoration: line-through; }
  .blink-ns  { text-decoration: blink; }
  .none-ns   { text-decoration: none; }
  .fwn-ns { font-weight: normal; }
  .b-ns   { font-weight: bold; }
  .fw1-ns { font-weight: 100; }
  .fw2-ns { font-weight: 200; }
  .fw3-ns { font-weight: 300; }
  .fw4-ns { font-weight: 400; }
  .fw5-ns { font-weight: 500; }
  .fw6-ns { font-weight: 600; }
  .fw7-ns { font-weight: 700; }
  .fw8-ns { font-weight: 800; }
  .fw9-ns { font-weight: 900; }
  .fsn-ns      { font-style: normal; }
  .i-ns        { font-style: italic; }
  .oblique-ns  { font-style: oblique; }
  .serif-ns       { font-family: georgia, serif; }
  .sans-serif-ns  { font-family: helvetica, arial, sans-serif; }
  .font-fantasy-ns { font-family: fantasy; }
  .font-cursive-ns { font-family: cursive; }
  .font-mono-ns    { font-family: monospace; }
  .small-caps-ns { font-variant: small-caps; }
  .v-base-ns     { vertical-align: baseline; }
  .v-sub-ns      { vertical-align: sub; }
  .v-sup-ns      { vertical-align: super; }
  .v-txt-top-ns  { vertical-align: text-top; }
  .v-txt-btm-ns  { vertical-align: text-bottom; }
  .v-mid-ns      { vertical-align: middle; }
  .v-top-ns      { vertical-align: top; }
  .v-btm-ns      { vertical-align: bottom; }
  .lh-ns      { line-height: 1; }
  .lh-copy-ns { line-height: 1.6; }
  .lh-2-ns    { line-height: 2; }
  .lh-3-ns    { line-height: 3; }
  .tracked-ns {      letter-spacing: 0.1em; }
  .mega-tracked-ns { letter-spacing: 0.2em; }
}

@include break(medium) {
  .tl-m  { text-align: left; }
  .tr-m  { text-align: right; }
  .tc-m  { text-align: center; }
  .tj-m  { text-align: justify; }
  .ts-m  { text-align: start; }
  .te-m  { text-align: end; }
  .tmp-m { text-align: match-parent; }
  .tse-m { text-align: start end; }
  .tp-m  { text-align: "."; }
  .tsp-m { text-align: start "."; }
  .tpe-m { text-align: "." end; }
  .under-m  { text-decoration: underline; }
  .over-m   { text-decoration: overline; }
  .strike-m { text-decoration: line-through; }
  .blink-m  { text-decoration: blink; }
  .none-m   { text-decoration: none; }
  .fwn-m { font-weight: normal; }
  .b-m   { font-weight: bold; }
  .fw1-m { font-weight: 100; }
  .fw2-m { font-weight: 200; }
  .fw3-m { font-weight: 300; }
  .fw4-m { font-weight: 400; }
  .fw5-m { font-weight: 500; }
  .fw6-m { font-weight: 600; }
  .fw7-m { font-weight: 700; }
  .fw8-m { font-weight: 800; }
  .fw9-m { font-weight: 900; }
  .fsn-m      { font-style: normal; }
  .i-m        { font-style: italic; }
  .oblique-m  { font-style: oblique; }
  .serif-m       { font-family: georgia, serif; }
  .sans-serif-m  { font-family: helvetica, arial, sans-serif; }
  .font-fantasy-m { font-family: fantasy; }
  .font-cursive-m { font-family: cursive; }
  .font-mono-m    { font-family: monospace; }
  .small-caps-m { font-variant: small-caps; }
  .v-base-m     { vertical-align: baseline; }
  .v-sub-m      { vertical-align: sub; }
  .v-sup-m      { vertical-align: super; }
  .v-txt-top-m  { vertical-align: text-top; }
  .v-txt-btm-m  { vertical-align: text-bottom; }
  .v-mid-m      { vertical-align: middle; }
  .v-top-m      { vertical-align: top; }
  .v-btm-m      { vertical-align: bottom; }
  .lh-m      { line-height: 1; }
  .lh-copy-m { line-height: 1.6; }
  .lh-2-m    { line-height: 2; }
  .lh-3-m    { line-height: 3; }
  .tracked-m {      letter-spacing: 0.1em; }
  .mega-tracked-m { letter-spacing: 0.2em; }
}

@include break(large) {
  .tl-l  { text-align: left; }
  .tr-l  { text-align: right; }
  .tc-l  { text-align: center; }
  .tj-l  { text-align: justify; }
  .ts-l  { text-align: start; }
  .te-l  { text-align: end; }
  .tmp-l { text-align: match-parent; }
  .tse-l { text-align: start end; }
  .tp-l  { text-align: "."; }
  .tsp-l { text-align: start "."; }
  .tpe-l { text-align: "." end; }
  .under-l  { text-decoration: underline; }
  .over-l   { text-decoration: overline; }
  .strike-l { text-decoration: line-through; }
  .blink-l  { text-decoration: blink; }
  .none-l   { text-decoration: none; }
  .fwn-l { font-weight: normal; }
  .b-l   { font-weight: bold; }
  .fw1-l { font-weight: 100; }
  .fw2-l { font-weight: 200; }
  .fw3-l { font-weight: 300; }
  .fw4-l { font-weight: 400; }
  .fw5-l { font-weight: 500; }
  .fw6-l { font-weight: 600; }
  .fw7-l { font-weight: 700; }
  .fw8-l { font-weight: 800; }
  .fw9-l { font-weight: 900; }
  .fsn-l      { font-style: normal; }
  .i-l        { font-style: italic; }
  .oblique-l  { font-style: oblique; }
  .serif-l       { font-family: georgia, serif; }
  .sans-serif-l  { font-family: helvetica, arial, sans-serif; }
  .font-fantasy-l { font-family: fantasy; }
  .font-cursive-l { font-family: cursive; }
  .font-mono-l    { font-family: monospace; }
  .small-caps-l { font-variant: small-caps; }
  .v-base-l     { vertical-align: baseline; }
  .v-sub-l      { vertical-align: sub; }
  .v-sup-l      { vertical-align: super; }
  .v-txt-top-l  { vertical-align: text-top; }
  .v-txt-btm-l  { vertical-align: text-bottom; }
  .v-mid-l      { vertical-align: middle; }
  .v-top-l      { vertical-align: top; }
  .v-btm-l      { vertical-align: bottom; }
  .lh-l      { line-height: 1; }
  .lh-copy-l { line-height: 1.6; }
  .lh-2-l    { line-height: 2; }
  .lh-3-l    { line-height: 3; }
  .tracked-l {      letter-spacing: 0.1em; }
  .mega-tracked-l { letter-spacing: 0.2em; }
}
