/* ==========================================================================
   VISIBILITY
   ========================================================================== */


.vis          { visibility: visible; }
.vis-hidden   { visibility: hidden; }
.vis-collapse { visibility: collapse; }
.vis-bf-vis { backface-visibility: visible; }
.vis-bf-hid { backface-visibility: hidden; }

/*
    Text that is hidden but accessible
    From: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.clipped {
  position: fixed !important;
  _position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

