/* ==========================================================================
   WHITE SPACE
   ========================================================================== */

.ws-norm    { white-space: normal; }
.ws-nowrap  { white-space: nowrap; }
.ws-pre     { white-space: pre; }
.ws-prewrap { white-space: pre-wrap; }
.ws-preline { white-space: pre-line; }

