/* ==========================================================================
   WIDTHS
   ========================================================================== */

.wi-10   { width: 10%; }
.wi-25   { width: 25%; }
.wi-50   { width: 50%; }
.wi-75   { width: 75%; }
.wi-full { width: 100%; }

.wi1   { width: 1rem; }
.wi2   { width: 2rem; }
.wi3   { width: 4rem; }
.wi4   { width: 8rem; }
.wi5   { width: 16rem; }
.wi6   { width: 32rem; }
.wi7   { width: 48rem; }
.wi8   { width: 64rem; }
.wi9   { width: 96rem; }
.wi10  { width: 128rem; }

.wi-bb { width: border-box; }
.wi-cb { width: content-box; }
.wi-mx { width: max-content; }
.wi-mn { width: min-content; }
.wi-av { width: available; }
.wi-fc { width: fit-content; }
.wi-at { width: auto; }
.wi-i  { width: inherit; }
@include break(not-small) {
.wi-10   { width: 10%; }
.wi-25   { width: 25%; }
.wi-50   { width: 50%; }
.wi-75   { width: 75%; }
.wi-full { width: 100%; }

.wi1   { width: 1rem; }
.wi2   { width: 2rem; }
.wi3   { width: 4rem; }
.wi4   { width: 8rem; }
.wi5   { width: 16rem; }
.wi6   { width: 32rem; }
.wi7   { width: 48rem; }
.wi8   { width: 64rem; }
.wi9   { width: 96rem; }
.wi10  { width: 128rem; }

.wi-bb { width: border-box; }
.wi-cb { width: content-box; }
.wi-mx { width: max-content; }
.wi-mn { width: min-content; }
.wi-av { width: available; }
.wi-fc { width: fit-content; }
.wi-at { width: auto; }
.wi-i  { width: inherit; }

}

@include break(medium) {
.wi-10   { width: 10%; }
.wi-25   { width: 25%; }
.wi-50   { width: 50%; }
.wi-75   { width: 75%; }
.wi-full { width: 100%; }

.wi1   { width: 1rem; }
.wi2   { width: 2rem; }
.wi3   { width: 4rem; }
.wi4   { width: 8rem; }
.wi5   { width: 16rem; }
.wi6   { width: 32rem; }
.wi7   { width: 48rem; }
.wi8   { width: 64rem; }
.wi9   { width: 96rem; }
.wi10  { width: 128rem; }

.wi-bb { width: border-box; }
.wi-cb { width: content-box; }
.wi-mx { width: max-content; }
.wi-mn { width: min-content; }
.wi-av { width: available; }
.wi-fc { width: fit-content; }
.wi-at { width: auto; }
.wi-i  { width: inherit; }

}

@include break(large) {
.wi-10   { width: 10%; }
.wi-25   { width: 25%; }
.wi-50   { width: 50%; }
.wi-75   { width: 75%; }
.wi-full { width: 100%; }

.wi1   { width: 1rem; }
.wi2   { width: 2rem; }
.wi3   { width: 4rem; }
.wi4   { width: 8rem; }
.wi5   { width: 16rem; }
.wi6   { width: 32rem; }
.wi7   { width: 48rem; }
.wi8   { width: 64rem; }
.wi9   { width: 96rem; }
.wi10  { width: 128rem; }

.wi-bb { width: border-box; }
.wi-cb { width: content-box; }
.wi-mx { width: max-content; }
.wi-mn { width: min-content; }
.wi-av { width: available; }
.wi-fc { width: fit-content; }
.wi-at { width: auto; }
.wi-i  { width: inherit; }

}

