/* ==========================================================================
   WORD SPACING
   ========================================================================== */

.ws-1 { word-spacing: normal; }
.ws-2 { word-spacing: 0.3em; }
.ws-3 { word-spacing: -0.43em; } /* For eliminating space between inline-block elements */

