/* ==========================================================================
   WORD BREAK
   ========================================================================== */

.wb-nor { word-break: normal; }
.wb-ba {  word-break: break-all; }
.wb-ka {  word-break: keep-all; }
.wb-i {   word-break: inherit; }

