/* ==========================================================================
   WRITING MODES
   ========================================================================== */

.wm-horizontal-tb { writing-mode: horizontal-tb; }
.wm-rl-tb {         writing-mode: rl-tb; }
.wm-vertical-lr {   writing-mode: vertical-lr; }
.wm-vertical-rl{    writing-mode: vertical-rl;}
.wm-bt-rl {         writing-mode: bt-rl; }
.wm-bt-lr{          writing-mode: bt-lr; }
.wm-lr-bt{          writing-mode: lr-bt; }
.wm-rl-bt{          writing-mode: rl-bt; }

